<style lang="scss">
.sw-panel{
  &__header{
    height: 40px;
    border-top: 1px solid $color--light--border;
    cursor: pointer;
    user-select: none;

    &--expanded{
      border-top: 1px solid $color-selected;
    }

    &__arrow {
      &--expanded {
        #{BEM_getParent()}__cont {
          transform: rotate(270deg);
        }
      }

      &__cont {
        width: 30px;
        height: 30px;
        font-size: 16px;
        color: $color--light--icon;
        transform: rotate(180deg);
        transition: transform 200ms ease;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: $typo--nunito--font-weight-extra-light;
      color: $color--light--text;
      padding-right: $padding-primary;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__summary {
      padding-right: $padding-primary-small;

      &__text {
        font-size: 13px;
        color: $color--dark--slider;
        white-space: nowrap;
      }

      &__status {
        overflow: hidden;
      }

      &__text + &__status, &__text + &__toggle {
        margin-left: $margin-primary-small;
      }
    }
  }

  &__main {
    &__inner {
      padding: $padding-primary 30px;
    }

    &__bullet__container {
      padding: 20px 2px 20px 35px;
    }

    &__bullet {
      border-top: solid 1px #CCCCCC;
      padding-right: 10px;
      height: 42px;

      &__title {
        font-size: 16px;
        font-weight: $typo--nunito--font-weight-extra-light;
        color: $color--light--text;
        padding: 5px 20px 5px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__text{
        font-size: 13px;
        color: $color--dark--slider;
        white-space: nowrap;
        &__status {
          margin-left: 10px;
        }
      }
    }
  }

  &--dark {
    #{BEM_getParent()}__header {
      background-color: $color--dark--base-2;
      border-top: 1px solid $color--dark--border-2;

      &__arrow {
        &__cont {
          color: $color--dark--icon;
        }
      }

      &__title {
        color: $color--dark--icon;
      }

      &__summary {
        &__text {
          color: #bcbcbc;
        }
      }

      &--expanded{
        border-top: 1px solid $color-selected;
      }
    }
  }
}
</style>
<script lang="tsx">
import { VNode, CreateElement } from 'vue';
import { Component, Prop, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { SwStatusFlag } from '../sw-status-flag';
import { SwToggle } from '../sw-toggle';
import { SwTransitionExpand } from '../sw-transition';
import SwPanelGroup from './sw-panel-group.vue';
import {
  ProvidedPanelParam,
  PanelSummaryConfig,
  PanelBulletConfig,
} from './types';
import { VueRenderFunction } from '../common-types';
import { utilService } from '../util-service';

const cssPrefix = 'sw-panel';

/**
 * @event request-toggle-change `(toggled: boolean)`
 */
@Component({
  components:{
    SwIcon,
    SwToggle,
    SwStatusFlag,
    SwTransitionExpand,
  },
})
export default class SwPanel extends SwExtendedVue{
  // props
  @Prop({ type: String, required: true })
  panelId: string;

  @Prop({ type: [String, Function], default: '' })
  title: string | VueRenderFunction;

  @Prop({ type: Object, default: null })
  summaryConfig: PanelSummaryConfig | null;

  @Prop({ type: Array, default: null })
  panelBullets: PanelBulletConfig[] | null;

  @Inject()
  panelParam: ProvidedPanelParam;

  // data
  cssPrefix = cssPrefix;

  // computed
  get isExpanded(): boolean {
    return this.panelParam.expandedPanels.findIndex(e => (e === this.panelId)) >= 0;
  }

  get theme(): string {
    return this.panelParam.theme;
  }

  get toggleName(): string {
    return `__panel-toggle-${Math.floor(Math.random() * 100000000)}`;
  }

  // methods
  @Inject()
  readonly claimPanelExpanded: SwPanelGroup['claimPanelExpanded'];

  private onHeaderClick(event: MouseEvent) {
    event.stopPropagation();
    this.claimPanelExpanded(this.panelId, !this.isExpanded);
  }

  private handleToggleChange(value: boolean, ev:Event) {
    ev.stopPropagation();
    this.$emit('request-toggle-change', value);
  }

  private render(h: CreateElement): VNode {// tslint:disable-line
    const rootNode: VNode = (
      <div class={[`${cssPrefix}`, `${cssPrefix}--${this.theme}`, 'sw-flexbox', 'sw-flexbox--column']}>
        <div
          class={[`${cssPrefix}__header`,
            'sw-flexbox__flex-none',
            'sw-flexbox', 'sw-flexbox--center-items',
            { [`${cssPrefix}__header--expanded`]: this.isExpanded },
          ]}
          on-click={this.onHeaderClick}
        >
          <span class={[`${cssPrefix}__header__arrow`, { [`${cssPrefix}__header__arrow--expanded`]: this.isExpanded }, 'sw-flexbox__flex-none']}>
            <span class={[`${cssPrefix}__header__arrow__cont`, 'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']}>
              <sw-icon name="arrow-left" as-block />
            </span>
          </span>
          <div class={[`${cssPrefix}__header__title`, 'sw-flexbox__flex']}>{
            typeof this.title === 'string' ? this.title : this.title(h)
          }</div>
          {
            !!this.summaryConfig ? (
              <div
                class={[`${cssPrefix}__header__summary`,
                  'sw-flexbox__flex-none',
                  'sw-flexbox', 'sw-flexbox--center-items',
                ]}
              >
              { !!this.summaryConfig.text ? (<span class={[`${cssPrefix}__header__summary__text`]}>{ this.summaryConfig.text }</span>) : null }
              {
                this.summaryConfig.controlMode === 'status' ? (
                  <span class={[`${cssPrefix}__header__summary__status`]}>
                    <sw-status-flag props-name={this.summaryConfig.controlValue} as-block />
                  </span>
                ) : (this.summaryConfig.controlMode === 'toggle' ? (
                  <sw-toggle
                    class={[`${cssPrefix}__header__summary__toggle`]}
                    props-name={this.toggleName} value={!!this.summaryConfig.controlValue}
                    on-change={this.handleToggleChange}
                  ></sw-toggle>
                ) : null)
              }
              </div>
            ) : null
          }
        </div>
        <sw-transition-expand direction="vertical">
          <div class={[`${cssPrefix}__main`]} v-show={this.isExpanded}>
          {
            this.panelBullets !== null ? (
              <div class={`${cssPrefix}__main__bullet__container`}>
              {
                this.panelBullets.map<VNode>((panelBullet, index) => {
                  return (
                    <div
                      key={index}
                      class={[`${cssPrefix}__main__bullet`, 'sw-flexbox']}
                    >
                      <span class={[`${cssPrefix}__main__bullet__title`, 'sw-flexbox', 'sw-flexbox--center-items']}>{panelBullet.title}</span>
                      <span class={['sw-flexbox', 'sw-flexbox__flex']}></span>
                      <span class={[`${cssPrefix}__main__bullet__text`, 'sw-flexbox', 'sw-flexbox--center-items']}>
                        {panelBullet.text}
                        <sw-status-flag
                          class={[`${cssPrefix}__main__bullet__text__status`, 'sw-flexbox', 'sw-flexbox--center-items']}
                          name={panelBullet.controlValue}
                        />
                      </span>
                    </div> as VNode
                  );
                })
              }
              </div>
            ) : null
          }
          {
            !!this.$scopedSlots.default ? (
              <div class={[`${cssPrefix}__main__inner`]}>
                { utilService.getVueScopedSlot(this.$scopedSlots) }
              </div>
            ) : null
          }
          </div>
        </sw-transition-expand>
      </div> as VNode
    );

    return rootNode;
  }
}
</script>
