<template>
<div :class="[`${cssPrefix}`,
  {
    [`${cssPrefix}--vertical`]: forVertical,
    [`${cssPrefix}--horizontal`]: !forVertical,
  }]"
  :style="{zIndex: zIndex}"
>
  <div :class="[`${cssPrefix}__track`, `${cssPrefix}__track--${theme}`]">
    <div :class="[`${cssPrefix}__track__thumb`]" :style="thumbStyle" @mousedown="onDragThumb"></div>
  </div>
</div>
</template>

<style lang="scss">
.sw-scroll-view-scrollbar {
  overflow: hidden;
  position: absolute;
  user-select: none;

  &--vertical {
    right: 0;
    width: 8px;
    height: 100%;

    #{BEM_getParent()}__track {
      height: 100%;

      &__thumb {
        height: 0;
      }
    }
  }

  &--horizontal {
    bottom: 0;
    height: 8px;
    width: 100%;

    #{BEM_getParent()}__track {
      height: 100%;

      &__thumb {
        height: 100%;
        width: 0;
      }
    }
  }

  &__track {
    overflow: hidden;
    background-color: rgba(#000, 0.15);

    &--dark {
      background-color: rgba(#fff,0.15);

      #{BEM_getParent()}__thumb {
        background-color: rgba(#fff, 0.3);

        &:hover {
          background-color: rgba(#fff, 0.5);
        }
        &:active {
          background-color: rgba(#fff, 0.7);
        }
      }
    }

    &__thumb {
      position: relative;
      top: 0;
      left: 0;
      border-radius: 4px;
      background-color: rgba(#000, 0.3);

      &:hover {
        background-color: rgba(#000, 0.5);
      }
      &:active {
        background-color: rgba(#000, 0.7);
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { domService } from '../dom-service';
import SwScrollView from './sw-scroll-view.vue';
import { CSSStyleOptions } from '../common-types';

@Component
export default class SwScrollViewScrollbar extends SwExtendedVue {
  @Prop({ type: Boolean, default: false })
  forVertical: boolean;

  @Prop({ type: String, default: 'light' })
  theme: string;

  @Prop({ type: Number, required: true })
  clientSize: number;

  @Prop({ type: Number, required: true })
  scrollSize: number;

  @Prop({ type: Number, required: true })
  zIndex: number;

  @Prop({ type: Number, default: 20 })
  minSize: number;

  cssPrefix: string = 'sw-scroll-view-scrollbar';
  readyToShow: number = 0;
  percentagePos: number = 0;

  get thumbMetrics() {
    if (!this.readyToShow || !this.scrollSize) { return null; }
    const selfSize = this.forVertical ? (this.$el as HTMLElement).offsetHeight : (this.$el as HTMLElement).offsetWidth;
    const thumbSize = Math.max(Math.floor((selfSize * this.clientSize) / this.scrollSize), this.minSize);
    return {
      trackSize: selfSize,
      size: thumbSize,
      pos: (selfSize - thumbSize) * this.percentagePos,
    };
  }

  get thumbStyle(): CSSStyleOptions {
    if (!this.thumbMetrics) { return {}; }
    return {
      [this.forVertical ? 'height' : 'width']: `${this.thumbMetrics.size}px`,
      [this.forVertical ? 'top' : 'left']: `${this.thumbMetrics.pos}px`,
    };
  }

  updatePosition(percentagePos: number) {
    this.percentagePos = percentagePos;
  }

  onDragThumb(event: MouseEvent) {
    if (!this.thumbMetrics) { return; }

    event.preventDefault();

    const startPoint = this.forVertical ? event.clientY : event.clientX;
    const startPos = this.thumbMetrics.pos;
    const self = this;

    /** we know for sure the $parent is sw-scroll-view! */
    (this.$parent as SwScrollView).lockScrollbar = true;

    function onMouseMove(e: MouseEvent) {
      if (!self.thumbMetrics) { return; }
      e.preventDefault();
      const curPoint: number = self.forVertical ? e.clientY : e.clientX;
      let curPercentage: number = (startPos + (curPoint - startPoint)) / (self.thumbMetrics.trackSize - self.thumbMetrics.size);
      curPercentage = Math.max(Math.min(curPercentage, 1), 0);
      self.percentagePos = curPercentage;
      (self.$parent as SwScrollView).updatePercentagePosition(curPercentage, self.forVertical);
    }

    function onMouseUp(e: MouseEvent) {
      e.preventDefault();
      document.removeEventListener('mousemove', onMouseMove);
      document.removeEventListener('mouseup', onMouseUp);

      (self.$parent as SwScrollView).lockScrollbar = false;
    }

    document.addEventListener('mousemove', onMouseMove);
    document.addEventListener('mouseup', onMouseUp);
  }

  private onVisibilityChange() {
    this.readyToShow += 1;
  }

  private mounted() {
    this.readyToShow += 1;
    this.$nextTick(() => {
      domService.visibilityObserver.on(this.$el as HTMLElement, this.onVisibilityChange);
    });
  }

  private beforeDestroy() {
    if (this.$el) {
      domService.visibilityObserver.off(this.$el as HTMLElement);
    }
  }
}
</script>
