<template>
  <div :class="[`${cssPrefix}`]">
    <div :class="[`${cssPrefix}__head`, 'sw-flexbox', 'sw-flexbox--center-items']">
      <sw-nav-standalone-collapse-trigger
        :class="[`${cssPrefix}__head__collapse-trigger`, 'sw-flexbox__flex-none']"
        :collapsed="navCollapsed"
        theme="dark"
        @click.native="onClickCollapseTrigger"
      />
      <div :class="[`${cssPrefix}__head__app-name`, 'sw-flexbox__flex-none']">
        <span>Unified UI Framework</span><span v-if="showAppVersion"
          :class="[`${cssPrefix}__head__app-version`]"
          v-tooltip="appVersionTooltip"
        >v{{ appVersion.version }}</span>
      </div>
      <div :class="[`${cssPrefix}__head__top-nav`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--center-items']">
        <sw-icon-tab-divider
          :class="['sw-flexbox__flex-none']"
          :width="3"
          :color="'#aaa'"
        />
        <sw-top-nav
          :class="['sw-flexbox__flex-none']"
          :mode="topNavMode"
          :items="topNavItems"
          :selected="selectedTopTabItemId"
          @select="onSelectTopNavItem"
        />
      </div>
      <div :class="['sw-flexbox__flex']"></div>
      <div :class="[`${cssPrefix}__head__actions`, 'sw-flexbox__flex-none']">
        <sw-action-bar>
          <sw-badge :class="['sw-ftr-badge__badge']" :content="3" placement="top-left" inset="full">
            <div class="sw-ftr-badge__block">
              <sw-action-bar-item>
                <sw-drop-menu
                  :opened="localeMenuOpened"
                  :items="localeMenuItems"
                  with-arrow
                  @select="onSelectLocale"
                  @request-close="localeMenuOpened = false"
                >
                <sw-country-icon :iso-code="localeCountryCode" :height="24" rounded clickable as-block
                  @click.native="localeMenuOpened = !localeMenuOpened"
                />
                </sw-drop-menu>
              </sw-action-bar-item>
            </div>
          </sw-badge>
        </sw-action-bar>
      </div>
    </div>
    <!-- <div :class="[`${cssPrefix}__title`, 'sw-flexbox', 'sw-flexbox--center-items']">
      <span :class="['sw-typo-heading-1']">{{ pageTitle }}</span>
    </div> -->
    <div :class="[`${cssPrefix}__crumbs`]">
      <sw-breadcrumb :items="breadcrumbs" :class="[`${cssPrefix}__crumbs_inner`]"/>
    </div>
  </div>
</template>
<style lang="scss">
.sw-app-header {
  overflow: visible;
  padding: 0 0 0 0;

  &__head {
    margin: 0 0;
    padding: 0 $padding-primary-large 0 $padding-primary-small;
    height: 48px;
    background-color: $color-default;

    &__collapse-trigger {
      margin-right: 0;
    }
    &__app-name {
      font-size: 14px;
      font-weight: $typo--nunito--font-weight-semi-bold;
      color: #aaa;
      padding: 0 50px 0 $padding-primary-small;
    }
    &__app-version {
      display: inline-block;
      margin-left: $margin-primary-small / 2;
      font-size: 12px;
      font-weight: $typo--nunito--font-weight-light;
    }
  }

  &__title {
    height: 70px;
  }

  &__crumbs {
    background-color: #dcdcd0;
  }
  
  &__crumbs_inner {
    padding: 25px;;
    color : #D26714;
  }
}
</style>

<script lang="tsx">
import { VNode } from 'vue';
import { Component } from 'vue-property-decorator';
import { State, Mutation } from 'vuex-class';
import moment from 'moment';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { VuexMappedMutation, VueRenderFunction } from '@libs-uuif/shared/common-types';
import { SwIconButton } from '@libs-uuif/shared/sw-icon-button';
import { SwIconTabDivider } from '@libs-uuif/shared/sw-icon-tab';
import { SwCountryIcon } from '@libs-uuif/shared/sw-country-icon';
import { SwActionBar, SwActionBarItem } from '@libs-uuif/shared/sw-action-bar';
import { SwBreadcrumb, BreadcrumbItem } from '@libs-uuif/shared/sw-breadcrumb';
import { SwTopNav, SwNavStandaloneCollapseTrigger, TopNavItem } from '@libs-uuif/shared/sw-nav';
import { TooltipDirValues } from '@libs-uuif/shared/tooltip-dir';
import { SwDropMenu, DropMenuItem } from '@libs-uuif/shared/sw-drop-menu';
import { CoreStoreState, SelectTopTabItemPayload, SelectNavItemPayload, SetAppLocalePayload, SetNavCollapsedPayload } from '@/core';
import { RootStoreState } from '@/store';
import { navService, NavNode } from '@/shared/nav-service';
import { i18nService } from '@libs-uuif/shared/i18n-service';
import { SwBadge } from '@libs-uuif/shared/sw-badge';

@Component({
  components: {
    SwIconButton,
    SwIconTabDivider,
    SwCountryIcon,
    SwActionBar,
    SwActionBarItem,
    SwBreadcrumb,
    SwDropMenu,
    SwNavStandaloneCollapseTrigger,
    SwTopNav,
    SwBadge,
  },
})
export default class SwAppHeader extends SwExtendedVue {
  @State((state: RootStoreState) => state.CoreStoreModule.selectedTopTabItemId)
  selectedTopTabItemId: CoreStoreState['selectedTopTabItemId'];

  @State((state: RootStoreState) => state.CoreStoreModule.selectedNavItemId)
  selectedNavItemId: CoreStoreState['selectedNavItemId'];

  @State((state: RootStoreState) => state.CoreStoreModule.navCollapsed)
  navCollapsed: CoreStoreState['navCollapsed'];

  @State((state: RootStoreState) => state.CoreStoreModule.appVersion)
  appVersion: CoreStoreState['appVersion'];

  @State((state: RootStoreState) => state.CoreStoreModule.appLocale)
  appLocale: CoreStoreState['appLocale'];

  cssPrefix: string = 'sw-app-header';

  localeMenuOpened: boolean = false;
  topNavMode: string = 'expand';

  @Mutation
  readonly selectTopTabItem: VuexMappedMutation<SelectTopTabItemPayload>;

  @Mutation
  readonly selectNavItem: VuexMappedMutation<SelectNavItemPayload>;

  @Mutation
  readonly setAppLocale: VuexMappedMutation<SetAppLocalePayload>;

  get topNavItems(): TopNavItem[] {
    const items: TopNavItem[] = [];
    navService.tabNavItems.forEach((tabItem) => {
      items.push({
        id: tabItem.navId,
        icon: { name: tabItem.icon },
        label: String(this.$t(tabItem.textI18nPath)),
      });
    });
    return items;
  }

  get pageTitle() {
    const result = navService.getNavNode(this.selectedNavItemId);
    return result && result.resNode ? String(this.$t(result.resNode.textI18nPath)) : 'No Title';
  }

  get breadcrumbs(): BreadcrumbItem[] {
    const result = navService.getNavNode(this.selectedNavItemId, true);
    if (result && result.nodeHierarchy && result.tabItem) {
      const items: BreadcrumbItem[] = [];
      items.push(
        { icon: 'home' },
        { text: String(this.$t(result.tabItem.textI18nPath)) },
      );
      result.nodeHierarchy.forEach((node) => {
        items.push({ text: String(this.$t(node.textI18nPath)) });
      });
      return items;
    }
    return [];
  }

  get showAppVersion() {
    return !!this.appVersion.buildTime;
  }

  get appVersionTooltip(): TooltipDirValues {
    return {
      placement: 'bottom',
      content: (h): VNode => {// tslint:disable-line
        const m = moment(this.appVersion.buildTime);
        if (m.isValid()) { m.local(); }
        const buildTime = m.isValid() ? m.toString() : 'Unknown';
        const gitCommit = this.appVersion.gitCommit || 'N/A';
        return (
          <div>
            <div>Build Time: { buildTime }</div>
            <div>GIT Commit: { gitCommit }</div>
          </div>
        ) as VNode;
      },
      maxWidth: 500,
    };
  }

  get localeCountryCode() {
    if (this.appLocale === 'en-US') { return 'US'; }
    if (this.appLocale === 'zh-CN') { return 'CN'; }
    if (this.appLocale === 'ja-JP') { return 'JP'; }
    return 0;
  }

  get localeMenuItems(): DropMenuItem[] {
    function genLocaleMenuItemContent(isoCode: string, languageText: string): VueRenderFunction {
      return (h): VNode => {// tslint:disable-line
        return (
          <div class={['sw-flexbox', 'sw-flexbox--center-items']}>
            <SwCountryIcon
              {...{ class: ['sw-flexbox__flex-none'] }}
              props-iso-code={isoCode}
              props-height={14}
            />
            <span class={['sw-flexbox__flex']} style={{ marginLeft: '5px' }}>{ languageText }</span>
          </div>
        ) as VNode;
      };
    }
    return [
      { id: 'en-US', content: genLocaleMenuItemContent('US', 'English (United States)') },
      { id: 'zh-CN', content: genLocaleMenuItemContent('CN', '简体中文 (大陆)') },
      { id: 'ja-JP', content: genLocaleMenuItemContent('JP', 'Japanese (Japan)') },
    ];
  }

  @Mutation
  setNavCollapsed: VuexMappedMutation<SetNavCollapsedPayload>;

  private onSelectTopNavItem(itemId: string) {
    const tabItem = navService.tabNavItems.find(i => (i.navId === itemId));
    if (!tabItem) { return; }

    if (itemId !== this.selectedTopTabItemId) {
      let item: NavNode = tabItem.navTree;
      while (item && item.children && item.children.length > 0) {
        item = item.children[0];
      }
      if (item) {
        if (item.route) {
          this.$router.push(item.route);
        }
      }
    }
    this.selectTopTabItem({
      navId: tabItem.navId,
    });
  }

  private onSelectLocale(localeId: string) {
    const prevLocale = this.appLocale;
    this.setAppLocale({ locale: localeId });
    i18nService.changeLang(this.appLocale)
      .catch(() => {
        this.setAppLocale({ locale: prevLocale });
      });
    this.localeMenuOpened = false;
  }

  private onClickCollapseTrigger() {
    this.setNavCollapsed({ collapse: !this.navCollapsed });
  }
}
</script>
