<template>
<div :class="[`${cssPrefix}`]"
  @click.stop="handleClick"
>
  <span
    v-for="option in options"
    :key="option.id"
    :class="[`${cssPrefix}__option`,
      { [`${cssPrefix}__option--selected`]: hasSelected(option) },
      'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
    ]"
    @click.prevent="handleToggle(option)"
  >
    <sw-icon v-if="!!option.icon" :name="option.icon" :size="14" />
    <span v-if="!!option.text" :class="[`${cssPrefix}__option__text`]">{{ option.text }}</span>
  </span>
  <input type="hidden" :name="name" :value="value">
</div>
</template>

<style lang="scss">
.sw-group-toggle {
  display: inline-block;

  &__option {
    border-bottom: 1px solid $color--light--border;
    min-width: 29px;
    height: 29px;
    padding: 0 7px;
    color: $color--light--icon;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $color--light--icon-hover;
    }

    &--selected{
      background-color: $color--light--text;
      color: #fff;
      border-color: $color--light--text;
      border-radius: 3px 3px 0 0;

      &:hover{
        color: #fff;
      }
    }

    &__text {
      font-size: 13px;
      font-weight: $typo--nunito--font-weight-regular;
      white-space: nowrap;
      margin-left: $margin-primary-small / 2;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Model, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { ToggleOptions, ToggleOption } from './types';

const cssPrefix: string = 'sw-group-toggle';

/**
 * Controlled form toggle group
 *
 * @event change
 */
@Component({
  components: {
    SwIcon,
  },
})
export default class SwGroupToggle extends SwExtendedVue {
  @Model('change', { type: String, required: true })
  value: string;

  @Prop({ type: String, required: true })
  name: string;

  @Prop({ required: true, type: Array })
  options: ToggleOptions;

  cssPrefix: string = cssPrefix;

  hasSelected(option: ToggleOption): boolean {
    return option.id === this.value;
  }

  handleToggle(option: ToggleOption) {
    this.$emit('change', option.id);
  }

  handleClick() {}

  @Watch('options', { deep: true })
  @Watch('value')
  reconcile() {
    /** if we found the desired value doesn't exist in provided options, we request changing the value to
     * the one existing.
     */
    const found = !this.options.every(option => (option.id !== this.value));
    if (!found && this.options.length > 0) {
      this.$emit('change', this.options[0].id);
    }
  }

  created() {
    this.reconcile();
  }
}
</script>
