<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${direction}`,
    {
      [`${cssPrefix}--off`]: isOff,
      [`${cssPrefix}--disabled`]: disabled,
    },
  ]"
  :style="rootStyle"
  @click.stop="handleToggle($event)"
><input type="hidden" :name="name" :value="submitValue" :disabled="!submitable"></div>
</template>

<style lang="scss">
.sw-toggle {
  $cssPrefix: '.sw-toggle';

  background-color: $color-status-normal;
  border-radius: 12px;
  width: 40px;
  height: 23px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease-out;

  &:after{
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
    position: absolute;
    top: 3px;
    left: 20px;
    transition: left .2s ease-out, right .2s ease-out;
  }

  &--off {
    background-color: $color--light--border;

    &:after{
      left: 3px;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .4;
  }

  &--left {
    &:after {
      left: unset;
      right: 20px;
    }
    &#{$cssPrefix}--off {
      &:after {
        left: unset;
        right: 3px;
      }
    }
  }
}
</style>
<script lang="ts">
import { Component, Prop, Model } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { CSSStyleOptions } from '../common-types';

const cssPrefix = 'sw-toggle';

/**
 * Controlled form toggle button
 *
 * @event change `(checked: boolean, event: MouseEvent)`
 */
@Component
export default class SwToggle extends SwExtendedVue {
  @Model('change', { type: Boolean, default: false })
  value: boolean;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: String, required: true })
  name: string;

  @Prop({ type: Boolean, default: true })
  submitable: boolean;

  @Prop({ type: String, default: '' })
  color: string;

  @Prop({ type: String, default: 'right' })
  direction: 'left' | 'right';

  // data
  cssPrefix = cssPrefix;

  get isOff(): boolean {
    return (!this.value);
  }

  get submitValue(): string {
    return this.isOff ? '0' : '1';
  }

  get rootStyle(): CSSStyleOptions {
    const style: CSSStyleOptions = {
      backgroundColor: !this.isOff ? (this.color || undefined) : undefined,
    };
    return style;
  }

  // methods
  private handleToggle(event:Event) {
    if (this.disabled) { return; }
    this.$emit('change', !this.value, event);
  }
}
</script>
