html, body {
  margin: 0;
  padding: 0;
}

/* Section title for API doc site  */
.sw-uuif-doc {
  &__title {
    margin-top: $margin-primary * 2;

    &:first-child {
      margin-top: 0;
    }
  }

  &__dark-cont {
    color: $color--dark--text;
    background-color: $color--dark--background;

    &--with-padding {
      padding: $padding-primary;
    }
  }
}
