.sw-flexbox {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  &--inline { display: inline-flex; }

  &--column { flex-direction: column; }
  &--row { flex-direction: row; }

  &--wrap { flex-wrap: wrap;}

  &--start-items { align-items: flex-start; }
  &--end-items { align-items: flex-end; }
  &--center-items { align-items: center; }
  &--stretch-items { align-items: stretch; }
  &--baseline-items { align-items: baseline; }

  &--start-justify { justify-content: flex-start; }
  &--end-justify { justify-content: flex-end; }
  &--center-justify { justify-content: center; }
  &--between-justify { justify-content: space-between; }
  &--around-justify { justify-content: space-around; }
  &--evenly-justify { justify-content: space-evenly; }

  &--start-content { align-content: flex-start; }
  &--end-content { align-content: flex-end; }
  &--center-content { align-content: center; }
  &--stretch-content { align-content: stretch; }
  &--between-content { align-content: space-between; }
  &--around-content { align-content: space-around; }

  &__flex {
    flex: 1 1 0%;

    /**
     * By default, the minimal main sizes for flex items are set to `auto`, which means the flex
     * items cannot shrink smaller past the size of its content, that in turn is not what we want
     * when we use flexbox as precise layout method. However, this can be overrided by setting
     * `min-width` and/or `min-height`, whose default values are `0` for regular element but `auto`
     * for flex items:
     * https://developer.mozilla.org/en-US/docs/Web/CSS/min-width
     * https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
     *
     * Therefore, we by default override these values to 0, in order to keep the precise layout.
     * But anytime when you think it is required to prevent content of flex item from overflow, you
     * can simply add the `--auto-min-size` modifier to restore the spec default behavior.
     */
    min-width: 0px;
    min-height: 0px;

    &--auto-min-size {
      min-width: auto;
      min-height: auto;
    }

    &--with-hidden {
      overflow: hidden;
    }
  }
  &__flex-none { flex: none; }
}
