/* roboto-100 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v18-latin_latin-ext-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/roboto-v18-latin_latin-ext-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* nunito-sans-200 - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-300 - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Light'), local('NunitoSans-Light'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-200italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-200italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-300italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-300italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600 - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-regular - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-600italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-700italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-800italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-900 - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Black'), local('NunitoSans-Black'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-900italic - latin_latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900italic.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'),
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans/nunito-sans-v5-latin_latin-ext-900italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
