/* Prepare for easy REM, 1rem = 10px */
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: transparentize($color: $color-selected, $amount: .6);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(#000, 0.15);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(#000, 0.3);
  border-radius: 4px;

  &:hover {
    background-color: rgba(#000, 0.5);
  }
  &:active {
    background-color: rgba(#000, 0.7);
  }
}
.scrollbar--dark::-webkit-scrollbar-track {
  background-color: rgba(#fff,0.15);
}
.scrollbar--dark::-webkit-scrollbar-thumb {
  background-color: rgba(#fff, 0.3);

  &:hover {
    background-color: rgba(#fff, 0.5);
  }
  &:active {
    background-color: rgba(#fff, 0.7);
  }
}

a {
  cursor: pointer;
  color: $color-active;
  text-decoration: none;

  &:hover {
    color: $color-selected;
  }
}
