/* Usually you could use the generic row/col rules along with `sw-flexbox` to get
 * normalized layout, as generic col rules do not specify width.
 * However, col-* rules will specify width according to 24-columns grid system,
 * you'd better NOT use it together with `sw-flexbox__flex`.
 */
.sw-grid-row {
  &--with-hidden {
    overflow: hidden;
  }

  & + & {
    margin: $margin-primary 0 0 0;
  }
}

.sw-grid-col {
  &--with-hidden {
    overflow: hidden;
  }

  & + & {
    margin: 0 0 0 $margin-primary;
  }
}
