.sw-fade {
  &-enter-active {
    transition: opacity 150ms ease-out;
  }
  &-leave-active {
    transition: opacity 50ms ease-out;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.sw-tooltip-fade {
  &-enter-active {
    transition: opacity 250ms ease-out;
  }
  &-leave-active {
    transition: opacity 50ms ease-out;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.sw-list-fade {
  &-enter-active, &-leave-active, &-move {
    transition: opacity 250ms, transform 250ms ease-out;
  }
  &-leave-active {
    position: absolute;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.sw-fade-right-in-left-out {
  &-enter {
    opacity: 0;
    transform: translate(100px);
  }
  &-enter-active, &-leave-active {
    transition: opacity 100ms, transform 100ms;
  }
  &-leave-to {
    opacity: 0;
    transform: translate(-100px);
  }
}

.sw-fade-left-in-right-out {
  &-enter {
    opacity: 0;
    transform: translate(-100px);
  }
  &-enter-active, &-leave-active {
    transition: opacity 100ms, transform 100ms;
  }
  &-leave-to {
    opacity: 0;
    transform: translate(100px);
  }
}

.sw-slide-top {
  &-enter-active, &-leave-active {
    overflow: hidden;
    transition: transform 150ms ease-out;
  }
}
