.sw-typo-heading-1 {
  font-family: $typo-heading-1-font-family;
  font-weight: $typo-heading-1-font-weight;
  font-size: $typo-heading-1-font-size;
  line-height: $typo-line-height;
}

.sw-typo-heading-2 {
  font-family: $typo-heading-2-font-family;
  font-weight: $typo-heading-2-font-weight;
  font-size: $typo-heading-2-font-size;
  line-height: $typo-line-height;
}

.sw-typo-heading-3 {
  font-family: $typo-heading-3-font-family;
  font-weight: $typo-heading-3-font-weight;
  font-size: $typo-heading-3-font-size;
  line-height: $typo-line-height;
}

.sw-typo-heading-4 {
  font-family: $typo-heading-4-font-family;
  font-weight: $typo-heading-4-font-weight;
  font-size: $typo-heading-4-font-size;
  line-height: $typo-line-height;
}

.sw-typo-heading-5 {
  font-family: $typo-heading-5-font-family;
  font-weight: $typo-heading-5-font-weight;
  font-size: $typo-heading-5-font-size;
  line-height: $typo-line-height;
}

.sw-typo-default {
  font-family: $typo-default-font-family;
  font-weight: $typo-default-font-weight;
  font-size: $typo-default-font-size;
  line-height: $typo-line-height;
}

.sw-typo-field-label {
  font-family: $typo-field-label-font-family;
  font-weight: $typo-field-label-font-weight;
  font-size: $typo-field-label-font-size;
  line-height: $typo-line-height;
}

.sw-typo-field-value {
  font-family: $typo-field-value-font-family;
  font-weight: $typo-field-value-font-weight;
  font-size: $typo-field-value-font-size;
  line-height: $typo-line-height;
}

.sw-typo-mobile-heading-1 {
  font-family: $typo-mobile-heading-1-font-family;
  font-weight: $typo-mobile-heading-1-font-weight;
  font-size: $typo-mobile-heading-1-font-size;
  line-height: $typo-line-height;
}

.sw-typo-mobile-heading-2  {
  font-family: $typo-mobile-heading-2-font-family;
  font-weight: $typo-mobile-heading-2-font-weight;
  font-size: $typo-mobile-heading-2-font-size;
  line-height: $typo-line-height;
}
