<template>
<button :class="[`${cssPrefix}`,
    `${cssPrefix}--${theme}`,
    { [`${cssPrefix}--disabled`]: disabled },
    { [`${cssPrefix}--default`]: asDefault },
  ]"
  :disabled="disabled"
  type="button"
><slot>{{name}}</slot></button>
</template>
<style lang="scss">
.sw-btn {
  height: 29px;
  padding: 0px 20px 0px 20px;
  font-family: $typo--nunito--font-family;
  font-weight: $typo--nunito--font-weight-regular;
  font-size: $typo-default-font-size;
  min-width: 100px;
  border-radius: 15px;
  background-color: $color-background-mat;
  color: $color--light--icon;
  border: 1px solid $color--light--icon;
  cursor: pointer;
  user-select: none;

  &:focus{
    outline: none;
    @include focus-shadow;
  }

  &:hover {
    color: $color--light--text;
    border: 1px solid $color-selected;
  }

  &:active{
    color: $color--light--text;
    background-color: $color-selected;
  }

  &--default, &--default:hover, &--default:active {
    color: $color-default;
    background-color: $color-selected;
    border: none;
  }

  &--disabled {
    color: $color--light--text-disabled;
    background-color: $color--light--highlight;
    border-color: $color--light--text-disabled;
    cursor: not-allowed;

    &:hover {
      color: $color--light--text-disabled;
      background-color: $color--light--highlight;
      border-color: $color--light--text-disabled;
    }
  }

  /* for dark theme */
  &--dark {
    color: $color--dark--icon;
    background-color: $color--dark--highlight;
    border-color: $color-selected;

    &:hover {
      color: $color-background-mat;
    }

    &:active{
      color: $color--light--text;
    }

    &#{BEM_getParent()}--default {
      color: $color-default;
      background-color: $color-selected;
    }

    &#{BEM_getParent()}--disabled {
      color: $color--dark--slider;
      background-color: $color--dark--highlight-2;
      border: none;
    }
  }
}
</style>

<script lang="ts">
import { Prop, Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

const cssPrefix = 'sw-btn';

@Component
export default class SwButton extends SwExtendedVue {
  @Prop({ type: Boolean, default: false }) disabled: boolean;
  @Prop({ type: Boolean, default: false }) asDefault: boolean;
  @Prop({ type: String, default: 'light' }) theme : string;
  @Prop(String) name: string;

  cssPrefix = cssPrefix;
}
</script>
