<template>
  <div :class="[`${cssPrefix}`]">
    <sw-card-view>
      <template #title><sw-avatar :selected="true" :name="representative" :image="imageURL" clickable />{{ representative }}</template>
      <template #action>
        <sw-icon-button :icon="{name: 'pencil'}"></sw-icon-button>
        <sw-icon-button :icon="{name: 'user'}"></sw-icon-button>
        <sw-icon-button :icon="{name: 'add'}"></sw-icon-button>
      </template>
      <div :class="[`${cssPrefix}__spacer-block`]">
        <sw-count-block label="TOTAL FILES SCANNED" :count="1233" :color="'blue'" orientation="right" />
        <sw-count-block label="Malicious Files" :color="'red'" :count="2" />    
      </div>
    </sw-card-view>
  </div>    
</template>
<style lang="scss">
.sw-ftr-hello-step1 {
  &__spacer-block {
    margin : 2%;
  }
}
</style>
<script lang="tsx">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwCardView } from '@libs-uuif/shared/sw-card-view';
import { SwIconButton } from '@libs-uuif/shared/sw-icon-button';
import { SwCountBlock } from '@libs-uuif/shared/sw-count-block';
import { SwAvatar } from '@libs-uuif/shared/sw-avatar';
const cssPrefix = 'sw-ftr-hello-step1';
@Component({
  components: {
    SwCardView,
    SwIconButton,
    SwAvatar,
    SwCountBlock,
  },
})
export default class SwFtrHelloStep1 extends SwExtendedVue {
  cssPrefix = cssPrefix;
  @Prop(String) readonly representative : string | undefined;
  imageURL : string = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpxIe0OVRjKfGO6IEVI2zNaQwXW4wzL8Yl7A&usqp=CAU';
}
</script>