<template>
  <div :class="[`${cssPrefix}`]">
    <sw-table :columns-config="basicColumnsConfig" :table-data="basicData" :footer-config="{}"
      size="normal"
      :sorted-columns="sortedColumns"
      @request-sort="onRequestSorting"
      :pagination="paginationConfig"
      @request-change-page-number="onChangePageNumber"
      @request-change-page-size="onChangePageSizer"
      selection-mode="single"
      @entry-selecting="onSingleSelectEntry"
    />
    <sw-ftr-hello-sonicwall-modal :representative="representative" :display="display" 
    @listenDisplayToggle="display=$event" v-if="display"/>
  </div>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwTable } from '@libs-uuif/shared/sw-table';
import { SwButton } from '@libs-uuif/shared/sw-button';
import {
  TableEntry,
  TableColumnConfig,
  SortedColumnInfo,
  ColumnSortRequestData,
  PaginationConfig,
  PageNumberChangeRequestData,
  PageSizeChangeRequestData,
  TableEntrySelectingEventData } from '@libs-uuif/shared/sw-table/types';
import  { SwFtrHelloSonicwallModal } from '../sw-ftr-hello-sonicwall-modal';

const cssPrefix = 'sw-ftr-hello-sonicwall-table';

@Component({
  components: {
    SwTable,
    SwButton,
    SwFtrHelloSonicwallModal,
  },
})

export default class SwFtrHelloSonicwallTable extends SwExtendedVue {
  cssPrefix = cssPrefix;
  sortedColumns: SortedColumnInfo[] = [];
  display : boolean = false;
  singleSelectedEntries = new Set<string>();
  shadowSingleSelectedEntries: string[] = [];
  representative : string = '';
  get basicColumnsConfig(): TableColumnConfig[] {
    return [{
      key: 'date',
      dataKey: 'date',
      title: 'Date',
      sorter: true,
    }, {
      key: 'region',
      dataKey: 'region',
      title: 'Region',
    }, {
      key: 'rep',
      dataKey: 'rep',
      title: 'Representative',
    }, {
      key: 'item',
      dataKey: 'item',
      title: 'Item',
    }, {
      key: 'units',
      dataKey: 'units',
      title: 'Units',
      sorter: true,
    }, {
      key: 'unitcost',
      dataKey: 'unitcost',
      title: 'Unit Cost',
      sorter: true,
    }, {
      key: 'total',
      dataKey: 'total',
      title: 'Total',
      sorter: true,
    }, {
      key: 'done',
      dataKey: 'done',
      title: 'Done',
      width: 'auto',
    },
    ];
  }
  get basicData(): TableEntry[] {
    return [
      { _key: '1', done: true, date: '1/6/2016', region: 'East', rep: 'Jones', item: 'Pencil', units: 95, unitcost: 1.99, total: 189.05 },
      { _key: '2', done: true, date: '1/23/2016', region: 'Central', rep: 'Kivell', item: 'Binder', units: 50, unitcost: 19.99, total: 999.50 },
      { _key: '3', done: false, date: '3/15/2016', region: 'West', rep: 'Sorvino', item: 'Pencil', units: 56, unitcost: 2.99, total: 167.44 },
      { _key: '4', done: false, date: '4/18/2016', region: 'Central', rep: 'Andrews', item: 'Pencil', units: 75, unitcost: 1.99, total: 149.25 },
      { _key: '5', done: false, date: '9/1/2016', region: 'Central', rep: 'Smith', item: 'Desk', units: 2, unitcost: 125.00, total: 250.00 },
      { _key: '6', done: false, date: '9/18/2016', region: 'East', rep: 'Jones', item: 'Pen Set', units: 16, unitcost: 15.99, total: 255.84 },
      { _key: '7', done: true, date: '1/6/2016', region: 'East', rep: 'Jones', item: 'Pencil', units: 95, unitcost: 1.99, total: 189.05 },
      { _key: '8', done: true, date: '1/23/2016', region: 'Central', rep: 'Kivell', item: 'Binder', units: 50, unitcost: 19.99, total: 999.50 },
      { _key: '9', done: false, date: '3/15/2016', region: 'West', rep: 'Sorvino', item: 'Pencil', units: 56, unitcost: 2.99, total: 167.44 },
      { _key: '10', done: false, date: '4/18/2016', region: 'Central', rep: 'Andrews', item: 'Pencil', units: 75, unitcost: 1.99, total: 149.25 },
      { _key: '11', done: false, date: '9/1/2016', region: 'Central', rep: 'Smith', item: 'Desk', units: 2, unitcost: 125.00, total: 250.00 },
      { _key: '12', done: false, date: '9/18/2016', region: 'East', rep: 'Jones', item: 'Pen Set', units: 16, unitcost: 15.99, total: 255.84 },
    ];
  }
  get basicInitSelectedIds() {
    return this.basicData.filter((d, index) => !!(index % 2))// tslint:disable-line
      .map<string>(d => d._key);
  }

  onRequestSorting(data: ColumnSortRequestData) {
    /** for now, we only support single-column sorting */
    const index = this.sortedColumns.findIndex(col => (col.colKey === data.colKey));
    if (index < 0) {
      if (data.cancel) { return; }
      this.sortedColumns.splice(0);
      this.sortedColumns.push({
        colKey: data.colKey,
        ascending: !!data.ascending,
      });
    } else {
      if (data.cancel) {
        this.sortedColumns.splice(index, 1);
        return;
      }
      this.sortedColumns[index].ascending = !!data.ascending;
    }
  }
  paginationConfig: PaginationConfig = {
    pageNumber: 1,
    pageSize: 5,
  };

  onChangePageNumber(data: PageNumberChangeRequestData) {
    this.paginationConfig.pageNumber = data.pageNumber;
  }
  onChangePageSizer(data: PageSizeChangeRequestData) {
    this.paginationConfig.pageSize = data.pageSize;
    /** we also need to make sure the page number is within the reasonable range */
    this.paginationConfig.pageNumber = Math.min(
      this.paginationConfig.pageNumber,
      Math.ceil(this.basicColumnsConfig.length / this.paginationConfig.pageSize),
    );
  }
  commonOnEntrySelecting(data: TableEntrySelectingEventData, toSet: Set<string>, toShadow: string[]) {
    if (data.selecting) {
      toSet.add(data.entryKey);
    } else {
      toSet.delete(data.entryKey);
    }
    toShadow.splice(0);
    Array.prototype.push.apply(toShadow, Array.from(toSet));
  }

  onSingleSelectEntry(data: TableEntrySelectingEventData) {
    this.commonOnEntrySelecting(data, this.singleSelectedEntries, this.shadowSingleSelectedEntries);
    this.display = this.singleSelectedEntries.size === 0 ? false : true;
    const selectedEntryArray : string[] = Array.from(this.singleSelectedEntries);
    const selectedEntryInNumeric = parseInt(selectedEntryArray[0], 10) - 1;
    this.representative = this.basicData[selectedEntryInNumeric].rep;
  }
}
</script>
