<template>
  <span :class="['sw-file-upload']">
    <input v-if="submittable || allowFileUploadComponent" v-show="false" type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()">
    <span @click="addFiles()">
      <slot name="custom">
        <sw-button v-if="!disabled">Add Files</sw-button>
        <sw-button v-else disabled>Add Files</sw-button>
      </slot>
    </span>
  </span>
</template>

<style lang="scss">
.sw-file-upload {
}
</style>

<script lang="ts">
import { Component, Model, Prop, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwButton } from '../sw-button';
// v-model submit conflict

@Component({
  components: {
    SwButton,
  },
})
export default class SwFileUpload extends SwExtendedVue {
  @Model('input', { required: true })
  value: File[];

  @Prop({ type: Boolean, required: false, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, required: false, default: true })
  submittable: boolean;

  files:File[] = this.value;
  allowFileUploadComponent = false;

  addFiles() {
    if (!this.submittable) {
      this.allowFileUploadComponent = true;
    }
    setTimeout(() => {
      (this.$refs.files as HTMLElement).click();
    },         0);
  }

  @Watch('value')
  updateFiles() {
    this.files = this.value;
  }

  handleFilesUpload() {
    const uploadedFiles = (this.$refs.files as HTMLInputElement).files;
    (this.$refs.files as HTMLInputElement).type = 'text';
    (this.$refs.files as HTMLInputElement).type = 'file';

    if (uploadedFiles !== null) {
      for (let i = 0; i < uploadedFiles.length; i += 1) {
        if (uploadedFiles[i]) {
          this.files.push(uploadedFiles[i]);
        }
      }
    }
    if (!this.submittable) {
      this.allowFileUploadComponent = false;
    }
    this.$emit('input', this.files);
  }
}
</script>
