<template>
<div :class="[`${cssPrefix}`, 'sw-typo-default',
    { [`${cssPrefix}--compact`]: compact }
  ]"
>
  <div :class="[`${cssPrefix}__inner`]" :style="innerStyle"><slot></slot></div>
  <div :class="[`${cssPrefix}__arrow`]" x-arrow></div>
</div>
</template>

<style lang="scss">
.sw-tooltip {
  $cssPrefix: '.sw-tooltip';
  $size-regular: 10px;
  $opacity: .9;

  overflow: visible;
  font-weight: $typo--nunito--font-weight-regular;
  color: $color--dark--text;
  z-index: $zindex-popper-tooltip;

  &__inner {
    overflow: auto;
    background-color: rgba($color--dark--background, $opacity);
    border-radius: 3px;
    padding: $size-regular * 2;
  }

  &__arrow {
    width: 0;
    height: 0;
    border: $size-regular solid transparent;
    position: absolute;
  }

  &[x-placement^=top] {
    padding-bottom: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-bottom-width: 0;
      border-top-color: rgba($color--dark--background, $opacity);
      bottom: 0;
      left: calc(50% - #{$size-regular});
      margin-left: 0;//$size-regular * 2;
      margin-right: 0;//$size-regular * 2;
    }
  }

  &[x-placement^=right] {
    padding-left: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-left-width: 0;
      border-right-color: rgba($color--dark--background, $opacity);
      left: 0;
      top: calc(50% - #{$size-regular});
      margin-top: 0;//$size-regular * 2;
      margin-bottom: 0;//$size-regular * 2;
    }
  }

  &[x-placement^=bottom] {
    padding-top: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-top-width: 0;
      border-bottom-color: rgba($color--dark--background, $opacity);
      top: 0;
      left: calc(50% - #{$size-regular});
      margin-left: 0;//$size-regular * 2;
      margin-right: 0;//$size-regular * 2;
    }
  }

  &[x-placement^=left] {
    padding-right: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-right-width: 0;
      border-left-color: rgba($color--dark--background, $opacity);
      right: 0;
      top: calc(50% - #{$size-regular});
      margin-top: 0;//$size-regular * 2;
      margin-bottom: 0;//$size-regular * 2;
    }
  }

  &--compact {
    #{$cssPrefix}__inner {
      padding: $size-regular;
    }

    #{$cssPrefix}__arrow {
      border-width: $size-regular / 2;
    }

    &[x-placement^=top] {
      padding-bottom: $size-regular / 2;

      & > #{$cssPrefix}__arrow {
        bottom: 0;
        margin-left: 0;//$size-regular;
        margin-right: 0;//$size-regular;
      }
    }

    &[x-placement^=right] {
      padding-left: $size-regular / 2;

      & > #{$cssPrefix}__arrow {
        left: 0;
        margin-top: 0;//$size-regular;
        margin-bottom: 0;//$size-regular;
      }
    }

    &[x-placement^=bottom] {
      padding-top: $size-regular / 2;

      & > #{$cssPrefix}__arrow {
        top: 0;
        margin-left: 0;//$size-regular;
        margin-right: 0;//$size-regular;
      }
    }

    &[x-placement^=left] {
      padding-right: $size-regular / 2;

      & > #{$cssPrefix}__arrow {
        right: 0;
        margin-top: 0;//$size-regular;
        margin-bottom: 0;//$size-regular;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { CSSStyleOptions } from '../common-types';
import { SwExtendedVue } from '../sw-extended-vue';

@Component
export default class SwTooltip extends SwExtendedVue {
  @Prop({ type: Boolean, default: false })
  compact: boolean;

  @Prop({ type: Number, default: 200 })
  maxWidth: number;

  @Prop({ type: Number, default: 180 })
  maxHeight: number;

  cssPrefix: string = 'sw-tooltip';

  get innerStyle(): CSSStyleOptions {
    return {
      maxHeight: `${this.maxHeight}px`,
      maxWidth: `${this.maxWidth}px`,
    };
  }
}
</script>
