<template>
<div :class="[`${cssPrefix}`]">
  <div :class="[`${cssPrefix}__inner`, 'sw-flexbox']">
    <div :class="[`${cssPrefix}__info`, 'sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--center-items']">
      <div :class="[`${cssPrefix}__info-number`]">{{ numberInfo }}</div>
      <span>&nbsp;|&nbsp;</span>
      <div :class="[`${cssPrefix}__page-size`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--center-items']">
        <span>{{ pageSizeInfo }}</span>
        <span :class="[`${cssPrefix}__dropdown`,
            'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
            { [`${cssPrefix}__dropdown--active`]: showPageSizeDropdown },
          ]"
          v-dropdown="pageSizeDropdownValue"
          @click="onClickPageSizeArrow"
        >
          <sw-icon name="arrow-up" :rotate="180" :size="14" />
        </span>
      </div>
    </div>
    <div :class="[`${cssPrefix}__control`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--center-items']">
      <span :class="[`${cssPrefix}__control-label`, 'sw-flexbox__flex-none']">{{ $t(`${i18nPathPrefix}.pagePrefix`) }}</span>
      <sw-slider :class="[`${cssPrefix}__slider`, 'sw-flexbox__flex-none']"
        size="large"
        :circle-size="70"
        :categories="pagesCategories"
        :value="pageSliderValue"
        @change="onChangePageNumber"
        @drag-done="onDragDonePageNumber"
      />
    </div>
  </div>
</div>
</template>

<style lang="scss">
.sw-table-pagination {
  padding-top: $padding-primary-small;

  &__inner {
    height: 26px;
  }

  &__dropdown {
    width: 26px;
    height: 26px;
    color: $color--light--icon;
    cursor: pointer;
    user-select: none;

    &:hover:not(&--active) {
      color: $color--light--icon-hover;
    }

    &--active {
      color: $color-selected;
    }
  }

  &__control-label {
    margin-right: $margin-primary-small;
  }

  &__slider {
    width: 240px;
    padding-top: 1px;
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { SwSlider, SliderChangeSrcOperation } from '../sw-slider';
import { dropdown, SwDropdownUnit, DropdownDirValues } from '../dropdown-dir';
import SwTable from './sw-table.vue';
import {
  PaginationConfig,
} from './types';

const cssPrefix = 'sw-table-pagination';
const i18nPathPrefix = 'libShared.SwTable';

@Component({
  components: {
    SwIcon,
    SwSlider,
  },
  directives: {
    dropdown,
  },
})
export default class SwTablePagination extends SwExtendedVue {
  @Prop({ required: true, type: Object })
  effectivePaginationConfig: PaginationConfig;

  cssPrefix = cssPrefix;
  i18nPathPrefix = i18nPathPrefix;
  showPageSizeDropdown = false;

  get numberInfo(): string {
    // if (!this.effectivePaginationConfig) { return ''; }
    const start = (this.effectivePaginationConfig.pageNumber - 1) * this.effectivePaginationConfig.pageSize;
    const end = Math.min(start + this.effectivePaginationConfig.pageSize, this.effectivePaginationConfig.datasetTotal!);
    const currentStr = this.$t(`${i18nPathPrefix}.paginationNumberInfo.current`, {
      end,
      start: Math.min(start + 1, end),
    })
      .toString();
    const totalStr = this.$tc(`${i18nPathPrefix}.paginationNumberInfo.total`, this.effectivePaginationConfig.datasetTotal);
    return `${currentStr}${totalStr}`;
  }

  get pageSizeInfo(): string {
    if (!this.effectivePaginationConfig) { return ''; }
    return this.$t(`${i18nPathPrefix}.paginationPageSizeInfo`, { count: this.effectivePaginationConfig.pageSize })
      .toString();
  }

  get pageSizeDropdownValue(): DropdownDirValues {
    return {
      withArrow: false,
      placement: this.effectivePaginationConfig && this.effectivePaginationConfig.placement === 'top' ? 'top-end' : 'bottom-end',
      content: this.pageSizeDropdownContentRender,
      visible: this.showPageSizeDropdown,
    };
  }

  get pagesCategories(): string[] {
    const cats: string[] = [];

    if (this.effectivePaginationConfig) {
      const totalPages = Math.ceil(this.effectivePaginationConfig.datasetTotal! / this.effectivePaginationConfig.pageSize);
      for (let i = 1; i <= totalPages; i += 1) {
        cats.push(`${i} / ${totalPages}`);
      }
    }

    return cats;
  }

  get pageSliderValue(): string {
    if (!this.effectivePaginationConfig) { return ''; }
    return this.pagesCategories[this.effectivePaginationConfig.pageNumber - 1];
  }

  @Inject()
  claimChangePagination: SwTable['claimChangePagination'];

  pageSizeDropdownContentRender(h: CreateElement): VNode[] {// tslint:disable-line
    const options: VNode[] = [];

    if (this.effectivePaginationConfig) {
      this.effectivePaginationConfig.pageSizeOpts!.forEach((opt) => {
        options.push(
          <SwDropdownUnit nativeOn-click={() => { this.onSelectPageSize(opt); }}>
          {opt} per page
          </SwDropdownUnit> as VNode,
        );
      });
    }

    return options;
  }

  onClickPageSizeArrow() {
    this.showPageSizeDropdown = !this.showPageSizeDropdown;
  }

  onSelectPageSize(pageSize: number) {
    this.claimChangePagination('page-size', pageSize);
    this.showPageSizeDropdown = false;
  }

  onChangePageNumber(pageNumValue: string, sourceOperation: SliderChangeSrcOperation) {
    const pageNum = Number(pageNumValue.split('/')[0]);
    if (!isNaN(pageNum)) {
      this.claimChangePagination('page-number', pageNum, sourceOperation === 'drag');
    }
  }

  onDragDonePageNumber(pageNumValue: string) {
    const pageNum = Number(pageNumValue.split('/')[0]);
    if (!isNaN(pageNum)) {
      this.claimChangePagination('page-number', pageNum, false);
    }
  }
}
</script>
