<style lang="scss">
.sw-table-body {
  overflow: hidden;

  &__cont {
    &__table {
      width: 100%;
    }
  }
  &__cont-native {
    overflow: auto;
  }

  &__slide-cont {
    overflow: visible;
    position: relative;
    width: 0;
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop, Inject } from 'vue-property-decorator';
// import _ from 'lodash';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { SwScrollView, OverflowEvent } from '../sw-scroll-view';
import { SwTransitionExpand } from '../sw-transition';
import SwTable from './sw-table.vue'; // only for types
import SwTableRow from './sw-table-row.vue';
import SwTableExpandRow from './sw-table-expand-row.vue';
import SwTableExpandSlide from './sw-table-expand-slide.vue';
import SwTableRowInsertCaret from './sw-table-row-insert-caret.vue';
import SwTableGroupRow from './sw-table-group-row.vue';
import { utilService } from './util.service';
import {
  TableColumnConfig,
  TableEntry,
  SortedColumnInfo,
  TableBodyMetrics,
  TableRowClaimExpandEventData,
  TableColumnRenderFunc,
  TableRowExpandMode,
  TableEntryFloatActionsGenerator,
  PaginationConfig,
  ClaimedRowInsertCaret,
  TableData,
  TableEntryIndexInfo,
  TableEntryGroup,
  FloatActionPlacement,
} from './types';
import { CSSStyleOptions, LooseObject } from '../common-types';
import { domService } from '../dom-service';

const cssPrefix = 'sw-table-body';

/**
 * @event `dom-updated`
 * @event `scroll`
 * @event overflow `(event: OverflowEvent)`
 */
@Component({
  components: {
    SwIcon,
    SwScrollView,
    SwTransitionExpand,
    SwTableRow,
    SwTableExpandRow,
    SwTableExpandSlide,
    SwTableRowInsertCaret,
    SwTableGroupRow,
  },
})
export default class SwTableBody extends SwExtendedVue {
  @Prop({ type: Array, required: true })
  columnsConfig: TableColumnConfig[];

  @Prop({ type: Array, required: true })
  effectiveColumnsConfig: TableColumnConfig[];

  @Prop({ type: Array, required: true })
  tableData: TableData;

  @Prop({ type: String, required: true })
  expandMode: TableRowExpandMode;

  @Prop({ type: Boolean, required: true })
  accordion: boolean;

  @Prop({ type: Function })
  expandRender: TableColumnRenderFunc;

  @Prop({ type: Array, required: true })
  sortedColumns: SortedColumnInfo[];

  @Prop({ type: String, required: true })
  theme: SwTable['theme'];

  @Prop({ type: String, required: true })
  size: SwTable['size'];

  @Prop({ type: Boolean, required: true })
  stripe: boolean;

  @Prop({ type: Boolean, required: true })
  border: boolean;

  @Prop({ type: Number, required: true })
  nestLevel: number;

  @Prop({ type: Number, required: true })
  indentSize: number;

  @Prop({ type: Boolean, required: true })
  noBackground: boolean;

  @Prop({ type: Array, default() { return []; } })
  selectedArr: string[];

  @Prop({ type: Array, default() { return []; } })
  expandedArr: string[];

  @Prop({ type: Object, default: null })
  effectivePaginationConfig: PaginationConfig | null;

  @Prop({ type: Function })
  getFloatActions: TableEntryFloatActionsGenerator;

  @Prop({ type: Object, required: true })
  bodyMetrics: TableBodyMetrics;

  @Prop({ type: [Boolean, String], default: false })
  forFixedPortion: boolean | 'left' | 'right';

  @Prop({ type: Boolean, required: true })
  clickRowToExpand: boolean;

  @Prop({ type: Boolean, required: true })
  clickRowToSelect: boolean;

  @Prop({ type: Boolean, required: true })
  isLoadingData: boolean;

  @Prop({ type: Boolean, required: true })
  rowDraggable: boolean;

  @Prop({ type: Array, required: true })
  collapsedGroups: string[];

  @Prop({ type: Boolean, default: false })
  scrollbarAutoHide: boolean;

  @Prop({ type: String, required: true })
  floatActionPosition: FloatActionPlacement;

  cssPrefix = cssPrefix;
  lastClaimedExpandData: TableRowClaimExpandEventData | null = null;
  cachedRowInsertCaretInfo: ClaimedRowInsertCaret | null = null;

  scrollFrameId: number = 0;
  throttleReportFrameId: number = 0;

  get withGrouping() {
    return !utilService.isTableEntryArray(this.tableData);
  }

  get rowStartIndex(): number {
    if (this.effectivePaginationConfig) {
      return (Math.max(this.effectivePaginationConfig.pageNumber - 1, 0) * this.effectivePaginationConfig.pageSize);
    }
    return 0;
  }

  get rowProps() {
    return {
      columnsConfig: this.columnsConfig,
      effectiveColumnsConfig: this.effectiveColumnsConfig,
      columnsStyle: this.effectiveColumnsConfig.map<CSSStyleOptions>((col, index, arr) => {
        return utilService.getColStyles(col, index, arr[index + 1]);
      }),
      accordion: this.accordion,
      theme: this.theme,
      size: this.size,
      stripe: this.stripe,
      border: this.border,
      nestLevel: this.nestLevel,
      indentSize: this.indentSize,
      bodyMetrics: this.bodyMetrics,
      noBackground: this.noBackground,
      forTreeTable: this.isForTreeTable,
      forFixedPortion: !!this.forFixedPortion,
      clickRowToExpand: this.clickRowToExpand,
      clickRowToSelect: this.clickRowToSelect,
      rowDraggable: this.rowDraggable,
      floatActionPosition: this.floatActionPosition,
    };
  }

  get expandSlideProp() {
    if (!this.lastClaimedExpandData) { return {}; }
    if (!this.shouldShowExpandedSlide()) { return {}; }
    /** calculate slide width and the indicator position */
    const rowRect = this.lastClaimedExpandData.el.getBoundingClientRect();
    const nthChild = Math.min(2, this.effectiveColumnsConfig.length - 1);
    const cellRect = Array.from(this.lastClaimedExpandData.el.children)
      .filter(e => (e.matches('div.sw-table-row__cell:not(.sw-table-row__cell--zero-col)')))[nthChild - 1]
      .getBoundingClientRect();
    const slideWidth = (this.$el as HTMLElement).offsetWidth - (cellRect.left + cellRect.width - rowRect.left);
    const indiPos = rowRect.top - this.$el.getBoundingClientRect().top + rowRect.height / 2;
    return {
      entry: this.lastClaimedExpandData.entry,
      index: this.lastClaimedExpandData.index,
      expandRender: this.expandRender,
      nestLevel: this.nestLevel,
      selected: this.isEntrySelected(this.lastClaimedExpandData.entry),
      expanded: true,
      width: slideWidth,
      indicatorPos: indiPos,
    };
  }

  get tableStyles(): CSSStyleOptions {
    return {
      minWidth: `${utilService.calcTableWidth(this.effectiveColumnsConfig)}px`,
    };
  }

  get isForTreeTable() {
    if (this.nestLevel > 0) { return true; }
    if (utilService.isTableEntryArray(this.tableData)) {
      return this.tableData.some(entry => (!!entry._children));
    }
    return this.tableData.some((group) => {
      return group.entries.some(entry => (!!entry._children));
    });
  }

  @Inject()
  readonly claimBodyMetrics: SwTable['claimBodyMetrics'];

  @Inject()
  readonly claimMoveEntry: SwTable['claimMoveEntry'];

  private isRowExpandable = utilService.isRowExpandable;
  private calcEffectiveExpandMode = utilService.calcEffectiveExpandMode;

  private isEntrySelected(entry: TableEntry) {
    return this.selectedArr.indexOf(entry._key) >= 0;
  }

  private isEntryExpanded(entry: TableEntry) {
    return this.expandedArr.indexOf(entry._key) >= 0;
  }

  private calcRowExpandedState(entry: TableEntry): boolean {
    const effectiveExpandMode = this.calcEffectiveExpandMode(entry, this.expandMode);
    return this.isRowExpandable(this.effectiveColumnsConfig, entry, effectiveExpandMode, this.expandRender) && this.isEntryExpanded(entry);
  }

  private shouldShowExpandedRow(entry: TableEntry): boolean {
    const effectiveExpandMode = this.calcEffectiveExpandMode(entry, this.expandMode);
    return effectiveExpandMode === 'in-row'
      && this.isRowExpandable(this.effectiveColumnsConfig, entry, effectiveExpandMode, this.expandRender)
      && this.isEntryExpanded(entry);
  }

  private shouldShowExpandedSlide(): boolean {
    if (!this.lastClaimedExpandData) { return false; }
    const effectiveExpandMode = this.calcEffectiveExpandMode(this.lastClaimedExpandData.entry, this.expandMode);
    return effectiveExpandMode === 'slide'
      && this.isRowExpandable(this.effectiveColumnsConfig, this.lastClaimedExpandData.entry, effectiveExpandMode, this.expandRender)
      && this.isEntryExpanded(this.lastClaimedExpandData.entry);
  }

  private reportBodyMetrics(contComp: SwScrollView | null) {
    const toReport: Partial<TableBodyMetrics> = {};
    if (contComp) {
      toReport.top = contComp.scrollTop;
      if (!this.forFixedPortion) {
        Object.assign(toReport, {
          left: contComp.scrollLeft,
          width: contComp.scrollWidth,
          clientWidth: contComp.clientWidth,
          // NOTE: use the table height instead of scroll-view height as the min scroll-view height is 100%
          height: (this.$refs.bodyTable as HTMLElement).scrollHeight,
          clientHeight: contComp.clientHeight,
        } as TableBodyMetrics);
      }
    } else {
      toReport.top = null;
      toReport.left = null;
      toReport.width = null;
      toReport.clientWidth = null;
      toReport.height = null;
      toReport.clientHeight = null;
    }
    this.claimBodyMetrics(toReport);
  }

  private async reportBodyContMetrics(forceSyncSize: boolean = false) {
    if (!this.$refs.bodyCont) { return; }
    const bodyContComp = (this.$refs.bodyCont as SwScrollView);
    if (forceSyncSize) {
      // await bodyContComp.updateSizes();
    }
    this.reportBodyMetrics(bodyContComp);
  }

  private delayReportBodyMetrics() {
    if (this.throttleReportFrameId) { return; }
    this.throttleReportFrameId = window.requestAnimationFrame(() => {
      this.reportBodyContMetrics(true);
      this.throttleReportFrameId = 0;
    });
  }
  public shortDelayReportBodyMetrics() {
    this.delayReportBodyMetrics();
  }

  private onBodyScroll() {
    if (this.scrollFrameId) { return; }
    this.scrollFrameId = window.requestAnimationFrame(() => {
      this.reportBodyContMetrics()
        .then(() => {
          this.$emit('scroll');
        });
      this.scrollFrameId = 0;
    });
  }

  private onResize() {
    if (this.forFixedPortion) { return; }
    if (!this.$refs.bodyCont) { return; }
    this.reportBodyMetrics(null);
    this.delayReportBodyMetrics();
  }

  private onContentDomUpdated() {
    this.reportBodyContMetrics()
      .then(() => {
        this.$emit('dom-updated');
      });
  }

  private onBodyOverflow(event: OverflowEvent) {
    this.reportBodyContMetrics()
      .then(() => {
        this.$emit('overflow', event);
      });
  }

  private onRowClaimExpand(data: TableRowClaimExpandEventData) {
    this.lastClaimedExpandData = data;
  }

  private onRowInsertCaretInfo(caretInfo: ClaimedRowInsertCaret) {
    if (!this.cachedRowInsertCaretInfo) {
      this.cachedRowInsertCaretInfo = caretInfo;
      return;
    }

    let regen = false;
    if (
      (!!this.cachedRowInsertCaretInfo.rowEl && !this.cachedRowInsertCaretInfo.rowEl.isSameNode(caretInfo.rowEl)) ||
      (!this.cachedRowInsertCaretInfo.rowEl && !!caretInfo.rowEl)
    ) {
      this.cachedRowInsertCaretInfo.rowEl = caretInfo.rowEl;
      regen = true;
    }
    if (this.cachedRowInsertCaretInfo.position !== caretInfo.position) {
      this.cachedRowInsertCaretInfo.position = caretInfo.position;
      regen = true;
    }
    if (regen) {
      this.cachedRowInsertCaretInfo = Object.assign({}, this.cachedRowInsertCaretInfo);
    }
  }

  private onRowRequestFinalizeInsert() {
    if (this.cachedRowInsertCaretInfo) {
      if (this.cachedRowInsertCaretInfo.rowEl) {
        const entryIndex = parseInt(this.cachedRowInsertCaretInfo.rowEl.dataset['rawEntryIndex'] || '', 10);
        const groupIndex = parseInt(this.cachedRowInsertCaretInfo.rowEl.dataset['rawGroupIndex'] || '', 10);

        if (!isNaN(groupIndex) && !isNaN(entryIndex)) {
          const groups = this.tableData as TableEntryGroup[];
          const group = groups[groupIndex];
          const entry: TableEntry | null = this.cachedRowInsertCaretInfo.position === 'before' ? group.entries[entryIndex] :
            (group.entries[entryIndex + 1] || null);
          if (entry !== undefined) {
            this.claimMoveEntry(this.cachedRowInsertCaretInfo.srcEntry, entry, group);
          }
        } else if (!isNaN(entryIndex)) {
          const entries = this.tableData as TableEntry[];
          const entry: TableEntry | null = this.cachedRowInsertCaretInfo.position === 'before' ? entries[entryIndex] :
            (entries[entryIndex + 1] || null);
          if (entry !== undefined) {
            this.claimMoveEntry(this.cachedRowInsertCaretInfo.srcEntry, entry);
          }
        }
      }
    }
    this.cachedRowInsertCaretInfo = null;
  }

  public updatePosition(pos: { top: number }) {
    (this.$refs.bodyCont as SwScrollView).updatePosition(pos.top, true);
  }

  private mounted() {
    this.$nextTick(() => {
      this.reportBodyContMetrics(true);
      domService.resizeObserver.on(this.$refs.bodyTable as HTMLElement, this.delayReportBodyMetrics);
    });

    window.addEventListener('resize', this.onResize);
  }

  private beforeDestroy() {
    domService.resizeObserver.off(this.$refs.bodyTable as HTMLElement, this.delayReportBodyMetrics);
    window.removeEventListener('resize', this.onResize);
  }

  private renderDataRow(
    h: CreateElement, // tslint:disable-line
    entry: TableEntry,
    indexInfo: TableEntryIndexInfo,
    globalIndex: number,
  ): VNode[] {
    const nodes: VNode[] = [];
    const attrs: LooseObject = Object.assign({}, {
      'data-raw-entry-index': indexInfo.entryIndex,
      'data-raw-group-index': indexInfo.groupIndex,
    });

    nodes.push(
      <sw-table-row
        {...{ attrs }}
        key={entry._key}
        entry={entry}
        index={globalIndex + this.rowStartIndex}
        {...{ props: this.rowProps }}
        effective-expand-mode={this.calcEffectiveExpandMode(entry, this.expandMode)}
        expand-render={this.expandRender}
        selected={this.isEntrySelected(entry)}
        expanded={this.calcRowExpandedState(entry)}
        selectedArr={this.selectedArr}
        expandedArr={this.expandedArr}
        get-float-actions={this.getFloatActions}
        on-claim-expand={this.onRowClaimExpand}
        on-insert-caret-info={this.onRowInsertCaretInfo}
        on-request-finalize-insert={this.onRowRequestFinalizeInsert}
      ></sw-table-row> as VNode,
    );

    if (this.shouldShowExpandedRow(entry)) {
      nodes.push(
        <sw-table-expand-row
          key={`${entry._key}_expanded`}
          entry={entry}
          index={globalIndex + this.rowStartIndex}
          {...{ props: this.rowProps }}
          effectivePaginationConfig={this.effectivePaginationConfig}
        ></sw-table-expand-row> as VNode,
      );
    }

    return nodes;
  }

  private render(h: CreateElement): VNode {// tslint:disable-line
    const rowsNodes: VNode[] = [];

    if (this.isLoadingData) {
      rowsNodes.push(
        <sw-table-row
          entry={null}
          index={0}
          {...{ props: this.rowProps }}
          is-loading-data={true}
          effective-expand-mode={this.expandMode}
        ></sw-table-row> as VNode,
      );
    } else if (this.tableData.length <= 0) {
      rowsNodes.push(
        <sw-table-row
          entry={null}
          index={0}
          {...{ props: this.rowProps }}
          effective-expand-mode={this.expandMode}
        ></sw-table-row> as VNode,
      );
    } else {
      if (utilService.isTableEntryArray(this.tableData)) {
        this.tableData.forEach((entry, index) => {
          rowsNodes.push(...this.renderDataRow(h, entry, { entryIndex: index }, index));
        });
      } else {
        let globalIndex = 0;
        this.tableData.forEach((group, gIndex) => {
          const collapsed = this.collapsedGroups.includes(group.key);
          rowsNodes.push(
            <sw-table-group-row
              key={`group-${group.key}`}
              group={group}
              index={gIndex}
              collapsed={collapsed}
            /> as VNode,
          );
          group.entries.forEach((entry, eIndex) => {
            if (!collapsed) {
              rowsNodes.push(...this.renderDataRow(h, entry, { groupIndex: gIndex, entryIndex: eIndex }, globalIndex));
            }
            globalIndex += 1;
          });
        });
      }

      if (!!this.cachedRowInsertCaretInfo) {
        rowsNodes.push(
          <sw-table-row-insert-caret
            width={this.bodyMetrics.clientWidth}
            info={this.cachedRowInsertCaretInfo}
          /> as VNode,
        );
      }
    }

        // <sw-scroll-view
        //   class={[`${cssPrefix}__cont`, 'sw-flexbox__flex']}
        //   ref="bodyCont"
        //   scrollbar-theme={this.theme}
        //   scrollbar-auto-hide={this.scrollbarAutoHide || this.forFixedPortion === 'left'}
        //   on-scroll={this.onBodyScroll}
        //   on-content-dom-updated={this.onContentDomUpdated}
        //   on-overflow={this.onBodyOverflow}
        // >
        //   <div class={[`${this.cssPrefix}__cont__table`]} style={this.tableStyles} ref="bodyTable">
        //   { rowsNodes }
        //   </div>
        // </sw-scroll-view>

    const rootNode = (
      <div class={[`${this.cssPrefix}`, `${this.cssPrefix}--${this.theme}`, 'sw-flexbox']}>
        <div
          class={[`${cssPrefix}__cont-native`, 'sw-flexbox__flex']}
          ref="bodyCont"
          on-scroll={this.onBodyScroll}
        >
          <div class={[`${this.cssPrefix}__cont__table`]} style={this.tableStyles} ref="bodyTable">
          { rowsNodes }
          </div>
        </div>
        <div class={[`${this.cssPrefix}__slide-cont`, 'sw-flexbox__flex-none']}>
          <sw-transition-expand direction="horizontal" set-overflow={false}>
          {
            this.shouldShowExpandedSlide() ? (<sw-table-expand-slide {...{ props: this.expandSlideProp }} />) : null
          }
          </sw-transition-expand>
        </div>
      </div> as VNode
    );

    return rootNode;
  }
}
</script>
