<style lang="scss">
.sw-table-row-float-actions {
  overflow: visible;
  height: 29px;
  background-color: rgba($color-default, .7);
  border-radius: 2px;
  position: relative;
  z-index: 1;
  margin-right: $margin-primary-small;
}
</style>

<script lang="tsx">
import { CreateElement, VNode, VNodeDirective } from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIconButton } from '../sw-icon-button';
import { TableEntryFloatAction, TableEntry } from './types';
import { tooltip } from '../tooltip-dir';

const cssPrefix = 'sw-table-row-float-actions';

@Component({
  components: {
    SwIconButton,
  },
  directives: {
    tooltip,
  },
})
export default class SwTableRowFloatActions extends SwExtendedVue {
  @Prop({ type: Array })
  floatActions: TableEntryFloatAction[];

  @Prop({ type: Object, required: false })
  entry: TableEntry;

  @Prop({ type: Number, required: true })
  index: number;

  @Prop({ type: Number, required: true })
  offset: number;

  cssPrefix = cssPrefix;

  onClickCont(event: MouseEvent) {
    event.stopPropagation();
  }

  render(h: CreateElement): VNode {// tslint:disable-line
    const rootNode = (
      <div class={[`${cssPrefix}`, 'sw-flexbox', 'sw-flexbox--center-items']}
        style={{ left: `${this.offset}px` }}
        onClick={this.onClickCont}
      >
      {
        this.floatActions.map((action) => {
          const directives: Partial<VNodeDirective>[] = [];

          if (action.tooltip) {
            directives.push({ name: 'tooltip', value: action.tooltip });
          }

          return (
            <sw-icon-button theme="dark" icon={Object.assign({}, action.icon, { size: 16 })}
              no-border={true}
              disabled={!!action.disabled}
              nativeOnClick={() => {
                if (!!action.disabled) { return; }
                action.action(this.entry, this.index);
              }}
              {...{ directives }}
            />
          );
        })
      }
      </div>
    );

    return rootNode as VNode;
  }
}
</script>
