<template>
  <div :class="[`${cssPrefix}`]">
  </div>
</template>
<style lang="scss">
// .sw-ftr-hello-step4 {}
</style>
<script lang="tsx">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
const cssPrefix = 'sw-ftr-hello-step4';
@Component({
  components: {},
})
export default class SwFtrHelloStep4 extends SwExtendedVue {
  cssPrefix = cssPrefix;
}
</script>
