<template>
<div :class="[`${cssPrefix}`]">
  <div :class="[`${cssPrefix}__field-cont`, 'sw-flexbox']">
    <div
      :class="[`${cssPrefix}__label`,
        'sw-typo-field-label',
        'sw-flexbox__flex-none',
        'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--end-justify',
      ]"
      :style="labelStyle"
      v-if="!noLabel"
    >
      <slot name="label"></slot>
    </div>
    <div
      :class="[`${cssPrefix}__field`,
        'sw-typo-field-value',
        'sw-flexbox__flex',
        'sw-flexbox', 'sw-flexbox--center-items',
      ]"
      >
      <slot></slot>
    </div>
  </div>
  <div :class="[`${cssPrefix}__error-cont`, 'sw-flexbox']" v-if="hasError()">
    <div
      :class="[`${cssPrefix}__label`,'sw-flexbox__flex-none']"
      :style="labelStyle"
      v-if="!noLabel"
    ></div>
    <div :class="[`${cssPrefix}__error`, 'sw-flexbox__flex']">
      <slot name="error"></slot>
    </div>
  </div>
</div>
</template>

<style lang="scss">
.sw-form-row {
  overflow: visible;
  margin-top: $margin-primary / 2;

  &:first-child {
    margin-top: 0;
  }

  &__label {
    margin-right: $margin-primary;
    text-align: right;
  }
}
</style>

<script lang="ts">
import { Component, Inject, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { ProvidedFormParam } from './types';
import { CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';

const cssPrefix = 'sw-form-row';

/**
 * This component will have as less props as possible, since most of props will
 * come from parent sw-form component.
 */
@Component
export default class SwFormRow extends SwExtendedVue {
  @Prop({ type: Boolean, default: false })
  noLabel: boolean;

  @Inject()
  formParam: ProvidedFormParam;

  cssPrefix = cssPrefix;

  get labelStyle(): CSSStyleOptions {
    return {
      width: typeof this.formParam.labelWidth === 'string' ? this.formParam.labelWidth : `${this.formParam.labelWidth}px`,
    };
  }

  private hasError() {
    return utilService.getVueScopedSlot(this.$scopedSlots, 'error').length > 0;
  }
}
</script>
