<template>
<div :class="[`${cssPrefix}`, { 'sw-form-column--margin': !noLabel },]" :style="labelStyle">
  <div :class="[`${cssPrefix}__label`,
      'sw-typo-field-label',
      'sw-flexbox__flex-none',
	  { 'sw-form-column--align': alignRight },
      'sw-flexbox', 'sw-flexbox--center-items',
    ]"
    v-if="!noLabel"
  >
    <slot name="label"></slot>
  </div>
  <div :class="[`${cssPrefix}__field`,
      'sw-typo-field-value',
      'sw-flexbox__flex',
	  { 'sw-form-column--align': alignRight },
      'sw-flexbox', 'sw-flexbox--center-items',
    ]"
  >
    <slot></slot>
  </div>
</div>
</template>

<style lang="scss">
.sw-form-column {
  overflow: visible;
  margin-left: $margin-primary / 2;
  margin-top: $margin-primary / 2;

  &--margin {
    margin-right: $margin-primary;
  }

  &:first-child {
    margin-left: 0;
  }

  &--align {
    text-align: right;
  }

  &__label {
    margin-top: $margin-primary / 2;

    &:first-child {
        margin-top: 0;
    }
  }

  &__field {
    margin-top: $margin-primary / 2;

    &:first-child {
        margin-top: 0;
    }
  }
}
</style>

<script lang="ts">
import { Component, Inject, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { ProvidedFormParam } from './types';
import { CSSStyleOptions } from '../common-types';

const cssPrefix = 'sw-form-column';

/**
 * This component will have as less props as possible, since most of props will
 * come from parent sw-form component.
 */
@Component
export default class SwFormColumn extends SwExtendedVue {
  @Prop({ type: Boolean, default: false })
  noLabel: boolean;

  @Prop({ type: Boolean, default: false })
  alignRight: boolean;

  @Inject()
  formParam: ProvidedFormParam;

  cssPrefix = cssPrefix;

  get labelStyle(): CSSStyleOptions {
    return {
      width: typeof this.formParam.labelWidth === 'string' ? this.formParam.labelWidth : `${this.formParam.labelWidth}px`,
    };
  }
}
</script>
