<template>
  <div :class="[`${cssPrefix}`]">
    <div v-for="errorItem in error">
      {{errorItem}}
    </div>
  </div>
</template>

<style lang="scss">
.sw-form-row-error {
  overflow: visible;
  margin-top: $margin-primary / 2;
  margin-bottom: $margin-primary / 2;
  color: #FF0000;

  &:first-child {
    margin-top: 0;
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

const cssPrefix = 'sw-form-row-error';

@Component
export default class SwFormRowError extends SwExtendedVue {
  cssPrefix = cssPrefix;
  @Prop({ type: Array, default() { return []; } })
  error: String[];
}
</script>
