<style lang="scss">
.sw-slide-panel {
  position: relative;
  &__content {
    position: absolute; /* Stay in place */
    z-index: $zindex-regular-base; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    padding: 20px;
    box-shadow: 0 0 20px rgba($color-default, .35);
    background-color: #ffffff;
    // width: 100%;
    }
  &--right {
    #{BEM_getParent()}__content {
      right: 0;
      top: 0;
      animation: sw-slidedown-right .4s ease-out;
    }
  }
  &--left {
    #{BEM_getParent()}__content {
      left: 0;
      top : 0;
      animation: sw-slidedown-left .4s ease-out;
    }
  }
  &--top {
    #{BEM_getParent()}__content {
      animation: sw-slidedown-top .4s ease-out;
    }
    display: flex;
    justify-content: center;
  }

  &--bottom {
    #{BEM_getParent()}__content {
      animation: sw-slidedown-bottom .4s ease-out;
    }
    display: flex;
    justify-content: center;
  }

  @keyframes sw-slidedown-right {
    from {transform: translateX(100px); opacity:0}
    to {opacity:1}
  }

  @keyframes sw-slidedown-left {
    from {transform: translateX(-100px); opacity:0}
    to {opacity:1}
  }

  @keyframes sw-slidedown-top {
    from {transform: translateY(-50px); opacity:0}
    to {opacity:1}
  }

  @keyframes sw-slidedown-bottom {
    from {transform: translateY(50px); opacity:0}
    to {opacity:1}
  }
}
</style>

<script lang="tsx">
import { Component, Prop, Model, Watch } from 'vue-property-decorator';
import { CreateElement, VNode, VNodeDirective } from 'vue';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';
import { CSSStyleOptions } from '../common-types';

const cssPrefix = 'sw-slide-panel';

@Component({
  components: {},
})
export default class SwSlidePanel extends SwExtendedVue {
  cssPrefix =  cssPrefix;

  @Prop({ type: [String, Number] })
  width: string | number;

  @Model('request-close', { type: Boolean, default: false })
  visible: boolean;

  @Prop({ type: String, default: 'right' })
  position: string;

  rootVisible: boolean = this.visible;

  get contentStyle(): CSSStyleOptions {
    if (typeof this.width === 'number') {
      return this.width > 0 ? { width : `${this.width}px` } : {};
    }
    if (typeof this.width === 'string') {
      return { width : this.width } ;
    }
    return {};
  }

  @Watch('visible')
  private onVisibleChanged(val: boolean) {
    if (val) {
      this.rootVisible = true;
    }
  }

  private closeModal () {
    this.$emit('request-close', false);
  }

  private afterContentLeave() {
    this.rootVisible = false;
  }

  private render(h: CreateElement): VNode {// tslint:disable-line
    const contentNodes: VNode[] = [];
    if (this.visible) {
      const directives: Partial<VNodeDirective>[] = [];
      directives.push({ name: 'show', value: this.visible });
      contentNodes.push(
        <div class={[`${this.cssPrefix}__content`]} style={ this.contentStyle } {...{ directives }}>
            {utilService.getVueScopedSlot(this.$scopedSlots)}
        </div> as VNode,
      );
    }
    const rootNode = (
      <div class={[`${this.cssPrefix}`, `${this.cssPrefix}--${ this.position}`, 'sw-typo-default']} v-show={this.rootVisible}>
        <transition
          name={'sw-slide-panel'}
          onAfterLeave={this.afterContentLeave}
        >
          {contentNodes}
        </transition>
      </div>
    );
    return rootNode as VNode;
  }

}
</script>
