<template>
<div :class="[`${cssPrefix}`]"
  v-dropdown="dropdownDirValues"
><slot>MENU</slot></div>
</template>

<style lang="scss">
.sw-drop-menu {
  display: inline-block;
  vertical-align: bottom;
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { dropdown, SwDropdownUnit, SwDropdownUnitDivider, DropdownDirValues } from '../dropdown-dir';
import { DropMenuItem } from './types';

const cssPrefix = 'sw-drop-menu';

/**
 * @event request-close
 * @event select `(itemId: string)`
 */
@Component({
  directives: {
    dropdown,
  },
})
export default class SwDropMenu extends SwExtendedVue {
  @Prop({ type: Boolean, required: true })
  opened: boolean;

  @Prop({ type: Array, required: true })
  items: DropMenuItem[];

  @Prop({ type: String, default: 'left' })
  align: 'left' | 'right' | undefined;

  @Prop({ type: Boolean, default: false })
  withArrow: boolean;

  @Prop({ type: Number, default: 500 })
  maxWidth: number;

  @Prop({ type: Number, default: 1000 })
  maxHeight: number;

  cssPrefix = cssPrefix;

  get dropdownDirValues(): DropdownDirValues {
    return this.composeDropdown(this.items, this.opened);
  }

  private composeDropdown(items: DropMenuItem[], visible: boolean): DropdownDirValues {
    return {
      visible,
      placement: this.align === 'left' ? 'bottom-start' : (this.align === 'right' ? 'bottom-end' : 'bottom'),
      trigger: 'controlled',
      withArrow: this.withArrow,
      maxWidth: this.maxWidth,
      maxHeight: this.maxHeight,
      content: (h: CreateElement): VNode[] => {// tslint:disable-line
        const nodes: VNode[] = [];
        items.forEach((item) => {
          if (item.divider === true) {
            nodes.push(
              <SwDropdownUnitDivider /> as VNode,
            );
            return;
          }

          const clickable = item.clickable !== undefined ? item.clickable : true;
          nodes.push(
            <SwDropdownUnit
              props-disabled={!!item.disabled}
              props-clickable={clickable}
              nativeOn-click={() => { this.onClickItem(item); }}
            >{ typeof item.content === 'function' ? item.content(h) : item.content }</SwDropdownUnit> as VNode,
          );
        });
        return nodes;
      },
      onClickOutsidePopper: () => { this.$emit('request-close'); },
    };
  }

  private onClickItem(item: DropMenuItem) {
    if (item.clickable === false) { return; }
    /** FIXME: as initial version, we only support single-level menu */
    if (item.disabled === true) { return; }
    this.$emit('select', item.id);
  }
}
</script>
