<template>
<div :class="['sw-modal-footer', `sw-modal-footer--${modalParam.mode}`,
    'sw-flexbox__flex-none',
    'sw-flexbox', 'sw-flexbox--end-justify',
  ]"
>
  <slot></slot>
</div>
</template>

<style lang="scss">
.sw-modal-footer {
  padding: 0px $padding-primary $padding-primary;

  &--pillar {
    padding: 0 $padding-primary-large $padding-primary;
  }
}
</style>

<script lang="ts">
import { Component, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { ProvidedModalParam } from './types';

@Component({
})
export default class SwModalFooter extends SwExtendedVue {
  @Inject()
  modalParam: ProvidedModalParam;
}
</script>
