<template>
<div :class="['sw-modal-body', `sw-modal-body--${modalParam.mode}`, 'sw-flexbox__flex']">
  <slot></slot>
</div>
</template>

<style lang="scss">
.sw-modal-body {
  overflow-x: hidden;
  overflow-y: auto;
  padding: $padding-primary;

  &--pillar {
    padding: $padding-primary $padding-primary-large;
  }
}
</style>

<script lang="ts">
import { Component, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { ProvidedModalParam } from './types';

@Component({
})
export default class SwModalBody extends SwExtendedVue {
  @Inject()
  modalParam: ProvidedModalParam;
}
</script>
