<style lang="scss">
.sw-modal {
  position: fixed;
  z-index: $zindex-modal-base; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($color-default, 0.58);

  &--pillar {
    #{BEM_getParent()}__content {
      min-height: 100%;
      background-color: $color-background-mat;
      border-radius: 0;
    }

    #{BEM_getParent()}__header {
      text-transform: none;
      background-color: $color-background-mat;
      font-family: $typo-heading-2-font-family;
      font-size: $typo-heading-2-font-size;
      font-weight: $typo-heading-2-font-weight;
      color: $color--light--text;
      height: auto;
      padding: $padding-primary-large $padding-primary-large 0;
      border-radius: 0;
    }

    #{BEM_getParent()}__close-cont {
      width: 0;
      overflow: visible;
    }

    #{BEM_getParent()}__close {
      width: 33px;
      height: 33px;
      border: 3px solid #ffffff;
      border-radius: 50%;
      background-color: $color--dark--background;
      position: relative;
      left: $padding-primary-large - (33px / 2);
    }

    #{BEM_getParent()}__main-body {
      border-radius: 0;
    }
  }

  &--regular-light {
    #{BEM_getParent()}__content {
      border: 1px solid $color--dark--border-2;
    }
    #{BEM_getParent()}__header {
      text-transform: none;
      background-color: $color-background-mat;
      font-family: $typo-heading-2-font-family;
      font-size: 31px;
      font-weight: $typo--nunito--font-weight-regular;
      color: $color--light--text;
      height: auto;
      padding: $padding-primary-small $padding-primary 0;
    }

    #{BEM_getParent()}__close-cont {
      width: 0;
      overflow: visible;
    }

    #{BEM_getParent()}__close {
      width: 33px;
      height: 33px;
      border: 3px solid #ffffff;
      border-radius: 50%;
      background-color: $color--dark--background;
      position: relative;
      left: $padding-primary - (33px / 2);
    }
  }

  /* Modal Content */
  &__content {
    position: fixed;
    z-index: $zindex-modal-base;
    left: 0;
    top: 0;
    max-height: 100%;
    padding: 0;
    box-shadow: 0 0 20px rgba($color-default, .35);
    border-radius: 6px;
  }

  /* Add Animation */
  &-slide-enter-active {
    animation: sw-modal-slidedown .1s ease-out;
  }
  &-slide-leave-active {
    animation: sw-modal-slidedown .1s ease-out reverse;
  }

  &-fold-enter-active {
    animation: sw-modal-fold-open .2s ease-out;
  }
  &-fold-leave-active {
    animation: sw-modal-fold-open .3s ease-in-out reverse;
  }

  @keyframes sw-modal-slidedown {
    from {transform: translateY(-70px); opacity:0}
    to {opacity:1}
  }

  @keyframes sw-modal-fold-open {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

  &__header {
    text-transform: uppercase;
    background-color: $color--dark--highlight;
    font-family: $typo--nunito--font-family;
    font-size: 16px;
    font-weight: $typo--nunito--font-weight-extra-light;
    color: $color--dark--text;
    height: 45px;
    padding: 0 $padding-primary-small 0 $padding-primary;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    user-select: none;

    &--draggable {
      cursor: move;
    }
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* The Close Button */
  &__close {
    width: 25px;
    height: 25px;
    color: $color--dark--text;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }
    &:active {
      color: $color-selected;
    }
  }

  &__main-body {
    background-color: $color-background-mat;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode, VNodeDirective } from 'vue';
import { Component, Prop, Model, Watch, Provide } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { CSSStyleOptions, DimensionRect } from '../common-types';
import { ProvidedModalParam } from './types';
import { utilService } from '../util-service';
import { domService } from '../dom-service';
import { drag, DragDirValues } from '../drag-dir';

const cssPrefix = 'sw-modal';

/**
 * Events:
 * @event request-close `(open: false)`
 */
@Component({
  components: {
    SwIcon,
  },
  directives: {
    drag,
  },
})
export default class SwModal extends SwExtendedVue {
  @Prop({ type: String, default: 'regular' })
  mode: ProvidedModalParam['mode'];

  @Prop({ type: String, required: true })
  title: string;

  @Model('request-close', { type: Boolean, default: false })
  visible: boolean;

  @Prop({ type: Boolean, default: true })
  closable: boolean;

  @Prop({ type: Boolean, default: true })
  draggable: boolean;

  @Prop({ type: [String, Number], default: '80%' })
  width: string | number;

  @Prop({ type: [String, Number], default: '100%' })
  maxWidth: string | number;

  @Prop({ type: Boolean, default: true })
  vShowEnabled: boolean;

  @Prop({ type: Object, default: null })
  overlayDimension: DimensionRect | null;

  @Provide()
  modalParam: ProvidedModalParam = {
    mode: this.mode,
  };

  cssPrefix = cssPrefix;

  rootVisible: boolean = this.visible;
  bodyStyleTicket: string = '';

  visibleDimension: DimensionRect | null = null;

  get effectiveDraggable() {
    return this.draggable && this.mode !== 'pillar';
  }

  get rootStyle(): CSSStyleOptions {
    const style: CSSStyleOptions = {};

    if (this.overlayDimension) {
      style.top = `${this.overlayDimension.top}px`;
      style.left = `${this.overlayDimension.left}px`;
      style.width = `${this.overlayDimension.width}px`;
      style.height = `${this.overlayDimension.height}px`;
    }
    return style;
  }

  get contentStyle(): CSSStyleOptions {
    const style: CSSStyleOptions = {
      width: typeof this.width === 'number' ? `${this.width}px` : this.width,
      maxWidth: typeof this.maxWidth === 'number' ? `${this.maxWidth}px` : this.maxWidth,
    };

    if (this.visibleDimension) {
      const vpWidth = window.innerWidth;
      const vpHeight = window.innerHeight;
      let top = this.visibleDimension.top === Infinity ? (vpHeight - this.visibleDimension.height) / 2 : this.visibleDimension.top;
      let left = this.visibleDimension.left === Infinity ? (vpWidth - this.visibleDimension.width) / 2 : this.visibleDimension.left;
      /** adjust per display mode due to the offset from __header to __content */
      if (this.mode === 'regular-light') {
        top -= 1;
        left -= 1;
      }
      style.top = `${top}px`;
      style.left = `${left}px`;
    }
    return style;
  }

  get animationName(): string {
    return this.mode === 'pillar' ? 'sw-modal-fold' : 'sw-modal-slide';
  }

  get dragDirValues(): DragDirValues | null {
    if (!this.effectiveDraggable) { return null; }
    return {
      start: () => {
      },
      positioning: (toClientPos) => {
        if (!this.visibleDimension) { return; }
        this.visibleDimension.top = toClientPos.y;
        this.visibleDimension.left = toClientPos.x;
      },
      done: (toClientPos) => {
        /**
         * adjust the content pos so that it won't get into the situation
         * where it is no longer accessible after dragging.
         */
        if (!this.visibleDimension) { return; }
        this.visibleDimension.top = toClientPos.y;
        this.visibleDimension.left = toClientPos.x;
        if (this.visibleDimension.top < 0) { this.visibleDimension.top = 0; }
        if (this.visibleDimension.left < 0) { this.visibleDimension.left = 0; }
        if (this.visibleDimension.top > window.innerHeight) { this.visibleDimension.top = window.innerHeight - 20; }
        if (this.visibleDimension.left > window.innerWidth) { this.visibleDimension.left = window.innerWidth - 20; }
      },
    };
  }

  @Watch('mode')
  private syncMode(val: ProvidedModalParam['mode']) {
    this.modalParam.mode = val;
  }

  @Watch('visible', { immediate: true })
  private onVisibleChanged(val: boolean) {
    if (val) {
      this.rootVisible = true;
    }
  }

  @Watch('rootVisible')
  private onRootVisibleChange() {
    if (this.rootVisible) {
      this.cancelCurrentBodyStyle();
      this.bodyStyleTicket = domService.stylesManager.apply(document.body, { overflowX: 'hidden', overflowY: 'hidden' });
    } else {
      this.cancelCurrentBodyStyle();
    }
    this.$nextTick(() => {
      this.updateVisibleDimension();
    });
  }

  private updateVisibleDimension() {
    const contentEl: HTMLElement = this.$refs.content as HTMLElement;
    if (!contentEl || !this.rootVisible) {
      this.visibleDimension = null;
      return;
    }
    this.visibleDimension = {
      top: this.visibleDimension ? this.visibleDimension.top : Infinity,
      left: this.visibleDimension ? this.visibleDimension.left : Infinity,
      width: contentEl.scrollWidth,
      height: contentEl.scrollHeight,
    };
  }

  private closeModal () {
    this.$emit('request-close', false);
  }

  private afterContentLeave() {
    this.rootVisible = false;
  }

  private cancelCurrentBodyStyle() {
    if (!!this.bodyStyleTicket) {
      domService.stylesManager.cancel(document.body, this.bodyStyleTicket);
      this.bodyStyleTicket = '';
    }
  }

  private mounted() {
    this.$nextTick(() => {
      this.updateVisibleDimension();
    });
  }

  private beforeDestroy() {
    if (!!this.bodyStyleTicket) {
      domService.stylesManager.cancel(document.body, this.bodyStyleTicket);
      this.bodyStyleTicket = '';
    }
  }

  private render(h: CreateElement): VNode {// tslint:disable-line
    let closeNode: VNode | null = null;
    const contentNodes: VNode[] = [];

    if (this.closable) {
      closeNode = (
        <span class={[`${this.cssPrefix}__close-cont`, 'sw-flexbox__flex-none']}>
          <span
            class={[
              `${this.cssPrefix}__close`,
              'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
            ]}
            onClick={ this.closeModal }
            onMousedown={(event: MouseEvent) => { event.stopPropagation(); }}
          >
            <sw-icon name="close-thin" size={13}></sw-icon>
          </span>
        </span>
      ) as VNode;
    }

    if (this.visible || this.vShowEnabled) {
      const directives: Partial<VNodeDirective>[] = [];
      const headerDirectives: Partial<VNodeDirective>[] = [];
      if (this.vShowEnabled) {
        directives.push({ name: 'show', value: this.visible });
      }
      if (this.dragDirValues) {
        headerDirectives.push({ name: 'drag', value: this.dragDirValues });
      }

      contentNodes.push(
        <div
          class={[`${this.cssPrefix}__content`, 'sw-flexbox', 'sw-flexbox--column']}
          style={ this.contentStyle }
          {...{ directives }}
          ref="content"
        >
          <div
            class={[
              `${this.cssPrefix}__header`,
              { [`${this.cssPrefix}__header--draggable`]: this.effectiveDraggable },
              'sw-flexbox__flex-none',
              'sw-flexbox', 'sw-flexbox--center-items',
            ]}
            {...{ directives: headerDirectives }}
          >
            <span class={[`${this.cssPrefix}__title`, 'sw-flexbox__flex']}>{this.title}</span>
            {closeNode}
          </div>
          <div class={[`${this.cssPrefix}__main-body`, 'sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--column']}>
            {utilService.getVueScopedSlot(this.$scopedSlots)}
          </div>
        </div> as VNode,
      );
    }

    const rootNode = (
      <div class={[`${this.cssPrefix}`, `${this.cssPrefix}--${this.mode}`, 'sw-typo-default']}
        v-show={this.rootVisible}
        style={this.rootStyle}
      >
        <transition
          name={this.animationName}
          onAfterLeave={this.afterContentLeave}
        >
          {contentNodes}
        </transition>
      </div>
    );

    return rootNode as VNode;
  }
}
</script>
