<template>
<div :class="[`${cssPrefix}`, { [`${cssPrefix}--for-body`]: forViewport },
    'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify'
  ]"
  :style="rootStyle"
  v-if="visible"
>
  <div :class="[`${cssPrefix}__cont`, 'sw-flexbox', 'sw-flexbox--column', 'sw-flexbox--center-items' ]">
    <sw-spinning-progress :size='`${size}px`' :color="color" />
    <span :class="[`${cssPrefix}__message`, 'sw-typo-heading-3']" v-if="message">{{message}}</span>
  </div>
</div>
</template>

<style lang="scss">
.sw-blocking-progress {
  overflow: hidden;
  position: absolute;
  z-index: $zindex-blocking;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-default, 0.8);

  &__message {
    color: $color--dark--text;
    margin-top: $margin-primary-small;
  }

  &--for-body {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
</style>

<script lang="ts">
import { Component, Prop, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwSpinningProgress } from '../sw-progress';
import { utilService } from '../util-service';
import { domService } from '../dom-service';
import { DimensionRect, CSSStyleOptions } from '../common-types';

const cssPrefix = 'sw-blocking-progress';

@Component({
  components: {
    SwSpinningProgress,
  },
})
export default class SwBlockingProgress extends SwExtendedVue {
  @Prop({ type: String })
  message: string;

  @Prop({ type: Number, default: 64 })
  size: number;

  @Prop({ type: Boolean, default: false })
  visible: boolean;

  @Prop({ type: Boolean, default: false })
  forViewport: boolean;

  @Prop({ type: Object, default: null })
  overlayDimension: DimensionRect | null;

  cssPrefix = cssPrefix;

  color: string = utilService.colorConst.selected;

  bodyStyleTicket: string = '';

  get rootStyle() {
    const style: CSSStyleOptions = {};
    if (this.overlayDimension) {
      style.top = `${this.overlayDimension.top}px`;
      style.left = `${this.overlayDimension.left}px`;
      style.width = `${this.overlayDimension.width}px`;
      style.height = `${this.overlayDimension.height}px`;
    }
    return style;
  }

  @Watch('visible', { immediate: true })
  private onVisibleChange() {
    if (this.visible) {
      if (this.forViewport) {
        this.bodyStyleTicket = domService.stylesManager.apply(document.body, { overflowX: 'hidden', overflowY: 'hidden' });
      }
    } else {
      if (!!this.bodyStyleTicket) {
        domService.stylesManager.cancel(document.body, this.bodyStyleTicket);
        this.bodyStyleTicket = '';
      }
    }
  }

  private beforeDestroy() {
    if (!!this.bodyStyleTicket) {
      domService.stylesManager.cancel(document.body, this.bodyStyleTicket);
      this.bodyStyleTicket = '';
    }
  }
}
</script>
