<template>
<div :class="[`${cssPrefix}`, 'sw-typo-default',
    { [`${cssPrefix}--with-arrow`]: withArrow },
    ...customClasses,
  ]"
>
  <sw-scroll-view scrollbar-theme="dark" :style="innerStyle">
    <div :class="[`${cssPrefix}__inner`]">
      <slot></slot>
    </div>
  </sw-scroll-view>

  <div v-if="withArrow" :class="[`${cssPrefix}__arrow`]" x-arrow></div>
</div>
</template>

<style lang="scss">
.sw-dropdown {
  $cssPrefix: '.sw-dropdown';
  $size-regular: 10px;

  overflow: visible;
  font-weight: $typo--nunito--font-weight-regular;
  color: $color--dark--text;
  z-index: $zindex-popper-dropdown;

  &__inner {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $color--dark--background;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0 20px rgba($color-default, .35);
  }

  &__arrow {
    width: 0;
    height: 0;
    border: $size-regular solid transparent;
    position: absolute;
  }

  &[x-placement^=top] {
    &#{$cssPrefix}--with-arrow {
      padding-bottom: $size-regular;
    }

    & > #{$cssPrefix}__arrow {
      border-bottom-width: 0;
      border-top-color: $color--dark--background;
      bottom: 0;
      left: calc(50% - #{$size-regular});
      margin-left: 0;//$size-regular * 2;
      margin-right: 0;//$size-regular * 2;
    }
  }

  &[x-placement^=right] {
    &#{$cssPrefix}--with-arrow {
      padding-left: $size-regular;
    }

    & > #{$cssPrefix}__arrow {
      border-left-width: 0;
      border-right-color: $color--dark--background;
      left: 0;
      top: calc(50% - #{$size-regular});
      margin-top: 0;//$size-regular * 2;
      margin-bottom: 0;//$size-regular * 2;
    }
  }

  &[x-placement^=bottom] {
    &#{$cssPrefix}--with-arrow {
      padding-top: $size-regular;
    }

    & > #{$cssPrefix}__arrow {
      border-top-width: 0;
      border-bottom-color: $color--dark--background;
      top: 0;
      left: calc(50% - #{$size-regular});
      margin-left: 0;//$size-regular * 2;
      margin-right: 0;//$size-regular * 2;
    }
  }

  &[x-placement^=left] {
    &#{$cssPrefix}--with-arrow {
      padding-right: $size-regular;
    }

    & > #{$cssPrefix}__arrow {
      border-right-width: 0;
      border-left-color: $color--dark--background;
      right: 0;
      top: calc(50% - #{$size-regular});
      margin-top: 0;//$size-regular * 2;
      margin-bottom: 0;//$size-regular * 2;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { CSSStyleOptions } from '../common-types';
import { SwScrollView } from '../sw-scroll-view';
import { SwExtendedVue } from '../sw-extended-vue';

@Component({
  components: {
    SwScrollView,
  },
})
export default class SwDropdown extends SwExtendedVue {
  @Prop({ type: Boolean, default: true })
  withArrow: boolean;

  @Prop({ type: Number, default: 500 })
  maxWidth: number;

  @Prop({ type: Number, default: 800 })
  maxHeight: number;

  @Prop({ type: [Number] })
  width: number | undefined;

  @Prop({ type: Array, default: [] })
  customClasses: string[];

  cssPrefix: string = 'sw-dropdown';

  get innerStyle(): CSSStyleOptions {
    return {
      maxHeight: this.maxHeight ? `${this.maxHeight}px` : undefined,
      maxWidth: this.maxWidth ? `${this.maxWidth}px` : undefined,
      width: this.width !== undefined ? `${this.width}px` : undefined,
    };
  }
}
</script>
