<style lang="scss">
.sw-dropdown-unit {
  border-top: solid 1px $color--dark--slider;
  min-height: 29px;
  padding: 0 $padding-primary-small;
  min-width: 60px;
  font-family: $typo--nunito--font-family;
  font-weight: $typo--nunito--font-weight-regular;
  font-size: 13px;
  color: $color--dark--text;
  cursor: pointer;

  &--not-clickable {
    cursor: unset;
  }

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: $color--dark--text-disabled;

    &:hover {
      background-color: transparent;
    }
  }

  &:hover, &--highlight {
    background-color: rgba(#fff, .15);
  }

  &:first-child {
    border-top: none;
  }
}
</style>

<script lang="tsx">
import Vue, { VNode } from 'vue';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';

const cssPrefix = 'sw-dropdown-unit';

export default Vue.extend({
  functional: true,
  props: {
    disabled: { type: Boolean, default: false },
    highlight: { type: Boolean, default: false },
    clickable: { type: Boolean, default: true },
  },
  /* tslint:disable-next-line */
  render(h, context) {
    const data = utilService.extractFunctionalCompRootNodeData(context.data);

    return (
      <div
        class={[
          `${cssPrefix}`,
          'sw-flexbox',
          'sw-flexbox--center-items',
          {
            [`${cssPrefix}--disabled`]: context.props.disabled,
            [`${cssPrefix}--highlight`]: context.props.highlight,
            [`${cssPrefix}--not-clickable`]: !context.props.clickable,
          },
        ]}
        { ...data }
      >
      { utilService.getVueScopedSlot(context.scopedSlots) }
      </div>
    ) as VNode;
  },
}) as typeof SwExtendedVue;
</script>
