<template>
<div :class="[`${cssPrefix}`, 'sw-flexbox', 'sw-flexbox--start-items']">
  <span :class="[`${cssPrefix}__vertical-line`, { [`${cssPrefix}__vertical-line--half`]: isLast }]"></span>
  <span :class="[`${cssPrefix}__horizontal-line-cont`, 'sw-flexbox', 'sw-flexbox--center-items']">
    <span :class="[`${cssPrefix}__horizontal-line`, 'sw-flexbox__flex']"></span>
  </span>
  <div v-if="withTrigger" :class="[`${cssPrefix}__trigger`, 'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']">
    <span v-if="expanded">-</span>
    <span v-else :style="{ paddingTop: '1px' }">+</span>
  </div>
</div>
</template>

<style lang="scss">
.sw-tree-list-plus-trigger {
  width: 17px;
  height: 100%;
  overflow: visible;
  position: relative;
  user-select: none;

  &__vertical-line {
    height: 100%;
    width: 0;
    padding-left: 6px;
    border-right: 1px dashed $color--light--slider;

    &--half {
      height: 50%;
    }
  }

  &__horizontal-line-cont {
    width: 10px;
    height: 100%;
  }

  &__horizontal-line {
    height: 0;
    border-top: 1px dashed $color--light--slider;
  }

  &__trigger {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid $color--light--icon;
    color: $color--light--icon;
    background-color: $color-background-mat;
    font-size: 13px;
    font-weight: $typo--nunito--font-weight-bold;
    font-family: $typo--nunito--font-family;

    & > span {
      line-height: 1px;
      height: 1px;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

const cssPrefix = 'sw-tree-list-plus-trigger';

@Component({
  components: {
  },
})
export default class SwTreeListPlusTrigger extends SwExtendedVue {
  @Prop({ type: Boolean, default: false })
  withTrigger: boolean;

  @Prop({ type: Boolean, default: false })
  expanded: boolean;

  @Prop({ type: Boolean, default: false })
  isLast: boolean;

  cssPrefix = cssPrefix;
}
</script>
