<template>
<li :class="[`${cssPrefix}`, { [`${cssPrefix}--with-divider`]: listParam.withItemDivider }]">
  <div :class="[`${cssPrefix}__item`, 'sw-flexbox',
      { [`${cssPrefix}__item--selected`]: isSelected },
    ]"
    :style="{ paddingRight: `${listParam.initialPadding[1]}px` }"
    @click="onClickItem"
    @mouseenter="onEnterItem"
    @mouseleave="onLeaveItem"
  >
    <div v-if="isSelected" :class="[`${cssPrefix}__mark-cont`, 'sw-flexbox__flex-none']"></div>
    <div :class="[`${cssPrefix}__main-cont`, 'sw-flexbox__flex',
        { 'sw-flexbox__flex--auto-min-size': listParam.itemOverflow },
        'sw-flexbox', 'sw-flexbox--center-items',
      ]"
      :style="mainContStyle()"
    >
      <span v-for="pad in (hieDescriptor.level - 1)"
        :key="pad"
        :class="[`${cssPrefix}__pad`, 'sw-flexbox__flex-none']"
        :style="padStyle"
      >
        <span v-if="isPlusMinusTrigger && hieDescriptor.ancestorsNextSiblingFlags[pad - 1]" :class="[`${cssPrefix}__ancestor-link`]"></span>
      </span>
      <span v-if="!listParam.flat" :class="[`${cssPrefix}__trigger-cont`,
          'sw-flexbox__flex-none',
          'sw-flexbox', 'sw-flexbox--center-items',
        ]"
        :style="{ paddingLeft: `${triggerLeftPadding}px` }"
        @click="onClickTrigger"
      >
        <span :class="[`${cssPrefix}__arrow-trigger`, { [`${cssPrefix}__arrow-trigger--expanded`]: isParent() && isExpanded() },
            'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
          ]"
          v-if="!isPlusMinusTrigger"
        >
          <sw-icon v-if="isParent()" name="arrow-up" :rotate="90" :size="13" as-block />
          <sw-icon v-else-if="hieDescriptor.level > 1" name="minus" :size="6" as-block />
        </span>
        <sw-tree-list-plus-trigger v-else
          :with-trigger="isParent()"
          :expanded="isParent() && isExpanded()"
          :is-last="hieDescriptor.isLastSibling"
        />
      </span>
      <div :class="[`${cssPrefix}__pre`, 'sw-flexbox__flex-none']"><slot name="pre"></slot></div>
      <span :class="[`${cssPrefix}__label`, 'sw-flexbox__flex']"><slot name="label">Label Not Specified</slot></span>
      <div :class="[`${cssPrefix}__extra-cont`, 'sw-flexbox__flex-none']"><slot name="dangle"></slot></div>
    </div>
  </div>
  <sw-transition-expand :duration="100">
    <ul v-if="isParent() && isExpanded()" :class="[`${cssPrefix}__children`]">
      <slot></slot>
    </ul>
  </sw-transition-expand>
</li>
</template>

<style lang="scss">
.sw-tree-list-item {
  list-style: none;
  padding: 0;
  margin: 0;

  &--with-divider {
    & + & {
      border-top: 1px solid $color--light--border;
    }
  }

  &__item {
    min-height: 30px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-selected, .1);
    }

    &--selected {
      background-color: rgba($color-selected, .1);
    }
  }

  &__mark-cont {
    width: 0;
    overflow: visible;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 3px;
      height: 100%;
      background-color: $color-selected;
    }
  }

  &__main-cont {
    font-weight: $typo--nunito--font-weight-regular;
    font-size: 14px;
  }

  &__pad {
    height: 100%;
  }

  &__ancestor-link {
    display: block;
    height: 100%;
    border-left: 1px dashed $color--light--slider;
  }

  &__trigger-cont {
    height: 100%;
    padding-right: 4px;//$padding-primary-small;
  }

  &__arrow-trigger {
    width: 13px;
    overflow: visible;
    color: #6b6b5b;
    transition: transform 200ms ease;

    &--expanded {
      transform: rotate(90deg);
    }
  }

  &__pre {
    color: $color--light--icon;
  }

  &__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__children {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
</style>

<script lang="tsx">
import { Component, Prop, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { SwTransitionExpand } from '../sw-transition';
import { CSSStyleOptions } from '../common-types';
import SwTreeList from './sw-tree-list.vue';
import SwTreeListPlusTrigger from './sw-tree-list-plus-trigger.vue';
import { ProvidedListParam, InternalItemHieDescriptor } from './types';
import { utilService } from '../util-service';

const cssPrefix = 'sw-tree-list-item';

/**
 * Events:
 * @event hover-item `(isHover: boolean)`
 */
@Component({
  name: 'SwTreeListItem', // as we will use this name to determine this component
  components: {
    SwIcon,
    SwTransitionExpand,
    SwTreeListPlusTrigger,
  },
})
export default class SwTreeListItem extends SwExtendedVue {
  @Prop({ type: String, required: true })
  itemId: string;

  /** will be updated by `sw-tree-list` from the top */
  public hieDescriptor: InternalItemHieDescriptor = {
    level: 1,
    ancestorsNextSiblingFlags: [],
    isLastSibling: false,
  };
  private cssPrefix = cssPrefix;

  @Inject()
  readonly listParam: ProvidedListParam;

  get triggerLeftPadding(): number {
    return Math.min(this.listParam.initialPadding[0], 6);
  }

  get padLeftPadding(): number {
    return this.triggerLeftPadding + 6;
  }

  get padStyle(): CSSStyleOptions {
    return {
      paddingLeft: `${this.padLeftPadding}px`,
      width: `${Math.max(this.listParam.indent, 14)}px`,
    };
  }

  get isSelected() {
    return this.listParam.selectedItems.includes(this.itemId);
  }

  get isPlusMinusTrigger() {
    return this.listParam.triggerStyle === 'plus-minus';
  }

  private isExpanded(): boolean {
    if (!this.isParent()) { return false; }
    return this.listParam.expandedItems.includes(this.itemId);
  }

  private isParent(): boolean {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots);
    return slot.filter((node) => {
      return !!node.componentOptions && node.componentOptions.Ctor === SwTreeListItem;
    }).length > 0;
  }

  private mainContStyle(): CSSStyleOptions {
    let pLeft = this.listParam.initialPadding[0]; // + ((this.hieDescriptor.level - 1) * 24);
    if (!this.listParam.flat) { pLeft -= this.triggerLeftPadding; }
    return {
      paddingLeft: `${pLeft}px`,
    };
  }

  @Inject()
  readonly claimItemSelecting: SwTreeList['claimItemSelecting'];

  @Inject()
  readonly claimParentExpanding: SwTreeList['claimParentExpanding'];

  private onClickItem() {
    this.claimItemSelecting(this.itemId, !this.isSelected);
  }

  private onEnterItem() {
    this.$emit('hover-item', true);
  }

  private onLeaveItem() {
    this.$emit('hover-item', false);
  }

  private onClickTrigger(event: MouseEvent) {
    if (this.isParent()) { event.stopPropagation(); }
    this.claimParentExpanding(this.itemId, !this.isExpanded());
  }
}
</script>
