<template>
<sw-dropdown-unit :class="[`${cssPrefix}`]"
  :disabled="disabled"
  :highlight="highlight"
>
  <span :class="[`${cssPrefix}__check-cont`, 'sw-flexbox__flex-none']">
    <sw-icon v-if="selected"
      :class="[`${cssPrefix}__check`, 'sw-flexbox__flex-none']"
      v-bind="effectiveCheckIconConfig"
      as-block
    />
  </span>
  <span :class="['sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--center-items']"><slot></slot></span>
</sw-dropdown-unit>
</template>

<style lang="scss">
.sw-select-option {
  &__check-cont {
    width: 14px;
    margin-right: $margin-primary-small/2;
  }
  &__check {
    color: $color-selected;
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwDropdownUnit } from '../dropdown-dir';
import { SwIcon, IconConfig } from '../sw-icon';

const cssPrefix = 'sw-select-option';

@Component({
  components: {
    SwDropdownUnit,
    SwIcon,
  },
})
export default class SwSelectOption extends SwExtendedVue {
  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, default: false })
  selected: boolean;

  @Prop({ type: Boolean, default: false })
  highlight: boolean;

  cssPrefix = cssPrefix;

  get effectiveCheckIconConfig(): IconConfig {
    return {
      name: 'checkmark',
      size: 14,
    };
  }
}
</script>
