<style lang="scss">
.sw-select {
  height: 29px;
  width: 180px;// initial width
  border: solid 1px $color--light--border;
  border-radius: 3px;
  padding-left: $padding-primary-small;

  &:focus, &--focus {
    outline: none;
    border-color: $color-selected;
    @include focus-shadow;
  }

  &:hover {
    outline: none;
    border-color: $color-selected;
  }

  &--full { width: 100%; }

  &--disabled {
    cursor: not-allowed;
    border-color: $color--light--text-disabled;
    background-color: $color--light--highlight;
    color: $color--light--text-disabled;
    &:hover {
      border-color: $color--light--text-disabled;
    }
    #{BEM_getParent()}__icon {
      color: $color--light--text-disabled;
    }
  }

  &--auto-height {
    height: auto;
    min-height: 29px;
  }

  &--top-padding {
    padding-top: 1px;
  }

  &__label-cont {
    font-weight: $typo--nunito--font-weight-regular;
    overflow: hidden;
  }

  &__label-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__label-input {
    height: 21px;
    border: none;
    outline: none;
    font-weight: $typo--nunito--font-weight-regular;
  }

  &__label-chip {
    margin: $margin-primary-small/4 $margin-primary-small/2 $margin-primary-small/4 0;
  }

  &__icon {
    color: $color--light--icon;
    width: 29px;
    height: 100%;

    &--active {
      color: $color-selected;
    }
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop, Model, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { dropdown, DropdownDirValues } from '../dropdown-dir';
import { SwIcon } from '../sw-icon';
import { SwChip } from '../sw-chip';
import { domService } from '../dom-service';
import { SelectOption } from './types';
import SwSelectOption from './sw-select-option.vue';

const cssPrefix = 'sw-select';

/**
 * @event change `(optionId: string | string[])`
 */
@Component({
  directives: {
    dropdown,
  },
  components: {
    SwIcon,
    SwChip,
  },
})
export default class SwSelect extends SwExtendedVue {
  /** `string[]` means multiple selection mode */
  @Model('change', { type: [Array, String], required: true })
  value: string | string[];

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, default: false })
  searchable: boolean;

  @Prop({ type: Array, required: true })
  options: SelectOption[];

  @Prop({ type: String, required: true })
  name: string;

  @Prop({ type: Number, default: 400 })
  maxHeight: number;

  @Prop({ type: Number, default: 0 })
  maxWidth: number;

  @Prop({ type: Boolean, default: false })
  full: boolean;

  cssPrefix = cssPrefix;
  scopeId = String(Math.floor(Math.random() * 100000000000));

  isDropdownVisible: boolean = false;
  width: number = 180; // in order to get the width changing reactive
  isFocus: boolean = false;
  searchTerm: string = '';
  kbHighlightIndex: number = -1;

  get isMultiple(): boolean {
    return Array.isArray(this.value);
  }

  get selectedOptions(): SelectOption[] {
    return this.options.filter((option) => {
      return Array.isArray(this.value) ? this.value.includes(option.id) : this.value === option.id;
    });
  }

  get filteredOptions(): SelectOption[] {
    let filteredOptions = this.options;

    if (!!this.searchTerm) {
      const lowerSearch = this.searchTerm.toLowerCase();
      filteredOptions = this.options.filter(option => (option.label.toString().toLowerCase().indexOf(lowerSearch) >= 0)); // tslint:disable-line
    }

    return filteredOptions;
  }

  get submitValue() {
    if (this.selectedOptions.length > 1) {
      return JSON.stringify(this.selectedOptions.filter(o => (o.value !== undefined))
        .map(o => (o.value)));
    }
    if (this.selectedOptions.length === 1 && this.selectedOptions[0].value) {
      return this.selectedOptions[0].value;
    }
    return '';
  }

  get optionsDropdownValue(): DropdownDirValues {
    return {
      withArrow: false,
      content: this.optionsDropdownContent,
      trigger: 'controlled',
      visible: !this.disabled && this.isDropdownVisible,
      placement: 'bottom-start',
      width: this.width,
      maxWidth: this.maxWidth,
      maxHeight: this.maxHeight,
      // reverting the unlimited height change.. have kept the @Prop for later reconsideration...
      // maxHeight: this.maxHeight ? this.maxHeight : 1000,
      // maxWidth: this.maxWidth ? this.maxWidth : 700,
      onClickOutsidePopper: () => { this.isDropdownVisible = false; },
    };
  }

  @Watch('isFocus')
  private onIsFocusChange() {
    if (!this.searchable) { return; }
    if (this.isFocus) {
      if (this.isMultiple) {
        this.searchTerm = '';
      } else {
        this.searchTerm = '';
        /* Making the dropdown show all the options when search is enabled */
        // if (this.selectedOptions.length >= 1) {
        //   const option = this.selectedOptions[0];
        //   this.searchTerm = this.getOptionLabelStringRepresentation(option);
        // }
      }
    }
  }

  @Watch('isDropdownVisible')
  private onDropdownVisibleChange() {
    if (!this.isDropdownVisible) {
      this.kbHighlightIndex = -1;
      if (this.searchable && this.isFocus) {
        /** we try to restore the searchTerm when it is still focused */
        if (this.selectedOptions.length >= 1) {
          const option = this.selectedOptions[0];
          this.searchTerm = this.getOptionLabelStringRepresentation(option);
        }
      }
    } else {
      if (this.selectedOptions.length > 0) {
        const option = this.selectedOptions[0];
        this.$nextTick(() => {
          this.scrollOptionIntoView(option);
        });
      }
    }
    // if (this.isDropdownVisible) {
    //   this.$nextTick(() => {
    //     const optionsEls = document.querySelectorAll(`.${this.cssPrefix}__option-${this.scopeId}`);
    //     const selectOptEl = Array.from(optionsEls)
    //       .find((e) => {
    //         const inst = (e as any).__vue__ as SwSelectOption;
    //         if (!inst) { return false; }
    //         return inst.selected;
    //       });
    //     /** FIXME: use native scrollIntoView for now */
    //     if (selectOptEl) { selectOptEl.scrollIntoView(false); }
    //   });
    // }
  }

  @Watch('kbHighlightIndex')
  private onKbHightlightIndexChange() {
    if (this.kbHighlightIndex < 0) { return; }
    const option = this.filteredOptions[this.kbHighlightIndex];
    if (!option) { return; }
    this.$nextTick(() => {
      this.scrollOptionIntoView(option);
    });
  }

  private renderDisplayLabels(h: CreateElement): VNode[] {
    const nodes: VNode[] = [];
    const showSearchInput = this.searchable && (this.isFocus || this.isDropdownVisible);

    const searchInputNode = (
      <input
        class={[`${this.cssPrefix}__label-input`, 'sw-flexbox__flex', 'sw-typo-default']}
        value={this.searchTerm}
        tabindex={-1}
        ref="searchInput"
        on-input={this.onSearchInput}
        on-focus={this.onSearchInputFocus}
        on-blur={this.onSearchInputBlur}
        on-click={this.onSearchInputClick}
      /> as VNode
    );

    if (!this.isMultiple) {

      if (showSearchInput) {
        nodes.push(searchInputNode);
      }
      if (this.selectedOptions.length >= 1) {
        const option = this.selectedOptions[0];

        nodes.push(
          <span class={[`${this.cssPrefix}__label-text`, 'sw-flexbox__flex']} style={{ display: showSearchInput ? 'none' : undefined }}>
          { typeof option.label === 'function' ? option.label(h) : option.label }
          </span> as VNode,
        );
      }
    } else {
      this.selectedOptions.forEach((option) => {
        nodes.push(
          <SwChip
            class={[`${this.cssPrefix}__label-chip`, 'sw-flexbox__flex-none']}
            on-request-remove={(event: MouseEvent) => { event.stopPropagation(); this.onSelectOption(option); }}
          >
          { typeof option.label === 'function' ? option.label(h) : option.label }
          </SwChip> as VNode,
        );
      });

      if (showSearchInput) {
        nodes.push(searchInputNode);
      }
    }

    return nodes;
  }

  private optionsDropdownContent(h: CreateElement): VNode[] {// tslint:disable-line
    const nodes: VNode[] = [];

    this.filteredOptions.forEach((option, index) => {
      const isSelected = this.selectedOptions.findIndex(o => (o.id === option.id)) >= 0;

      const node = (
        <SwSelectOption
          key={option.id}
          id={`${this.cssPrefix}__option-${this.scopeId}-${option.id}`}
          {...{ class: `${this.cssPrefix}__option-${this.scopeId}` }}
          props-selected={isSelected}
          props-disabled={option.id === '' || !!option.disabled}
          props-highlight={this.kbHighlightIndex >= 0 && this.kbHighlightIndex === index}
          nativeOn-click={() => { this.onSelectOption(option); }}
          nativeOn-mouseenter={() => { this.kbHighlightIndex = -1; }}
          nativeOn-mouseleave={() => { this.kbHighlightIndex = -1; }}
        >
        {
          typeof option.label === 'function' ? option.label(h) : option.label
        }
        </SwSelectOption>
      ) as VNode;
      nodes.push(node);
    });

    return nodes;
  }

  private getOptionLabelStringRepresentation(option: SelectOption) {
    if (typeof option.label === 'string') { return option.label; }
    if (!option.labelStringRep) {
      throw new TypeError('option\'s label string representation is not defined');
    }
    return typeof option.labelStringRep === 'function' ? option.labelStringRep() : option.labelStringRep;
  }

  private scrollOptionIntoView(option: SelectOption) {
    const optionEl = document.getElementById(`${this.cssPrefix}__option-${this.scopeId}-${option.id}`);
    if (!optionEl) { return; }
    const scrollEl = optionEl.closest('.sw-scroll-view__view__cont'); // Note: very hacky way
    if (!scrollEl) { return; }

    const optionElRect = optionEl.getBoundingClientRect();
    const scrollElClientRect = scrollEl.getBoundingClientRect();
    const scrollElRect = {
      top: scrollElClientRect.top,
      left: scrollElClientRect.left,
      width: scrollEl.clientWidth,
      height: scrollEl.clientHeight,
    };

    if (optionElRect.top < scrollElRect.top) {
      scrollEl.scrollTop -= (scrollElRect.top - optionElRect.top);
    } else if ((optionElRect.top + optionElRect.height) > (scrollElRect.top + scrollElRect.height)) {
      scrollEl.scrollTop += (optionElRect.top + optionElRect.height) - (scrollElRect.top + scrollElRect.height);
    }
  }

  private onClickBox() {
    if (this.disabled) { return; }
    this.isDropdownVisible = !this.isDropdownVisible;
  }

  private onSelectOption(option: SelectOption) {
    if (!this.isMultiple) {
      this.$emit('change', option.id);
      (this.$el as HTMLElement).focus();
      this.isDropdownVisible = false;
    } else {
      /** in the case of multiple selection mode, we already emit array of selected ids */
      const toIds = this.selectedOptions.map(o => (o.id));
      const index = toIds.indexOf(option.id);
      if (index >= 0) {
        toIds.splice(index, 1);
      } else {
        toIds.push(option.id);
      }
      this.$emit('change', toIds);
      (this.$el as HTMLElement).focus();
    }
  }

  private onFocus() {
    this.isFocus = true;
    if (this.searchable) {
      this.$nextTick(() => {
        if (!!this.$refs.searchInput) {
          (this.$refs.searchInput as HTMLElement).focus();
        }
      });
    }
  }

  private onBlur() {
    if (!this.searchable) {
      this.isFocus = false;
    }
  }

  private onKeydown(event: KeyboardEvent) {
    let move = 0;
    switch (event.key) {
      case 'Up':
      case 'ArrowUp': {
        move = -1;
        event.preventDefault();
        break;
      }
      case 'Down':
      case 'ArrowDown': {
        move = 1;
        event.preventDefault();
        break;
      }
      case 'Tab': {
        this.isDropdownVisible = false;
        break;
      }
    }

    if (move !== 0) {
      this.kbHighlightIndex = Math.min(
        this.filteredOptions.length - 1,
        Math.max(
          0,
          this.kbHighlightIndex + move,
        ),
      );
      this.isDropdownVisible = true;
    }
  }

  private onKeyup(event: KeyboardEvent) {
    switch (event.key) {
      case 'Esc':
      case 'Escape': {
        if (this.$refs.searchInput) {
          (this.$refs.searchInput as HTMLElement).blur();
        } else {
          (this.$el as HTMLElement).blur();
        }
        this.isDropdownVisible = false;
        break;
      }
      case 'Enter': {
        if (this.kbHighlightIndex >= 0) {
          const option = this.filteredOptions[this.kbHighlightIndex];
          if (!option) { break; }
          this.isFocus = false;
          this.$nextTick(() => {
            this.onSelectOption(option);
          });
        }
        break;
      }
    }
  }

  private onSearchInputFocus() {
    this.isFocus = true;
  }

  private onSearchInputBlur() {
    this.isFocus = false;
  }

  private onSearchInput(event: MouseEvent) {
    this.searchTerm = (event.target as HTMLInputElement).value;
    this.isDropdownVisible = true;
  }

  private onSearchInputClick(event: MouseEvent) {
    if (this.isDropdownVisible) {
      event.stopPropagation();
    }
  }

  private updateSizes() {
    this.width = (this.$el as HTMLElement).offsetWidth;
  }

  private mounted() {
    this.$nextTick(() => {
      this.updateSizes();
    });
    domService.resizeObserver.on(this.$el as HTMLElement, this.updateSizes);
  }

  private updated() {
    this.$nextTick(() => {
      this.updateSizes();
    });
  }

  private beforeDestroy() {
    domService.resizeObserver.off(this.$el as HTMLElement, this.updateSizes);
  }

  private render(h: CreateElement): VNode {// tslint:disable-line
    const rootNode = (
      <div
        class={[`${this.cssPrefix}`, 'sw-typo-default',
          'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items',
          {
            [`${this.cssPrefix}--focus`]: this.isFocus,
            [`${this.cssPrefix}--disabled`]: this.disabled,
            [`${this.cssPrefix}--full`]: this.full,
            [`${this.cssPrefix}--auto-height`]: this.isMultiple,
            [`${this.cssPrefix}--top-padding`]: !this.isMultiple,
          },
        ]}
        v-dropdown={this.optionsDropdownValue}
        tabindex={this.disabled ? undefined : 0}
        on-click={this.onClickBox}
        on-focus={this.onFocus}
        on-blur={this.onBlur}
        on-keydown={this.onKeydown}
        on-keyup={this.onKeyup}
      >
        <input type="hidden" name={name} value={this.submitValue} disabled={this.disabled} />
        <div
          class={[`${this.cssPrefix}__label-cont`, 'sw-flexbox__flex',
            'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--wrap',
          ]}
        >{this.renderDisplayLabels(h)}</div>
        <div
          class={[`${this.cssPrefix}__icon`, { [`${this.cssPrefix}__icon--active`]: this.isDropdownVisible },
            'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
          ]}
        >
          <sw-icon name="arrow-up" size={14} rotate={180} ></sw-icon>
        </div>
      </div>
    );

    return rootNode as VNode;
  }
}
</script>
