<template>
  <div :class="[`${cssPrefix}`]">
    <sw-content-toolbar :bottom-border="true" :topBorder="true" :class="[`${cssPrefix}__content_tool_bar`]">
      <sw-icon :name="activeActionPauseOrPlay" @click.native="toggleActiveAction" />
      <sw-slider size="large" :circle-size="120" :class="[`${cssPrefix}__slider`,'sw-flexbox__flex-none']"
        :with-dropdown="false"
        :categories="categoryValues"
        v-model="selectedValue"
      />
      <img src="@/assets/images/divider_v.png" :class="[`${cssPrefix}__img`]" />
      <div>Refresh every: <sw-textfield :name="'Refresh Rate'" :class="[`${cssPrefix}__textfield`]" v-model="interval"/> sec.</div>
      <span class="sw-flexbox__flex"></span>
      <sw-select
        v-model="coreOptionSelected"
        :options="coreFilterOptions"
        name="ipversion"
        @change="coreFilterChanged">
      </sw-select>
    </sw-content-toolbar>
    <sw-chart-line :style="{ backgroundColor: 'transparent' }"
      ref="liveChart"
      :updateStream="updateStream"
      :chart-data="liveDatasets"
      :chart-height="250"
      :color-palette="trendColors"
      :smoothLine="true"      
      :theme="theme"
      :options = "options"
      caption = "Caption"
      enable-background
    ></sw-chart-line>
  </div>
</template>
<style lang="scss">
.sw-ftr-chart-demonstration {
  &__content_tool_bar {
    margin-bottom: 10px;
  }
  &__slider {
    width: 300px;
    margin: 4px 0px 0px 10px
  }
  &__textfield {
    margin: 0px 3px 0px 3px;
    width: 50px;
  }
  &__img {
    margin: 4px 10px 2px 10px;
  }
}
</style>
<script lang="tsx">
import { Component, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwChartLine } from '@/shared/sw-chart';
import { utilService } from '@/shared/util-service';
import { SwIconButton } from '@/shared/sw-icon-button';
import { SwContentToolbar } from '@/shared/sw-content-toolbar';
import { ApiService } from '@/shared/api-service';
import { SwSelect } from '@/shared/sw-select';
import SwIcon from '@/shared/sw-icon/sw-icon.vue';
import { SwSlider } from '@/shared/sw-slider';
import { SwTextfield } from '@/shared/sw-textfield';
// import { watch } from 'fs';
const cssPrefix = 'sw-ftr-chart-demonstration';
@Component({
  components: {
    SwChartLine,
    SwIconButton,
    SwContentToolbar,
    SwSelect,
    SwIcon,
    SwSlider,
    SwTextfield,
  },
})
export default class SwFtrChartDemonstration extends SwExtendedVue {
  cssPrefix = cssPrefix;
  theme: string = 'light';
  toggleSmoothLine: boolean = true;
  trendColors: string[] = [
    'rgba(61, 196, 181, .8)',
    utilService.colorConst.chartPrimaryPalette[2],
  ];
  interval: string = '1';
  liveDatasets = [
    { data: [], label: '' },
  ];
  isStreamPause: boolean = false;
  coreData: any = Array(10 * 60 * 10);
  index: number = 0;
  chart: any = {};
  adapter: any = new ApiService('https://vue-training-3f5e1-default-rtdb.firebaseio.com/');
  coreOptionSelected: String = 'util';
  categoryValues: any[] = [
    { id: '1', label: '60 secs' },
    { id: '2', label: '2 mins' },
    { id: '5', label: '5 mins' },
    { id: '10', label: '10 mins' },
  ];
  selectedValue: string = '1';
  intervalTimer : any = null;
  @Watch('interval')
  // refreshRateChange (value: number, old: number) {
  //   clearInterval(this.intervalTimer);
  //   this.intervalTimer = setInterval(this.getData, parseInt(this.interval, 10) * 1000);
  //   if (value < old) {
  //   }
  // }
  get streaming() {
    return ({
      frameRate: 60,
      refresh: parseInt(this.interval, 10) * 1000,
      delay: parseInt(this.interval, 10) * 1000 + 10000,
      ttl: 5 * 60 * 1000,
      duration: parseInt(this.selectedValue, 10) * 60 * 1000,
      pause: this.isStreamPause,
    });
  }
  get activeActionPauseOrPlay() {
    if (this.isStreamPause) return 'play';
    return 'pause';
  }
  get options() {
    return {
      plugins: { streaming: this.streaming },
    };
  }
  get coreFilterOptions(): any[] {
    return [
      { id: 'util', label: 'Current (Aggregate)' },
      { id: 'ave', label: 'Average (Aggregate)' },
      { id: '0', label: 'Core 0' },
      { id: '1', label: 'Core 1' },
      { id: '2', label: 'Core 2' },
      { id: '3', label: 'Core 3' },
      { id: '4', label: 'Core 4' },
      { id: '5', label: 'Core 5' },
      { id: '6', label: 'Core 6' },
      { id: '7', label: 'Core 7' },
    ];
  }
  toggleActiveAction() {
    this.isStreamPause = !this.isStreamPause;
  }
  randomValue(min: number, max: number) {
    return Math.random() * (max - min) + min;
  }
  generateCoreDataset() {
    /*
     * Attribute information : -
     * Core Count (8)
     * Each Core Value (1 - 20)
     * Max (1 - 100)
     * Min (1 - Max)
     * Util (1 - 20)
     * Average (1 - 20) floating
     */

    /* for(let i=500; i<=1000; i++) {
      let CORE = 'core'+i;
      let count = 8;
      let cores = [];
      for(let i=0;i<8;i++) {
        cores.push(Math.floor(this.randomValue(1,20)));
      }
      this.adapter.post(`${CORE}.json`,{
        ave: this.randomValue(1,20),
        cores: cores,
        count: count,
        max: 20,
        min: 1,
        util: Math.floor(this.randomValue(1,20)),
      }).then((res: any) => {
        console.log(res);
      }).catch((err: any) => {
        console.log(err);
      })
    } */
  }
  getData() {
    const randomData = Math.floor(this.randomValue(0, 1000));
    this.adapter.get(`core${randomData}.json`)
    .then((res: any) => {
      for (const key in res) {
        this.coreData[this.index] = res[key];
        this.index += 1;
        this.index %= this.coreData.length;
      }
    })
    .catch(() => {
      // console.log(err);
    });
  }
  updateStream (chart: any) {
    this.chart = chart;
    let yValue = 0;
    let currentIndex = this.index;
    if (this.index - 1 < 0) {
      currentIndex = this.coreData.length - 1;
    } else {
      currentIndex -= 1;
    }
    if (Number(this.coreOptionSelected) >= 0) {
      const coreOptionSelected = Number(this.coreOptionSelected);
      yValue = this.coreData[currentIndex].cores[coreOptionSelected];
    } else if (this.coreOptionSelected === 'ave') {
      yValue = this.coreData[currentIndex].ave;
    } else {
      yValue = this.coreData[currentIndex].util;
    }
    chart.data.datasets.forEach((dataset: any) => {
      dataset.data.push({
        x: Date.now(),
        y: yValue,
      });
    });
  }
  coreFilterChanged() {
    this.chart.data.datasets[0].data = [];
  }
  created() {
    this.getData();
    this.intervalTimer = setInterval(this.getData, parseInt(this.interval, 10) * 1000);
  }
  destroyed() {
    clearInterval(this.intervalTimer);
  }
}
</script>