<template>
  <sw-app :class="[`${cssPrefix}`]">
    <template #header><sw-app-header></sw-app-header></template>
    <template #nav><sw-app-nav></sw-app-nav></template>
    <sw-app-content></sw-app-content>
  </sw-app>
</template>

<style lang="scss">
.sw-app-main {
  min-width: $app-min-width;
  min-height: 100vh;
}
.sw-app__main-inner {
  padding: 0;
}
</style>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@/shared/sw-extended-vue';
import { SwApp } from '@/shared/sw-app';
import { SwAppHeader } from '../sw-app-header';
import { SwAppNav } from '../sw-app-nav';
import { SwAppContent } from '../sw-app-content';

const cssPrefix = 'sw-app-main';

@Component({
  components: {
    SwApp,
    SwAppHeader,
    SwAppNav,
    SwAppContent,
  },
})
export default class SwAppMain extends SwExtendedVue {
  cssPrefix = cssPrefix;
}
</script>
