<template>
<nav :class="['sw-circle-menu']" :style="wrapperStyle" v-drag.prevent.overlay="{positioning: dragPositioning}">
  <input :id="menuId" :class="['menu-toggler']" type="checkbox" v-model="opened"
    title="Click to toggle the menu or hold to drag"
  />
  <label :for="menuId"><sw-icon name="help" :size="40" as-block /></label>
  <ul>
    <li v-for="item in menuItems"
      :key="item.menuId"
      :class="['menu-item', { 'menu-item--highlight': item.menuId === highlightedMenuItemId }]"
      :title="item.desc ? item.desc : undefined"
      :style="calcItemStyle(item)"
    >
      <a
        :class="['sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']"
        :style="calcItemContentStyle(item)"
        :href="item.href ? item.href: undefined"
        target="_blank"
        @click="onClickItem(item)"
      >
        <sw-icon :name="item.icon" :size="36" as-block />
        <div :class="['menu-item-text']">{{ item.desc }}</div>
      </a>
    </li>
  </ul>
</nav>
</template>

<style lang="scss">
.sw-circle-menu {
  $toggler-size: 40px;
  $toggler-color: $color-active;
  $toggler-transition: transform 0.5s, top 0.5s, color 0.5s, background-color 0.5s;

  $item-count: 6;
  $item-size: $toggler-size * 2;
  $item-color: white;
  $item-transition: 0.5s;

  @mixin size ($width, $height: $width) {
    width: $width;
    height: $height;
  }

  @mixin line {
    @include size($toggler-size, $toggler-size/8);
    display: block;
    z-index: 1;
    border-radius: $toggler-size/16;
    transition: $toggler-transition;
  }

  @keyframes toggle-glow {
    0%, 50%, 100% {
      color: $toggler-color;
    }
    80% {
      color: fade-out($toggler-color, 0.60)
    }
  }

  // styles

  position: absolute;
  z-index: $zindex-overlay-base + 10;
  overflow: visible;
  width: $toggler-size;
  height: $toggler-size;

  .menu-toggler {
    @include size($toggler-size);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    display: block;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &:hover + label {
      animation: none;
    }
  }

  .menu-toggler:checked {
    & + label {
      color: transparent;
      animation: none;
    }

    & + label:before,
    & + label:after {
      top: $toggler-size/2 - $toggler-size/8/2;
      width: $toggler-size;
      transform-origin: 50% 50%;
      background: $toggler-color;
    }

    & + label:before {
      transform: rotate(45deg);
    }

    & + label:after {
      transform: rotate(-45deg);
    }
  }

  .menu-toggler:checked ~ ul {
    .menu-item {
      opacity: 1;
    }

    .menu-item a {
      pointer-events: auto;
    }
  }

  .menu-toggler + label {
    color: $toggler-color;
    display: block;
    position: absolute;
    left: 0; top: 0;
    transition: $toggler-transition;
    animation: toggle-glow 3s infinite;

    &:before,
    &:after {
      @include line;
      content: "";
      position: absolute;
      left: 0;
      background: transparent;
    }

    &:before {
      top: $toggler-size/2 - $toggler-size/4 - $toggler-size/8/2;
    }

    &:after {
      top: $toggler-size/2 + $toggler-size/4 - $toggler-size/8/2;
    }
  }

  .menu-item {
    @include size($item-size);
    position: absolute;
    left: ($toggler-size - $item-size) / 2;
    top: ($toggler-size - $item-size) / 2;
    display: block;
    opacity: 0;
    transition: $item-transition;

    a {
      width: inherit;
      height: inherit;
      line-height: $item-size;
      color: rgba($item-color, 0.7);
      background: rgba(black, 0.9);
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      pointer-events: none;
      transition: .2s;
      border: solid 3px $color-selected;

      .menu-item-text {
        font-size: 14px;
        font-weight: $typo--nunito--font-weight-regular;
        line-height: 1.2;
        position: absolute;
        bottom: -26px;
        border-radius: 4px;
        color: rgba($item-color, 0.7);
        background: rgba(black, 0.8);
        padding: 3px 6px;
        white-space: nowrap;
        transition: color .2s;
      }
    }

    &--highlight a, a:hover {
      color: black;
      background: $color-selected;
      border-color: $color-selected;

      .menu-item-text {
        color: $item-color;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { CircleMenuItem } from './types';
import { drag, DragPosition } from '../drag-dir';

@Component({
  components: {
    SwIcon,
  },
  directives: {
    drag,
  },
})
export default class SwCircleMenu extends SwExtendedVue {
  @Prop({ required: true, type: Array })
  menuItems: CircleMenuItem[];

  @Prop({ type: Object, default() { return {}; } })
  initPosition: {left?: number, top?: number, bottom?: number, right?: number};

  menuId: string = `circle-menu-${Math.floor(Math.random() * 1000000)}`;

  opened: boolean = false;

  highlightedMenuItemId: string | null = null;

  position: {left?: number, top?: number, bottom?: number, right?: number} = this.initPosition;

  get wrapperStyle() {
    if (this.position) {
      return {
        left: this.position.left !== undefined ? `${this.position.left}px` : undefined,
        top: this.position.top !== undefined ? `${this.position.top}px` : undefined,
        bottom: this.position.bottom !== undefined ? `${this.position.bottom}px` : undefined,
        right: this.position.right !== undefined ? `${this.position.right}px` : undefined,
      };
    }
    return {};
  }

  calcItemStyle(item: CircleMenuItem) {
    const index = this.menuItems.indexOf(item);
    const number = this.menuItems.length;
    return {
      transform: this.opened ? `rotate(${360 / number * index}deg) translateY(${-80 - 30}px)` : undefined,
    };
  }

  calcItemContentStyle(item: CircleMenuItem) {
    const index = this.menuItems.indexOf(item);
    const number = this.menuItems.length;
    return {
      transform: `rotate(${-360 / number * index}deg)`,
    };
  }

  public toggle(opened?: boolean) {
    if (opened !== undefined) {
      this.opened = opened;
    } else {
      this.opened = !this.opened;
    }
  }

  public highlightItem(menuItemId: string | null, doHighlight: boolean = true) {
    if (menuItemId === null) {
      this.highlightedMenuItemId = null;
    }
    if (doHighlight) {
      this.highlightedMenuItemId = menuItemId;
    } else if (this.highlightedMenuItemId === menuItemId) {
      this.highlightedMenuItemId = null;
    }
  }

  @Watch('opened')
  onToggle() {
    this.$emit('toggle', this.opened);
  }

  onClickItem(item: CircleMenuItem) {
    this.$emit('click-item', item);
  }

  dragPositioning(toClientPos: DragPosition) {
    const op = (this.$el as HTMLElement).offsetParent;
    if (!op) { return; }
    const opRect = op.getBoundingClientRect();
    this.position = {
      left: toClientPos.x - opRect.left,
      top: toClientPos.y - opRect.top,
    };
  }
}
</script>
