<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`,
    `${cssPrefix}--orientation-${orientation}`,
    'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items', 'sw-typo-default',
    { [`${cssPrefix}--clickable`]: clickable }
  ]"
>
  <div :class="[`${cssPrefix}__block`, 'sw-flexbox__flex-none',
      'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
    ]"
    :style="blockStyle"
  >
    <sw-icon v-if="effectiveIcon" v-bind="effectiveIcon" />
  </div>
  <div v-if="useDivider" :class="[`${cssPrefix}__divider`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--end-justify']">
    <div :class="[`${cssPrefix}__line`, 'sw-flexbox__flex-none']" :style="lineStyle"></div>
  </div>
  <div :class="[`${cssPrefix}__text`, 'sw-flexbox__flex-none']">
    <div :class="[`${cssPrefix}__label`]">{{ label }}</div>
    <div :class="[`${cssPrefix}__count`]">{{ displayUnit }}</div>
  </div>
</div>
</template>

<style lang="scss">
.sw-count-block {
  $cssPrefix: '.sw-count-block';

  vertical-align: bottom;

  &--orientation-right {
    #{BEM_getParent()}__block {
      order: 2;
    }
    #{BEM_getParent()}__text {
      order: 1;
      margin-left: 0;
      margin-right: $margin-primary-small;
    }
    #{BEM_getParent()}__label {
      text-align: right;
    }
    #{BEM_getParent()}__count {
      text-align: right;
    }
  }

  &--clickable {
    cursor: pointer;
    user-select: none;

    &:hover {
      #{$cssPrefix}__label,
      #{$cssPrefix}__count {
        color: $color-selected;
      }
    }
  }

  &__block {
    // background-color: $color-status-critical;
    width: 53px;
    height: 53px;
    border-radius: 3px;
  }

  &__divider {
    width: 0;
    height: 53px;
  }
  &__line {
    width: 1px;
  }

  &__text {
    margin-left: $margin-primary-small;
  }

  &__label {
    font-size: 16px;
    font-weight: $typo--nunito--font-weight-regular;
    color: $color--dark--text-2;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__count {
    font-size: 28px;
    font-weight: $typo--nunito--font-weight-extra-light;
    line-height: 1;
    color: $color--dark--icon;
    white-space: nowrap;
  }

  /* for light theme */
  &--light {
    #{BEM_getParent()}__label {
      color: $color--dark--slider;
    }
    #{BEM_getParent()}__count {
      color: $color--light--text;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon, IconConfig } from '../sw-icon';
import { CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';

const cssPrefix = 'sw-count-block';

@Component({
  components: {
    SwIcon,
  },
})
export default class SwCountBlock extends SwExtendedVue {
  @Prop({ type: String, required: true })
  label: string;

  @Prop({ type: [Number, Array], required: true })
  count: number | number[];

  @Prop({ type: [String, Array], default: undefined })
  unit: string | string[];

  @Prop({ type: String, default: undefined })
  color: string;

  @Prop({ type: String, default: undefined })
  iconColor: string;

  @Prop({ type: Object, default: null })
  icon: IconConfig | void;

  @Prop({ type: String, default: 'left' })
  orientation: 'left' | 'right';

  @Prop({ type: String, default: 'dark' })
  theme: 'light' | 'dark';

  @Prop({ type: Boolean, default: false })
  clickable: boolean;

  cssPrefix = cssPrefix;

  /** we will be using divider if the block is transparent and only icon is shown */
  get useDivider() {
    return !this.color && !!this.icon;
  }

  get blockStyle(): CSSStyleOptions {
    return {
      backgroundColor: this.color,
      color: this.iconColor || 'white',
    };
  }

  get lineStyle(): CSSStyleOptions | null {
    if (!this.useDivider) { return null; }
    return {
      background: `linear-gradient(transparent, ${this.iconColor}, transparent)`,
    };
  }

  get effectiveIcon(): IconConfig | null {
    if (!this.icon) { return null; }
    return Object.assign(
      {} as IconConfig,
      { size: 28 } as IconConfig,
      this.icon,
    );
  }

  get displayUnit(): string {
    if (Array.isArray(this.count)) {
      return this.count.map<string>((c, index) => {
        const commasCount = utilService.numberWithCommas(c);
        if (Array.isArray(this.unit) && this.unit[index]) {
          return `${commasCount} ${this.unit[index]}`;
        }
        if (this.unit) {
          return `${commasCount} ${this.unit}`;
        }
        return String(commasCount);
      })
        .join(' / ');
    }
    return utilService.numberWithCommas(this.count);
  }
}
</script>
