<template>
<div :class="['sw-avatar',
    {
      'sw-avatar--clickable': clickable,
      'sw-avatar--selected': selected,
      'sw-avatar--image': useImage,
    }
  ]"
  :style="rootStyle"
>
  <div :class="['sw-avatar__inner', 'sw-flexbox', 'sw-flexbox--inline',
      'sw-flexbox--center-items', 'sw-flexbox--center-justify',
    ]"
  >
    <span v-if="!useImage" :class="['sw-avatar__initials']">{{ initials }}</span>
  </div>
</div>
</template>

<style lang="scss">
.sw-avatar {
  $cssPrefix: '.sw-avatar';
  overflow: hidden;
  display: inline-block;
  background-color: $color--light--text;
  background-clip: content-box;
  background-size: 29px 29px;
  background-origin: border-box;
  color: $color-background-mat;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  user-select: none;

  &--clickable {
    cursor: pointer;

    &:hover {
      color: $color-selected;
    }
    &:active {
      border: 1px dashed $color-selected;
    }
  }

  &--selected {
    background-color: $color-selected;
    color: black;

    &:hover {
      color: black;
    }
    &:active {
      border: none;
    }
  }

  &--image {
    &#{BEM_getParent()}--clickable {
      &:active {
        border: 1px dashed $color-selected;
      }
    }
    &#{BEM_getParent()}--selected {
      border: 1px solid $color-selected;
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
  }

  &__initials {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: $typo--nunito--font-weight-regular;
  }

  &__image {
    border: none;
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import _ from 'lodash';
import { SwExtendedVue } from '../sw-extended-vue';
import { CSSStyleOptions } from '../common-types';

@Component({
  components: {
  },
})
export default class SwAvatar extends SwExtendedVue {
  @Prop({ type: String, required: true })
  name: string;

  @Prop(String)
  image: string;

  @Prop({ type: Boolean, default: false })
  clickable: boolean;

  @Prop({ type: Boolean, default: false })
  selected: boolean;

  get initials(): string {
    const words = _.trim(this.name)
      .split(/\s+/);
    if (words.length > 1) {
      return `${words[0].charAt(0)}${words[1].charAt(0)}`;
    }
    return words[0].substr(0, 2);
  }

  get useImage(): boolean {
    return !!this.image;
  }

  get rootStyle(): CSSStyleOptions {
    const style: CSSStyleOptions = {};
    if (this.useImage) {
      style.backgroundImage = `url('${this.image}')`;
    }
    return style;
  }
}
</script>
