<template>
<div :id="id" :class="['sw-drag-overlay']"></div>
</template>

<style lang="scss">
.sw-drag-overlay {
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-overlay-base;
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

@Component
export default class SwDragOverlay extends SwExtendedVue {
  @Prop({ type: String, required: true })
  id: string;
}
</script>
