<template>
  <div :class="[`${cssPrefix}`]">
    <section :class="['sw-app-content__inner']">
      <!-- for the feature route -->
      <router-view></router-view>
    </section>
  </div>
</template>

<style lang="scss">
.sw-app-content {
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &__inner {
    overflow: visible;
    padding: 0;
  }
}
</style>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@/shared/sw-extended-vue';

const cssPrefix = 'sw-app-content';

@Component({
  components: {
  },
})

export default class SwAppContent extends SwExtendedVue {
  cssPrefix = cssPrefix;
}
</script>
