<template>
<div :class="[`${cssPrefix}`]">
  <sw-modal :visible="display" @request-close="toggleDisplayFlag()" mode="pillar" title="Complete the setup" >
    <sw-modal-body>
      <div :class="['sw-flexbox', 'sw-flexbox--center-justify']">
          <sw-steps v-for="(step,index) in steps" :key="index" :stepTitle="step.title" :stepLabel="step.label"  :stepCount="steps.length" :stepIndex="index" :stepState="step.state" :changeStepTitle="false"></sw-steps>
      </div>
      <div :class="['wizard-content-area']">
          <component :is="activeStepComponent" v-bind="{representative : representative}"></component>
      </div>
    </sw-modal-body>
    <sw-modal-footer>
      <div :class="['wizard-footer', 'sw-flexbox', 'sw-flexbox--center-justify']">
        <div class="btn-prev"><sw-button name='Previous' @click.native="onPrev()"></sw-button></div>
        <div class="btn-next"><sw-button :name="btnName" as-default @click.native="onNext()"></sw-button></div>
      </div>
    </sw-modal-footer>
  </sw-modal>
</div>
</template>
<script lang="ts">
const COMPLETE = 'complete';
const ACTIVE = 'active';
const DEFAULT = 'default';
const FINISH = 'Finish';
const NEXT = 'Next';

import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwModal } from '@libs-uuif/shared/sw-modal';
import  SwModalBody  from '@libs-uuif/shared/sw-modal/sw-modal-body.vue';
import  SwModalFooter from '@libs-uuif/shared/sw-modal/sw-modal-footer.vue';
import { SwButton } from '@libs-uuif/shared/sw-button';
import { SwSteps } from '@libs-uuif/shared/sw-steps';
import { SwAvatar } from '@libs-uuif/shared/sw-avatar';
import { SwFtrHelloStep1 }  from './sw-ftr-hello-steps/sw-ftr-hello-step1';
import { SwFtrHelloSpinner } from './sw-ftr-hello-spinner';
import { SwFtrHelloStep2 } from './sw-ftr-hello-steps/sw-ftr-hello-step2';

const cssPrefix = 'sw-ftr-hello-sonicwall-modal';

@Component({
  components: {
    SwModal,
    SwModalBody,
    SwModalFooter,
    SwButton,
    SwSteps,
    SwAvatar,
    SwFtrHelloStep1,
    SwFtrHelloStep2,
    SwFtrHelloSpinner,
  },
})

export default class SwFtrHelloSonicwallModal extends SwExtendedVue {
  cssPrefix = cssPrefix;
  @Prop(Boolean) readonly display : boolean | undefined;
  @Prop(String) readonly representative : string | undefined;
  activeStep : string = '1';
  activeStepComponent : string = 'sw-ftr-hello-spinner';
  steps = [
    {
      label: '1',
      title: 'First Step',
      state: 'active',
    },
    {
      label: '2',
      title: 'Second Step',
      state: 'default',
    },
    {
      label: '3',
      title: 'Third Step',
      state: 'default',
    },
    {
      label: '4',
      title: 'Fourth Step',
      state: 'default',
    },
  ];
  count: number = this.steps.length;
  activeIndex: number = 0;
  btnName: string = 'Next';
  toggleDisplayFlag() {
    this.$emit('listenDisplayToggle', !this.display);
  }
  getActiveComponentName() {
    switch (this.activeIndex) {
      case 0 : return 'sw-ftr-hello-step-1';
      case 1 : return 'sw-ftr-hello-step-2';
      case 2 : return 'sw-ftr-hello-step-3';
      case 3 : return 'sw-ftr-hello-step-4';
      default : return '';
    }
  }
  setComponent() {
    setTimeout(() => { this.activeStepComponent = this.getActiveComponentName(); }, 1000);
  }
  created() {
    this.setComponent();
  }
  onNext() {
    if (this.activeIndex < this.count - 1) {
      this.activeStepComponent = 'sw-ftr-hello-spinner';
      this.steps[this.activeIndex].state = COMPLETE;
      this.activeIndex += 1;
      this.steps[this.activeIndex].state = ACTIVE;
    }
    if (this.activeIndex === this.count - 1) {
      this.btnName = FINISH;
    }
    this.setComponent();
  }
  onPrev() {
    this.activeStepComponent = 'sw-ftr-hello-spinner';
    if (this.activeIndex > 0 && this.activeIndex < this.count) {
      this.steps[this.activeIndex].state = DEFAULT;
      this.activeIndex -= 1;
      this.steps[this.activeIndex].state = ACTIVE;
      this.btnName = NEXT;
    }
    this.setComponent();
  }
}
</script>