<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`,
    `${cssPrefix}--mode-${mode}`,
    'sw-typo-default', 'sw-flexbox', 'sw-flexbox--column',
  ]"
>
  <div v-if="hasTop()" :class="[`${cssPrefix}__top`, 'sw-flexbox__flex-none']"><slot name="top" /></div>
  <div :class="[`${cssPrefix}__view`, 'sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--row']">
    <div v-if="hasLeft()" :class="[`${cssPrefix}__left`, 'sw-flexbox__flex-none']"><slot name="left" /></div>
    <sw-scroll-view v-if="isAppMode"
      scrollbar-auto-hide
      :class="[`${cssPrefix}__nav-scrollview`, 'sw-flexbox__flex-none']"
    >
      <div :class="[`${cssPrefix}__nav`]">
        <slot name="nav"></slot>
      </div>
    </sw-scroll-view>
    <div v-else
      :class="[`${cssPrefix}__nav`, 'sw-flexbox__flex-none']"
    >
      <slot name="nav"></slot>
    </div>

    <div :class="[`${cssPrefix}__main`, 'sw-flexbox__flex']">
      <slot name="pre-main"></slot>
      <div :class="[`${cssPrefix}__main-inner`,
          {
            [`${cssPrefix}__main-inner--fit`]: isMainFitMode,
            'sw-flexbox': isMainFitMode,
            'sw-flexbox--column': isMainFitMode,
          }
        ]"
      >
        <slot name="pre-header"></slot>
        <div :class="[`${cssPrefix}__header`, { 'sw-flexbox__flex-none': isMainFitMode }]">
          <slot name="header"></slot>
        </div>

        <slot name="pre-content"></slot>
        <div :class="[`${cssPrefix}__content`,
            {
              [`${cssPrefix}__content--fit`]: isMainFitMode,
              [`${cssPrefix}__content--scroll`]: isAppMode,
              'sw-flexbox__flex': isMainFitMode,
            }
          ]"
        >
          <slot></slot>
        </div>
      </div>
      <slot name="post-main"></slot>
    </div>

    <div v-if="hasRight()" :class="[`${cssPrefix}__right`, 'sw-flexbox__flex-none']"><slot name="right" /></div>
  </div>
  <div v-if="hasBottom()" :class="[`${cssPrefix}__bottom`, 'sw-flexbox__flex-none']"><slot name="bottom" /></div>
</div>
</template>

<style lang="scss">
.sw-app {
  $cssPrefix: '.sw-app';
  $scrollview-pad: 8px;

  width: 100%;
  height: auto;
  overflow: hidden;
  background: $color-background-mat;
  color: $color--light--text;

  &--dark {
    background-color: $color--dark--mat;
    color: $color--dark--text;
  }

  &--mode-app {
    height: 100vh;

    #{$cssPrefix}__main-inner {
      padding: 0;
    }

    #{$cssPrefix}__nav {
      height: 100%;
      padding-right: $scrollview-pad;
    }
  }

  &__view {
    overflow: hidden;
  }

  &__main {
    height: auto;
    overflow: auto;
  }

  &__main-inner {
    padding: 0 $padding-primary-large;
    width: 100%;

    &--fit {
      height: 100%;
    }
  }

  &__header {
    overflow: visible;
  }

  &__nav-scrollview {
    margin-right: -$scrollview-pad;
  }

  &__nav {
    overflow: visible;
  }

  &__content {
    overflow: hidden;
    &--fit {
      flex-basis: 0px; // very special override in order to set absolute scale for this element
    }
    &--scroll {
      overflow: auto;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwScrollView } from '../sw-scroll-view';
import { utilService } from '../util-service';

const cssPrefix = 'sw-app';

@Component({
  components: {
    SwScrollView,
  },
})
export default class SwApp extends SwExtendedVue {
  @Prop({ type: String, default: 'light' })
  theme: 'light' | 'dark';

  @Prop({ type: String, default: 'page' })
  mode: 'page' | 'app';

  @Prop({ type: Boolean, default: false })
  mainFitPage: boolean;

  cssPrefix = cssPrefix;

  get isMainFitMode() {
    return this.mainFitPage || this.isAppMode;
  }

  get isAppMode() {
    return this.mode === 'app';
  }

  private hasTop() {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots, 'top');
    return slot.length > 0;
  }

  private hasBottom() {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots, 'bottom');
    return slot.length > 0;
  }

  private hasLeft() {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots, 'left');
    return slot.length > 0;
  }

  private hasRight() {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots, 'right');
    return slot.length > 0;
  }

}
</script>
