<template>
  <div :class="[cssPrefix, 'sw-flexbox', 'sw-flexbox--center-items',
    `${cssPrefix}--${theme}`]"
  >
    <ul :class="[`${cssPrefix}__cont`, 'sw-flexbox__flex-none', 'sw-flexbox']">
      <li v-for="item in options"
        :key="item.id"
        :title="item.title ? item.title : ''"
        :class="[`${cssPrefix}__cont__item`, 'sw-flexbox__flex-none',
          { [`${cssPrefix}__cont__item--selected`]: isSelected(item) }
        ]"
        :style="{paddingTop: clickAreaPadding, paddingBottom: clickAreaPadding}"
        @click.stop.prevent="onClickOption(item)"
      >
        <div :class="[`${cssPrefix}__cont__item__dash`]"></div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
.sw-dash-switch {
  overflow: hidden;

  &__cont {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      list-style: none;
      padding: 5px 0;
      margin: 0;
      cursor: pointer;

      &:hover #{getLastSelectorOfParent()}__dash {
        background-color: $color--light--icon-hover;
      }

      &--selected {
        #{BEM_getParent()}__dash {
          background-color: $color--light--icon-selected;
        }
        &:hover #{BEM_getParent()}__dash {
          background-color: darken($color--light--icon-selected, 20%);
        }
      }

      & + & {
        margin-left: 5px;
      }

      &__dash {
        height: 5px;
        width: 57px;
        border-radius: 2.5px;
        background-color: $color--light--icon;
      }
    }
  }

  &--dark {
    #{BEM_getParent()}__cont {
      &__item {
        &:hover #{getLastSelectorOfParent()}__dash {
          background-color: rgba(255, 255, 255, 0.5);
        }

        &--selected {
          #{BEM_getParent()}__dash {
            background-color: $color--dark--icon-selected;
          }
          &:hover #{BEM_getParent()}__dash {
            background-color: lighten($color--dark--icon-selected, 20%);
          }
        }

        &__dash {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Model } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwDashSwitchOption } from './types';

const cssPrefix = 'sw-dash-switch';

/**
 * Events:
 * @event on-switch `(id: string)`
 */
@Component({
  components: {
  },
})
export default class SwDashSwitch extends SwExtendedVue {
  /** could be `light` or `dark` */
  @Prop({ type: String, default: 'light' })
  theme: string;

  /** could be `bar` or `dot` */
  @Prop({ type: String, default: 'bar' })
  type: string;

  @Prop({ type: Array, required: true })
  options: SwDashSwitchOption[];

  @Model('on-switch', { type: String, required: true })
  selected: string;

  @Prop({ type: Number, default: 15 })
  clickAreaHeight: number;

  cssPrefix: string = cssPrefix;

  get clickAreaPadding(): string {
    return `${Math.floor((this.clickAreaHeight - 5) / 2)}px`;
  }

  isSelected(option: SwDashSwitchOption): boolean {
    return (option.id === this.selected);
  }

  onClickOption(option: SwDashSwitchOption) {
    if (this.isSelected(option)) { return; }
    this.$emit('on-switch', option.id);
  }
}
</script>
