<style lang="scss">
.sw-chart-compare-bar {
  &__canvas-cont {
    flex-basis: 100px; // fix for firefox
    min-height: 100px;
    height: 100px;
  }
}
</style>

<script lang="tsx">
import { mixins } from 'vue-class-component';
import { Component, Prop, Watch } from 'vue-property-decorator';
import Chart from 'chart.js';
import _ from 'lodash';
import { utilService } from '../util-service';
import chartUtil from './util.service';
import SwChartChartJsMixin from './sw-chart-chart-js.mixin.vue';
import { CompareBarData, ChartOptions, AnnotationConfig, StaticLabelOptions } from './types';

@Component
export default class SwChartCompareBar extends mixins(SwChartChartJsMixin) {
  @Prop({ type: Object, required: true })
  compareData: CompareBarData;

  @Prop({ type: Boolean, default: true })
  colorPerCategory: boolean;

  @Prop({ type: Boolean, default: false })
  xLabelsDisplay: boolean;

  @Prop({ type: Boolean, default: false })
  yLabelsDisplay: boolean;

  @Prop({ type: Array })
  colorPalette: string[];

  @Prop({ type: Object, default() { return {}; } })
  axisOpts: Chart.ChartScales;

  @Prop(Object)
  annotationConfig: AnnotationConfig;

  @Prop({ type: Object, default() { return { enable: false }; } })
  staticLabelOpts: StaticLabelOptions;

  get chartOptions(): ChartOptions & { cornerRadius: number } {
    const options: ChartOptions & { cornerRadius: number } = {
      cornerRadius: 10,
      scales: _.merge(
        {
          xAxes: [{
            categoryPercentage: 0.7,
            maxBarThickness: 8,
            gridLines: {
              color: chartUtil.chartGridColor(this.theme),
            },
            ticks: {
              fontColor: chartUtil.chartTextColor(this.theme),
              display: this.xLabelsDisplay ? true : false,
            },
          }],
          yAxes: [{
            gridLines: {
              color: chartUtil.chartGridColor(this.theme),
            },
            ticks: {
              fontColor: chartUtil.chartTextColor(this.theme),
              display: this.yLabelsDisplay ? true : false,
              min: 0,
            },
          }],
        },
        this.axisOpts,
      ),
      legend: {
        display: false,
      },
      layout: {
        padding: {
          top: this.staticLabelOpts.enable ? 15 : 0,
        },
      },
      annotation: this.annotationConfig,
      tooltips: {
        enabled: !this.staticLabelOpts.enable,
      },
      plugins: {
        staticlabel: _.merge(this.staticLabelOpts, { theme: this.theme }),
      },
    };
    return _.merge(options, this.options);
  }

  get normalizedDatasets(): Chart.ChartDataSets[] {
    const providedPalette = this.colorPalette || utilService.colorConst.chartPrimaryPalette;
    const candLength = providedPalette.length;

    function generateColorPalette(length: number): string[] {
      const palette: string[] = [];
      for (let i = 0; i < length; i += 1) {
        palette.push(providedPalette[i % candLength]);
      }
      return palette;
    }

    return this.compareData.dataset.map<Chart.ChartDataSets>((ds, index) => {
      return {
        data: ds.data,
        label: ds.label,
        backgroundColor: this.colorPerCategory ?
          generateColorPalette(ds.data.length) :
          providedPalette[index % candLength],
        borderWidth: 0,
      };
    });
  }

  @Watch('compareData.categoryLabels')
  @Watch('normalizedDatasets')
  @Watch('chartOptions')
  private onConfigChanged() {
    if (this.chartInstance) {
      this.updateData();
      (this.chartInstance as any).options = this.chartOptions;
      this.chartInstance.update();
    }
  }

  private updateData() {
    if (this.chartInstance) {
      chartUtil.updateChartRegularData(this.chartInstance, this.compareData.categoryLabels, this.normalizedDatasets);
    }
  }

  created() {
    this.myCssPrefix = 'sw-chart-compare-bar';
  }

  mounted() {
    this.initChart({
      type: 'roundedBar',
      data: {
        labels: this.compareData.categoryLabels,
        datasets: this.normalizedDatasets,
      },
      options: this.chartOptions,
    });
  }
}
</script>
