<template>
<div :class="[`${cssPrefix}`, 'sw-flexbox', 'sw-flexbox--inline', 'sw-typo-default']">
  <div :class="[`${cssPrefix}__badge-cont`, 'sw-flexbox__flex-none',
      'sw-flexbox', 'sw-flexbox--center-justify',
      {
        [`${cssPrefix}__badge-cont--right`]: isRight,
        'sw-flexbox--start-items': isTop,
        'sw-flexbox--end-items': isBottom,
      },
    ]"
  >
    <div v-if="!dot" :class="[`${cssPrefix}__badge-text`, 'sw-flexbox__flex-none',
        'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
        {
          [`${cssPrefix}__badge-text--bottom`]: isBottom,
          [`${cssPrefix}__badge-text--left-inset`]: !isRight && inset === true,
          [`${cssPrefix}__badge-text--right-inset`]: isRight && inset === true,
          [`${cssPrefix}__badge-text--left-inset-half`]: !isRight && inset === 'half',
          [`${cssPrefix}__badge-text--right-inset-half`]: isRight && inset === 'half',
        },
      ]"
      :style="badgeTextStyle"
    ><span>{{ effectiveContent }}</span></div>
    <sw-icon v-else :class="[`${cssPrefix}__badge-dot`,
        'sw-flexbox__flex-none',
        {
          [`${cssPrefix}__badge-dot--bottom`]: isBottom,
          [`${cssPrefix}__badge-dot--left-inset`]: !isRight && inset === true,
          [`${cssPrefix}__badge-dot--right-inset`]: isRight && inset === true,
          [`${cssPrefix}__badge-dot--left-inset-half`]: !isRight && inset === 'half',
          [`${cssPrefix}__badge-dot--right-inset-half`]: isRight && inset === 'half',
        },
      ]"
      name="dot" :size="10" :color="color"
    ></sw-icon>
  </div>
  <div :class="[`${cssPrefix}__target-cont`, 'sw-flexbox__flex-none']"><slot></slot></div>
</div>
</template>

<style lang="scss">
.sw-badge {
  overflow: visible;
  vertical-align: bottom;

  &__badge-cont {
    width: 0;
    overflow: visible;
    position: relative;
    z-index: 1;
    order: 1;

    &--right {
      order: 2;
    }
  }

  &__badge-text {
    $height: 18px;
    font-size: 13px;
    font-weight: $typo--nunito--font-weight-extra-light;
    line-height: 1;
    color: $color-background-mat;

    height: $height;
    min-width: $height;

    border-radius: $height;
    padding: 1px (($height - 8px)/2) 0;

    position: relative;
    z-index: 1;
    top: -($height / 2);

    user-select: none;

    &--bottom {
      top: $height / 2;
    }
    &--left-inset {
      top: 0;
      left: $height / 2;
    }
    &--right-inset {
      top: 0;
      left: -($height / 2);
    }
    &--left-inset-half {
      top: -($height / 4);
      left: $height / 4;
      &#{BEM_getParent()}--bottom {
        top: $height / 4;
      }
    }
    &--right-inset-half {
      top: -($height / 4);
      left: -($height / 4);
      &#{BEM_getParent()}--bottom {
        top: $height / 4;
      }
    }
  }

  &__badge-dot {
    $height: 10px;
    position: relative;
    z-index: 1;
    top: -($height / 2);

    &--bottom {
      top: $height / 2;
    }
    &--left-inset {
      top: 0;
      left: $height / 2;
    }
    &--right-inset {
      top: 0;
      left: -($height / 2);
    }
    &--left-inset-half {
      top: -($height / 4);
      left: $height / 4;
      &#{BEM_getParent()}--bottom {
        top: $height / 4;
      }
    }
    &--right-inset-half {
      top: -($height / 4);
      left: -($height / 4);
      &#{BEM_getParent()}--bottom {
        top: $height / 4;
      }
    }
  }

  &__target-cont {
    order: 1;
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { utilService } from '../util-service';
import { CSSStyleOptions } from '../common-types';

const cssPrefix = 'sw-badge';

@Component({
  components: {
    SwIcon,
  },
})
export default class SwBadge extends SwExtendedVue {
  @Prop({ type: [Number, String], default: undefined })
  content: number | string | undefined;

  @Prop({ type: Number, default: 999 })
  cap: number;

  @Prop({ type: String, default: 'top-left' })
  placement: 'top-left' | 'top-right' | 'bottom-left' | 'bottom-right';

  @Prop({ type: Boolean, default: false })
  dot: boolean;

  @Prop({ type: String, default: utilService.colorConst.statusCritical })
  color: string;

  @Prop({ type: [Boolean, String], default: false })
  inset: boolean | 'half';

  cssPrefix = cssPrefix;

  get badgeTextStyle(): CSSStyleOptions {
    if (this.dot) { return {}; }
    return {
      backgroundColor: this.color,
    };
  }

  get effectiveContent(): string {
    if (this.dot) { return ''; }
    if (typeof this.content === 'number') {
      if (this.content > this.cap) {
        return `${this.cap}+`;
      }
      return String(this.content);
    }
    if (typeof this.content === 'string') {
      return this.content;
    }
    return '';
  }

  get isBottom() {
    return this.placement === 'bottom-left' || this.placement === 'bottom-right';
  }

  get isTop() {
    return this.placement === 'top-left' || this.placement === 'top-right';
  }

  get isLeft() {
    return this.placement === 'top-left' || this.placement === 'bottom-left';
  }

  get isRight() {
    return this.placement === 'top-right' || this.placement === 'bottom-right';
  }
}
</script>
