<template>
  <label :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`, 'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items',
      { [`${cssPrefix}--disabled`]: disabled },
    ]"
    :tabindex="disabled ? undefined : 0"
  >
    <input :class="[`${cssPrefix}__radio`]"
      type="radio"
      :name="name"
      :checked="isChecked"
      :value="value"
      :disabled="disabled"
      @change="onInternalValueChange"
    />
    <span :class="[`${cssPrefix}__fake-radio-button`, 'sw-flexbox__flex-none',
        { [`${cssPrefix}__fake-radio-button--checked`]: isChecked }
      ]"
    ></span>
    <span v-if="hasLabel()" :class="[`${cssPrefix}__label`]"><slot></slot></span>
  </label>
</template>

<style lang="scss">
.sw-radio {
  $cssPrefix: '.sw-radio';

  vertical-align: text-bottom;

  &:focus {
    outline: none;

    .sw-radio__fake-radio-button {
      outline: none;
      @include focus-shadow;
    }
  }

  &--disabled {
    cursor: not-allowed;

    #{BEM_getParent()}__fake-radio-button {
      border-color: $color--light--text-disabled;
      background-color: $color--light--highlight;
      cursor: not-allowed;

      &:hover {
        border-color: $color--light--text-disabled;
      }

      &:after {
        background-color: $color--light--text-disabled;
      }
    }

    #{BEM_getParent()}__label {
      color: $color--light--text-disabled;
    }
  }

  &__radio {
    display: none;
  }

  &__fake-radio-button {
    height: 19px;
    width: 19px;
    border: 1px solid $color--light--icon;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    position: relative;

    &:hover {
      border-color: $color--light--icon-hover;
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 3px;
      left: 3px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $color-selected;
    }

    &--checked {
      &:after {
        display: block;
      }
    }
  }

  &__label {
    font-size: $typo-default-font-size;
    font-weight: $typo--nunito--font-weight-regular;
    color: $color--light--text;
    margin-left: 10px;
    cursor: text;
  }

  &--dark {
    #{BEM_getParent()}__fake-radio-button {
      border-color: $color--dark--icon;
      &:hover {
        border-color: $color--dark--icon-hover;
      }
    }
    #{BEM_getParent()}__label {
      color: $color--dark--text;
    }

    &#{$cssPrefix}--disabled {
      #{$cssPrefix}__fake-radio-button {
        border-color: $color--dark--text-disabled;
        background-color: $color--dark--highlight-2;
        &:after {
          background-color: $color--dark--text-disabled;
        }
      }
      #{$cssPrefix}__label {
        color: $color--dark--text-disabled;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Model } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';

const cssPrefix = 'sw-radio';

/**
 * Controlled Radio Form Element
 *
 * @event change
 */
@Component
export default class SwRadio extends SwExtendedVue {
  @Prop({ type: String, required: true })
  name: string;

  @Model('change', { type: String, required: true })
  pickedValue: string;

  @Prop({ type: String, required: true })
  value: string;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: String, default: 'light' })
  theme: 'dark' | 'light';

  cssPrefix = cssPrefix;

  get isChecked(): boolean {
    return this.pickedValue === this.value;
  }

  hasLabel(): boolean {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots);
    return slot.length > 0;
  }

  onInternalValueChange(event: MouseEvent) {
    const toBeChecked = (event.currentTarget as HTMLInputElement).checked;
    /** force it to sync with current state, because its state should fully depend on external input `pickedValue` */
    (event.currentTarget as HTMLInputElement).checked = this.isChecked;
    if (toBeChecked) {
      this.$emit('change', this.value);
    }
  }
}
</script>
