<template>
  <div :class="[`${cssPrefix}`,
      'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items', 'sw-typo-default',
      { [`${cssPrefix}--clickable`]: true }
    ]"
  >
  <slot></slot>
  <div :class="[`${cssPrefix}__divider`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--end-justify']">
    <div :class="[`${cssPrefix}__line`, 'sw-flexbox__flex-none']" :style="lineStyle"></div>
  </div>
  <div :class="[`${cssPrefix}__text`, 'sw-flexbox__flex-none']">
    <div :class="[`${cssPrefix}__label`]">{{caption}}</div>
    <div :class="[`${cssPrefix}__count`]">{{value}}</div>
  </div>
</div>
</template>
<style lang="scss">
.sw-dashboard-count-widget {
  $cssPrefix: '.sw-dashboard-count-widget';
  vertical-align: bottom;
  &--clickable {
    cursor: pointer;
    user-select: none;
    &:hover {
      #{$cssPrefix}__label,
      #{$cssPrefix}__count {
        color: $color-selected;
      }
    }
  }
  &__block {
    // background-color: $color-status-critical;
    width: 53px;
    height: 53px;
    border-radius: 3px;
  }
  &__divider {
    width: 0;
    height: 53px;
  }
  &__line {
    width: 2px;
  }
  &__text {
    margin-left: $margin-primary-small;
  }
  &__label {
    font-size: 16px;
    font-weight: $typo--nunito--font-weight-regular;
    color: $color--dark--text-2;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__count {
    font-size: 28px;
    font-weight: $typo--nunito--font-weight-extra-light;
    line-height: 1;
    color: $color--dark--icon;
    white-space: nowrap;
  }
}
</style>
<script lang="tsx">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { CSSStyleOptions } from '@libs-uuif/shared/common-types';
const cssPrefix = 'sw-dashboard-count-widget';
@Component({
  components: {
  },
})
export default class SwDashboardCountWidget extends SwExtendedVue {
  cssPrefix = cssPrefix;
  @Prop({ type : Number, default : 0 })
  value: number;
  @Prop({ type: String, default: 'Data' })
  caption: string;
  get blockStyle(): CSSStyleOptions {
    return {
      backgroundColor: 'lightyellow',
      color: 'white',
    };
  }
  get lineStyle(): CSSStyleOptions | null {
    return {
      background: 'linear-gradient(transparent, orange, transparent)',
    };
  }
}
</script>
