<template>
  <div :class="[`${cssPrefix}`]">
    <div :class="['sw-grid-row']">
      <sw-dashboard-count-widget :value="1223" :caption="'Data1'">
        <sw-chart-gauge-lollipop caption=""
          :theme="'light'"
          :values="lollipopTotalValues"
          :labels="lollipopTotalLabels"
          :pointer-label="{enable : false }"
          :on-data-label="{ enable: true }"
          :single-full-circle="true"
          :class="['sw-grid-col']"
        />
      </sw-dashboard-count-widget>
      <sw-dashboard-count-widget v-for="i in 5" :key="i" :value="getRandomInRange()" :caption="`Data${i+1}`">
        <sw-chart-gauge-donut :value="randomInteger"
        :theme="'light'"
        :color="getRandomColor()"
        :class="['sw-grid-col']"
      />
      </sw-dashboard-count-widget>
    </div>
    <sw-content-toolbar :bottom-border="true" :topBorder="true" :class="['sw-grid-row']">
      <sw-icon-button icon="search" />
      <sw-action-bar>
        <sw-action-bar-item>
          <sw-textfield name="filterTextFeild" v-model="filterText" :style="{width: '150px'}" />
        </sw-action-bar-item>
        <sw-action-bar-item>
          <sw-icon-button noBorder icon="refresh" @click.native="refreshData()">Refresh</sw-icon-button>
        </sw-action-bar-item>
      </sw-action-bar>
      <span class="sw-flexbox__flex"></span>
      <sw-table-column-selection
        :columns="basicColumnsConfig"
        :selected-column-keys="selectedColumnKeys"
        @change="selectedColumnKeys = $event"
      ></sw-table-column-selection>
    </sw-content-toolbar>
    <sw-table :columns-config="selectedColumnsConfig" :table-data="basicFilterData" :footer-config="{}"
      size="normal"
      :sorted-columns="sortedColumns"
      @request-sort="onRequestSorting"
      :pagination="paginationConfig"
      @request-change-page-number="onChangePageNumber"
      @request-change-page-size="onChangePageSizer"
      selection-mode="single"
    />
    <sw-status-info
      v-if="isStatusDisplayed"
      :name="'success'"
      :message="`Row with ID - (${deletedRowID}) successfully deleted`"
      :closable="false"
    ></sw-status-info>
  </div>
</template>
<style lang="scss">
  .sw-ftr-dashboard {
    canvas {
      width : 150px;
      height: 150px;
    }
  }
</style>
<script lang="tsx">
import { VNode } from 'vue';
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwCountBlock } from '@sonicwall/unified-ui-framework/src/shared/sw-count-block';
import { SwDashboardCountWidget } from '../sw-ftr-dashboard/sw-dashboard-count-widget';
import {
  SwChartGaugeLollipop,
  GaugeLollipopValue,
  GaugeLollipopLabelConfig,
} from '@libs-uuif/shared/sw-chart';
import { SwChartGaugeDonut } from '@/shared/sw-chart';
import { SwFlexLayout } from '@/shared/sw-flex-layout';
import { SwContentToolbar } from '@/shared/sw-content-toolbar';
import { SwIconButton } from '@libs-uuif/shared/sw-icon-button';
import { SwSlider } from '@/shared/sw-slider';
import { TableColumnConfig, TableEntry, SwTableColumnSelection, SwTable } from '@/shared/sw-table';
import {
  SortedColumnInfo,
  ColumnSortRequestData,
  PaginationConfig,
  PageNumberChangeRequestData,
  PageSizeChangeRequestData } from '@libs-uuif/shared/sw-table/types';
import { SwActionBar, SwActionBarItem } from '@/shared/sw-action-bar';
import { SwTextfield } from '@/shared/sw-textfield';
import { SwFtrDashboardStoreState } from './sw-ftr-dashboard.store';
import { namespace } from 'vuex-class';
import { SwStatusInfo } from '@/shared/sw-status-info';
import { SwIcon } from '@/shared/sw-icon';
const cssPrefix = 'sw-ftr-dashboard';
const swFtrDashboardStoreModule = namespace('SwFtrDashboardStoreModule');

@Component({
  components: {
    SwCountBlock,
    SwDashboardCountWidget,
    SwChartGaugeLollipop,
    SwChartGaugeDonut,
    SwFlexLayout,
    SwContentToolbar,
    SwIconButton,
    SwSlider,
    SwTableColumnSelection,
    SwTable,
    SwActionBarItem,
    SwTextfield,
    SwActionBar,
    SwStatusInfo,
    SwIcon,
  },
})

export default class SwFtrDashboard extends SwExtendedVue {
  cssPrefix = cssPrefix;
  isStatusDisplayed: boolean = false;
  deletedRowID: number = -1;
  lollipopTotalValues: GaugeLollipopValue[] = [{ value: 300 }, { value: 200 }, { value: 100 }];
  lollipopTotalLabels: string[] = ['Chrome', 'Firefox', 'Edge'];
  get pointerLabelConfig(): GaugeLollipopLabelConfig {
    return {
      enable: true,
    };
  }
  sortedColumns: SortedColumnInfo[] = [];
  @swFtrDashboardStoreModule.State
  tableData: SwFtrDashboardStoreState['tableData'];

  @swFtrDashboardStoreModule.Mutation
  clearDashboardTableData: () => void;

  @swFtrDashboardStoreModule.Action
  setDashboardTableData: () => void;

  @swFtrDashboardStoreModule.Mutation
  deleteTableDataRow: (index: number) => void;
  randomInteger: number;
  getRandomInRange(min: number = 1, max: number = 100) {
    this.randomInteger = Math.random() * (max - min) + min;
    this.randomInteger = Math.floor(this.randomInteger);
    return this.randomInteger;
  }

  getRandomColor() {
    const colors = ['blue', 'brown', 'red', 'purple', 'orange', 'green'];
    return colors[this.getRandomInRange(0, 3)];
  }

  get basicColumnsConfig(): TableColumnConfig[] {
    return [{
      key: 'id',
      dataKey: 'id',
      title: 'ID',
      sorter: true,
    }, {
      key: 'name',
      dataKey: 'name',
      title: 'Name',
      sorter : true,
    }, {
      key: 'year',
      dataKey: 'year',
      title: 'Year',
      sorter: true,
    }, {
      key: 'color',
      dataKey: 'color',
      title: 'Color',
    }, {
      key: 'pantone_value',
      dataKey: 'pantone_value',
      title: 'Pantone Value',
      sorter: true,
    }, {
      key: 'delete',
      dataKey: 'delete',
      title: 'Delete',
      /* tslint:disable-next-line */
      render: (h,context): VNode => {
        return(
          <SwIcon name="trash" nativeOnClick={() => {
            const index = parseInt(context.entry._key, 10);
            this.deleteTableDataRow(index);
            this.isStatusDisplayed = true;
            this.deletedRowID = index + 1;
            setTimeout(() => { this.isStatusDisplayed = false; }, 2000);
          }}></SwIcon>
        ) as VNode;
      },
    },
    ];
  }
  filterText : string = '';
  selectedColumnKeys: string[] = this.basicColumnsConfig.map(col => col.key);
  get basicFilterData() : TableEntry[] {
    return this.tableData
    .filter((data: TableEntry) => {
      if (this.filterText === '') return true;
      for (const key in data) {
        if (String(data[key])
        .toLowerCase()
        .includes(
          this.filterText.toLowerCase())
        ) return true;
      }
    });
  }
  onRequestSorting(data: ColumnSortRequestData) {
    const index = this.sortedColumns.findIndex(col => (col.colKey === data.colKey));
    if (index < 0) {
      if (data.cancel) { return; }
      this.sortedColumns.splice(0);
      this.sortedColumns.push({
        colKey: data.colKey,
        ascending: !!data.ascending,
      });
    } else {
      if (data.cancel) {
        this.sortedColumns.splice(index, 1);
        return;
      }
      this.sortedColumns[index].ascending = !!data.ascending;
    }
  }
  paginationConfig: PaginationConfig = {
    pageNumber: 1,
    pageSize: 6,
  };
  onChangePageNumber(data: PageNumberChangeRequestData) {
    this.paginationConfig.pageNumber = data.pageNumber;
  }
  onChangePageSizer(data: PageSizeChangeRequestData) {
    this.paginationConfig.pageSize = data.pageSize;
    this.paginationConfig.pageNumber = Math.min(
      this.paginationConfig.pageNumber,
      Math.ceil(this.basicColumnsConfig.length / this.paginationConfig.pageSize),
    );
  }
  get selectedColumnsConfig(): TableColumnConfig[] {
    return this.basicColumnsConfig.filter(col => (this.selectedColumnKeys.includes(col.key)));
  }
  refreshData() {
    this.clearDashboardTableData();
    this.setDashboardTableData();
  }
  created() {
    this.setDashboardTableData();
  }
  destroyed() {
    this.clearDashboardTableData();
  }
}
</script>
