<template>
  <div :class="['sw-status-info', `sw-status-info--${name}`, 'sw-flexbox', 'sw-typo-default']"
    :style="rootStyle"
  >
    <span :class="['sw-status-info__icon', 'sw-flexbox__flex-none']">
      <sw-icon :name="iconName" :size="29" :rotate="iconRotate" as-block></sw-icon>
    </span>
    <span :class="['sw-status-info__text', 'sw-flexbox__flex']">
      <div :class="['sw-status-info__text__title', 'sw-flexbox', 'sw-flexbox--center-items']" v-if="!!title">{{ title }}</div>
      <div :class="['sw-status-info__text__message']">
        <template v-if="!hasComplexMessage()">
          <p v-for="(m, index) in messageArray" :key="index" :class="['sw-status-info__text__message__para']">{{ m }}</p>
        </template>
        <slot v-else></slot>
      </div>
    </span>
    <span :class="['sw-status-info__close', 'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']"
      v-if="closable"
      @click="onClickClose"
    >
      <sw-icon name="close-thin" :size="13"></sw-icon>
    </span>
  </div>
</template>

<style lang="scss">
.sw-status-info {
  position: relative;
  padding: $padding-primary;
  color: $color-background-mat;
  font-family: $typo--nunito--font-family;
  font-weight: $typo--nunito--font-weight-light;
  font-size: $typo-heading-5-font-size;

  &__icon {
    width: 29px;
    overflow: hidden;;
  }

  &__text {
    margin-left: $margin-primary-small;

    &__title {
      font-weight: $typo--nunito--font-weight-semi-bold;
      font-size:18px;
      height: 29px;
      white-space: nowrap;
      overflow: hidden;
    }

    &__message {
      font-size: 14px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      &__para {
        padding: 0;
        margin: 0;
        & + & {
          margin-top: $margin-primary-small / 2;
        }
      }
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color-background-mat;
    cursor: pointer;
    width: 25px;
    height: 25px;

    &:hover{
      color: $color--light--text;
    }
    &:active{
      color: $color--light--text;
    }
  }
}
</style>
<script lang="ts">
import { Prop, Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { StatusName, CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';

/**
 * @event request-close `(event: MouseEvent)`
 */
@Component({
  components: {
    SwIcon,
  },
})
export default class SwStatusInfo extends SwExtendedVue {
  @Prop({ type: [String, Array], default: 'This is an informational message' })
  message: string | string[];

  @Prop({ type: String, default: 'informational' }) name: StatusName;

  @Prop({ type: [String, Boolean], default: true })
  withTitle: boolean | string;

  @Prop({ type: Boolean, default: true })
  closable: boolean;

  get iconName() {
    return utilService.statusInfoMap[this.name].icon;
  }

  get iconRotate() {
    if (this.name === 'up') { return 90; }
    if (this.name === 'down') { return -90; }
    return undefined;
  }

  get title() {
    if (this.withTitle === true) {
      return this.$t(utilService.statusInfoMap[this.name].textI18nPath)
        .toString();
    }
    if (!this.withTitle) {
      return null;
    }
    return String(this.withTitle);
  }

  get messageArray(): string[] {
    if (Array.isArray(this.message)) { return this.message; }
    return [this.message];
  }

  get rootStyle(): CSSStyleOptions {
    const style: CSSStyleOptions = {
      backgroundColor: utilService.statusInfoMap[this.name].color,
    };
    return style;
  }

  private hasComplexMessage(): boolean {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots);
    return slot.length > 0;
  }

  private onClickClose(event: MouseEvent) {
    this.$emit('close', event);
  }
}
</script>
