<template>
<div :class="[`sw-steps`, `sw-steps--${theme}`, `sw-flexbox`, `sw-typo-default`]">
    <div class="sw-steps--box sw-flexbox">
      <div :class="['sw-steps--box__step', `sw-steps--box__step--${stepState}`]">
          <span v-if="stepState !== 'complete'">{{stepLabel }}</span>
          <span><sw-icon name="checkmark" size="xmedium" v-if="stepState === 'complete'"></sw-icon></span>
      </div>
      <div :class="['sw-steps--box__dash', `sw-steps--box__dash--${stepState}`]" v-if="stepIndex !== stepCount - 1"></div>
      <div class="sw-steps--box__text"><p><span>{{effectiveStepTitle}}</span></p></div>
    </div>
</div>
</template>
<style lang="scss">
.sw-steps{
  margin-bottom:20px;

  &--box{
    position:relative;
    width:179px;
    text-transform: uppercase;

    &__dash{
      margin:5px;
      position:absolute;
      height:1px;
      border:1px dashed $color--dark--icon;
      width:130px;
      top:24.5px;
      left:78px;
      &--default{
      border:1px dashed $color--dark--icon;
      }
      &--active{
      border:1px dashed $color--dark--icon;
      }
      &--complete{
      border:1px solid $color--dark--icon;
      }
    }

    &__text {
      border-width: 0px;
      position: absolute;
      left: -24.5px;
      top: 49px;
      height:18px;
      width: 170px;
      margin-top:10px;
      padding: 0px 5px 5px 5px;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
      color: $color--dark--background;
      font-size: $typo-default-font-size;

      p {
        margin:0px;
      }
    }

    &__step{
      width:49px;
      height:49px;
      border-radius:3px;
      text-align:center;
      margin-top: 5px;
      margin-bottom:5px;
      margin-left:34px;
      font-family: $typo--nunito--font-family;
      font-weight: $typo--nunito--font-weight-light;
      font-size: 20px;
      line-height:2.6;

      &--default{
        background-color: $color--light--highlight;
        color: $color--dark--icon;
      }
      &--active{
          background-color: $color-selected;
          color:$color-selected-text;
      }
      &--complete{
          background-color: $color-status-normal;
          color: $color-background-mat;
      }
    }
  }
  &--dark{
    #{BEM_getParent()}--box{
      &__step{
        &--default{
          background-color: $color--dark--step-default;
          color: $color--dark--slider;
        }
        &--active{
          color: $color--dark--background;
        }
      }
      &__dash{
        &--active, &--default{
          border: 1px dashed $color--dark--slider;
        }
        &--complete{
          border: 1px solid $color--dark--slider;
        }
      }
      &__text{
        color: $color--dark--icon;
      }
    }
  }
}

</style>
<script lang="ts">
import { Prop, Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
@Component({
  components:{
    SwIcon,
  },
})
export default class SwSteps extends SwExtendedVue{
  @Prop({ type: String, default: 'First Step' })
  stepTitle: string;

  @Prop(String)
  stepLabel: string;

  @Prop(Number)
  stepCount: number;

  @Prop(String)
  stepState: string;

  @Prop(Number)
  stepIndex: number;

  @Prop({ type: Boolean, default: true })
  changeStepTitle: boolean;

  @Prop(String)
  theme: string;

  get effectiveStepTitle(): string {
    let stepName = this.stepTitle;
    if (this.changeStepTitle) {
      if (this.stepState === 'complete') {
        stepName = 'completed';
      } else {
        stepName = this.stepTitle;
      }
    }
    return stepName;
  }
}
</script>
