<template>
  <div :class="[`${cssPrefix}`, 'sw-flexbox']">
    <div class="sw-flexbox--center-justify spacer-block">
      <sw-spinning-progress :size="'64px'" :color="'#ff791a'"/>
    </div>
  </div>
</template>
<script lang="tsx">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwSpinningProgress } from '@libs-uuif/shared/sw-progress';
const cssPrefix = 'sw-ftr-hello-spinner';
@Component({
  components: {
    SwSpinningProgress,
  },
})
export default class SwFtrHelloSpinner extends SwExtendedVue {
  cssPrefix = cssPrefix;
}
</script>
