<template>
<div :class="[`${cssPrefix}`, 'sw-typo-default',
    {
      [`${cssPrefix}--display`]: type === 'display',
      [`${cssPrefix}--disabled`]: disabled,
      [`${cssPrefix}--focus`]: isFocus,
      [`${cssPrefix}--dark`]: theme === 'dark',
    }
  ]"
>
  <div :class="[`${cssPrefix}__wrapper`, 'sw-flexbox']">
    <textarea
      ref="textarea"
      :class="[`${cssPrefix}__wrapper__input`, 'sw-typo-field-value', 'sw-flexbox__flex']"
      :disabled="disabled"
      :readonly="isInputReadonly"
      :name="name"
      :value="value"
      :placeholder="placeholder"
      @input="onInput"
      @focus="onFocus"
      @blur="onBlur"
      @keyup="onKeyup"
    ></textarea>
  </div>
</div>
</template>
<style lang="scss">
.sw-textarea {
  display: inline-block;
  background-color: $color-background-mat;
  border: 1px solid $color--light--border;
  border-radius: 3px;
  min-width: 250px; // as the initial width
  height: 109px;
  &--focus {
    border-color: $color-selected;
    outline: none;
    @include focus-shadow;

    #{BEM_getParent()}__wrapper {
      &__icon {
        color: $color-selected;
      }
    }
  }

  &:hover {
    border-color: $color-selected;
  }

  &--display:not(&--disabled) {
    border: none;

    #{BEM_getParent()}__wrapper {
      &__input {
        padding: 0;
      }
    }
  }

  &--disabled {
    background-color: $color--light--highlight;
    cursor: not-allowed;

    &:hover {
      border-color: $color--light--border;
    }
  }
  &__wrapper {
    height: 100%;

    &__input {
      resize: none;
      border: none;
      padding: $padding-primary-small;
      color: $color--light--text;
      background-color: transparent;

      &--with-icon-suffix {
        order: 1;
        padding-right: 0;
      }

      &--with-icon-prefix {
        order: 2;
        padding-left: 0;
      }

      &:focus { outline: none; }
      &:disabled {
        background-color: transparent;
        color: $color--light--slider;
        cursor: not-allowed;
      }
    }
  }
  &--dark {
    background-color: $color--dark--mat;
    border-color: $color--dark--border-2;
    #{BEM_getParent()}__wrapper__input {
      color: $color--dark--icon;
    }

    &#{BEM_getParent()}--disabled {
      background-color: $color--dark--mat-lighter;
      border-color: $color--dark--highlight-2;
      #{BEM_getParent()}__wrapper__input {
        color: $color--dark--highlight-2;
      }
      &:hover {
        border-color: $color--dark--highlight-2;
      }
    }
  }
}
</style>
<script lang="ts">
import { Component, Prop, Model, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
const cssPrefix = 'sw-textarea';
/**
 * @event input `(value: string)`
 * @event focus `(event: MouseEvent)`
 * @event blur `(event: MouseEvent)`
 * @event keyup `(event: MouseEvent)`
 * @event enter `(event: MouseEvent)`
 */
@Component
export default class SwTextarea extends SwExtendedVue{
  @Model('input', { type: String, required: true })
  value: string;

  @Prop({ type: String, default: 'light' })
  theme: 'light' | 'dark';

  @Prop({ type: String, required: true })
  name: string;

  @Prop({ type: String, default: 'normal' })
  type: 'normal' | 'readonly' | 'display';

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: String, default: '' })
  placeholder: string;

  cssPrefix: string = cssPrefix;
  isFocus: boolean = false;

  valueBeforeChange: string = this.value;

  get isInputReadonly(): boolean {
    return this.type === 'readonly' || this.type === 'display';
  }
  onInput(event: Event) {
    const inputEl = (event.currentTarget as HTMLInputElement);
    const changedValue: string = inputEl.value;
    this.$emit('input', changedValue);
  }
  onFocus(event: MouseEvent) { this.isFocus = !this.disabled; this.$emit('focus', event); }
  onBlur(event: MouseEvent) {
    this.isFocus = false;
    this.$emit('blur', event);
  }
  onKeyup(event: KeyboardEvent) {
    if (event.key === 'Enter') {
      this.$emit('enter', event);
    }
  }
  public focus() {
    const inputEl = this.$refs.textarea as HTMLElement;
    if (inputEl) { inputEl.focus(); }
  }
  @Watch('value')
  onValueChanged() {
    this.valueBeforeChange = this.value;
  }
}
</script>
