<template>
<div :class="[`${cssPrefix}`, 'sw-typo-default',
    {
      [`${cssPrefix}--display`]: type === 'display',
      [`${cssPrefix}--disabled`]: disabled,
      [`${cssPrefix}--focus`]: isFocus,
      [`${cssPrefix}--full`]: full,
      [`${cssPrefix}--dark`]: theme === 'dark',
    }
  ]"
>
  <div :class="[`${cssPrefix}__wrapper`, 'sw-flexbox']">
    <input
      ref="input"
      :type="inputType"
      :class="[`${cssPrefix}__wrapper__input`,
        {
          [`${cssPrefix}__wrapper__input--with-icon-${iconAsPrefix ? 'prefix' : 'suffix'}`]: !!icon,
        },
        'sw-typo-field-value', 'sw-flexbox__flex',
      ]"
      :disabled="disabled"
      :readonly="isInputReadonly"
      :name="name"
      :placeholder="placeholder"
      @input="onInput"
      @compositionstart="onCompositionStart"
      @compositionend="onCompositionEnd"
      @focus="onFocus"
      @blur="onBlur"
      @keyup="onKeyup"
    />
    <span :class="[`${cssPrefix}__wrapper__icon`,
        `${cssPrefix}__wrapper__icon--with-icon-${iconAsPrefix ? 'prefix' : 'suffix'}`,
        'sw-flexbox__flex-none',
        'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
      ]"
      v-if="!!icon"
      @click="onClickIcon"
    >
      <sw-icon v-bind="effectiveIconConfig"></sw-icon>
    </span>
  </div>
</div>
</template>

<style lang="scss">
.sw-textfield {
  display: inline-block;
  background-color: $color-background-mat;
  border: 1px solid $color--light--border;
  border-radius: 3px;
  height: 29px;
  width: 180px; // as the initial width

  &--focus {
    border-color: $color-selected;
    outline: none;
    @include focus-shadow;

    #{BEM_getParent()}__wrapper {
      &__icon {
        color: $color-selected;
      }
    }
  }

  &:hover {
    border-color: $color-selected;
  }

  &--display:not(&--disabled) {
    border: none;

    #{BEM_getParent()}__wrapper {
      &__input {
        padding: 0;
      }
    }
  }

  &--disabled {
    background-color: $color--light--highlight;
    cursor: not-allowed;

    &:hover {
      border-color: $color--light--border;
    }
  }

  &--full { width: 100%; }

  &__wrapper {
    height: 100%;

    &__input {
      border: none;
      padding: 0 $padding-primary-small;
      color: $color--light--text;
      background-color: transparent;

      &--with-icon-suffix {
        order: 1;
        padding-right: 0;
      }

      &--with-icon-prefix {
        order: 2;
        padding-left: 0;
      }

      &:focus { outline: none; }
      &:disabled {
        background-color: transparent;
        color: $color--light--slider;
        cursor: not-allowed;
      }
    }

    &__icon {
      order: 1;
      width: 29px;
      color: $color--light--icon;

      &--with-icon-suffix {
        margin-right: -1px;
      }

      &--with-icon-prefix {
        margin-left: -1px;
      }
    }
  }

  &--dark {
    background-color: $color--dark--mat;
    border-color: $color--dark--border-2;
    #{BEM_getParent()}__wrapper__input {
      color: $color--dark--icon;
    }

    &#{BEM_getParent()}--disabled {
      background-color: $color--dark--mat-lighter;
      border-color: $color--dark--highlight-2;
      #{BEM_getParent()}__wrapper__input {
        color: $color--dark--highlight-2;
      }
      &:hover {
        border-color: $color--dark--highlight-2;
      }
    }
  }
}
</style>

<script lang="ts">
import _ from 'lodash';
import { Component, Prop, Model, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon, IconConfig } from '../sw-icon';

const cssPrefix = 'sw-textfield';

/**
 * @event input `(value: string)`
 * @event focus `(event: MouseEvent)`
 * @event blur `(event: MouseEvent)`
 * @event keyup `(event: MouseEvent)`
 * @event enter `(event: MouseEvent)`
 * @event icon-click `(event: MouseEvent)`
 */
@Component({
  components: {
    SwIcon,
  },
})
export default class SwTextfield extends SwExtendedVue {
  @Model('input', { type: String, required: true })
  value: string;

  @Prop({ type: String, required: true })
  name: string;

  @Prop({ type: String, default: 'normal' })
  type: 'normal' | 'password' | 'readonly' | 'display';

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: String, default: 'light' })
  theme: 'light' | 'dark';

  @Prop({ type: String, default: '' })
  placeholder: string;

  @Prop({ type: Object })
  icon: IconConfig;

  @Prop({ type: Boolean, default: false })
  iconAsPrefix: boolean;

  @Prop({ type: Boolean, default: false })
  full: boolean;

  @Prop({ type: Boolean, default: false })
  numberOnly: boolean;

  cssPrefix: string = cssPrefix;
  isFocus: boolean = false;

  /**
   * Value of internal intermediate state for caching value before each input event, hence it is
   * a value in between of `value` prop and to-be-emitted value.
   */
  valueBeforeChange: string = this.value;

  toCursorPos: number | null = null;

  inInputTransaction: boolean = false;
  isComposing: boolean = false;

  get isInputReadonly(): boolean {
    return this.type === 'readonly' || this.type === 'display';
  }

  get inputType() {
    return (this.type === 'password' ? 'password' : 'text');
  }

  get effectiveIconConfig(): IconConfig {
    return Object.assign(
      {
        size: 14,
        asBlock: true,
      },
      this.icon,
    );
  }

  @Watch('value')
  private onValueChanged() {
    this.valueBeforeChange = this.value;

    const inputEl = (this.$refs.input as HTMLInputElement);
    if (inputEl) {
      inputEl.value = this.value;
      if (typeof this.toCursorPos === 'number') {
        inputEl.setSelectionRange(this.toCursorPos, this.toCursorPos);
      }
    }
  }

  private isPortionOfNumberExpression(test: string): boolean {
    return /^[+\-]?[0-9]*(\.[0-9]*)?$/.test(test) && !(/^[+\-]?[0-9]+(\.[0-9]+)?$/).test(test);
  }

  private handleInput(inputEl: HTMLInputElement) {
    if (this.isComposing) { return; }
    if (this.inInputTransaction) { return; }

    let changedValue: string = inputEl.value;
    let forcedValue: string = this.valueBeforeChange;
    let doEmit: boolean = true;

    /** force the value of `input` element to be synced with the `value` prop, according to "Controlled Component" concept */
    if (this.numberOnly) {
      changedValue = _.trim(changedValue);
      const converted = Number(changedValue);

      if (/^\s*$/.test(changedValue)) {
        forcedValue = '';
        doEmit = false;
      } else if (this.isPortionOfNumberExpression(changedValue)) {
        forcedValue = changedValue;
        doEmit = false;
      } else if (isNaN(converted)) {
        if (this.value === String(Number.POSITIVE_INFINITY) || this.value === String(Number.NEGATIVE_INFINITY)) {
          forcedValue = '';
        }
        doEmit = false;
      } else {
        if (this.isPortionOfNumberExpression(this.valueBeforeChange)) {
          /** transition from intermediate state to emittable state */
          forcedValue = changedValue;
        }
      }
    }
    // if (doEmit && (this.value === changedValue || this.value === String(Number(changedValue)))) {
    //   forcedValue = this.value;
    // }
    this.valueBeforeChange = forcedValue;
    this.toCursorPos = doEmit ? inputEl.selectionStart : null;

    inputEl.value = forcedValue;

    if (doEmit) {
      this.$emit('input', changedValue);
    }

    this.inInputTransaction = true;
    this.$nextTick(() => {
      this.inInputTransaction = false;
    });
  }

  private onInput(event: Event) {
    const inputEl = (event.currentTarget as HTMLInputElement);
    this.handleInput(inputEl);
  }

  private onCompositionStart() {
    this.isComposing = true;
  }

  private onCompositionEnd(event: CompositionEvent) {
    this.isComposing = false;

    const inputEl = (event.currentTarget as HTMLInputElement);
    this.handleInput(inputEl);
  }

  private onFocus(event: MouseEvent) { this.isFocus = !this.disabled; this.$emit('focus', event); }

  private onBlur(event: MouseEvent) {
    this.isFocus = false;
    if (this.numberOnly) {
      const inputEl = (event.currentTarget as HTMLInputElement);
      const currentValue = _.trim(inputEl.value);
      if (/^\s*$/.test(currentValue) || isNaN(Number(currentValue))) {
        this.$emit('input', '0');
      } else if (currentValue !== this.value) {
        if (String(Number(currentValue)) === this.value) {
          this.valueBeforeChange = this.value;
          inputEl.value = this.value;
        }
        this.$emit('input', currentValue);
      }
    }
    this.$emit('blur', event);
  }

  private onKeyup(event: KeyboardEvent) {
    this.$emit('keyup', event);
    if (event.key === 'Enter') {
      this.$emit('enter', event);
    }
  }

  private onClickIcon(event: MouseEvent) {
    this.focus();
    this.$emit('icon-click', event);
  }

  public focus() {
    const inputEl = this.$refs.input as HTMLElement;
    if (inputEl) { inputEl.focus(); }
  }

  private mounted() {
    const inputEl = (this.$refs.input as HTMLInputElement);
    inputEl.value = this.value;
  }
}
</script>


