<template>
<span :class="[`${cssPrefix}`,
    {
      [`${cssPrefix}--bottom`]: bottomAlign,
      [`${cssPrefix}--block`]: asBlock,
      [`${cssPrefix}--clickable`]: clickable,
    },
  ]"
>
  <img :class="[`${cssPrefix}__img`]" :src="imgSrc" :style="imgStyle">
</span>
</template>

<style lang="scss">
.sw-app-icon {
  display: inline-block;
  overflow: hidden;
  user-select: none;

  &--bottom {
    vertical-align: bottom;
  }

  &--block {
    display: block;
  }

  &--clickable {
    cursor: pointer;

    &:active {
      outline: 1px dashed $color-selected;
    }
  }

  &__img {
    display: block;
    border: none;
  }
}
</style>

<script lang="ts">
import { Component, Prop, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';
import defaultAppImg from './assets/images/apps/app_0.svg';

const cssPrefix = 'sw-app-icon';

@Component
export default class SwAppIcon extends SwExtendedVue {
  @Prop({ type: Number, default: 0 })
  id: number;

  @Prop({ type: [String, Number], default: 'medium' })
  width: string | number;

  @Prop({ type: Number, default: undefined })
  height: number;

  @Prop({ type: Boolean, default: false })
  bottomAlign: boolean;

  @Prop({ type: Boolean, default: false })
  asBlock: boolean;

  @Prop({ type: Boolean, default: false })
  clickable: boolean;

  cssPrefix = cssPrefix;

  imgSrc: any = defaultAppImg;

  get numericWidth(): number {
    if (typeof this.width === 'number') {
      return this.width;
    }
    return utilService.sizeMap[this.width] || utilService.sizeMap['medium'];
  }

  get effectiveHeight(): number | undefined {
    if (typeof this.height === 'number') {
      return this.height;
    }
    return undefined;
  }

  get imgStyle(): CSSStyleOptions {
    return {
      width: `${this.numericWidth}px`,
      height: typeof this.effectiveHeight === 'number' ? `${this.effectiveHeight}px` : undefined,
    };
  }

  get imgName() {
    return `app_${this.id}.svg`;
  }

  @Watch('id', { immediate: true })
  private onAppIdChange() {
    import(
      /* webpackChunkName: "[request]" */
      `./assets/images/apps/${this.imgName}`// tslint:disable-line
    )
      .then(({ default: loadedImg }) => {
        this.imgSrc = loadedImg;
      })
      .catch((e: any) => {
        console.error(`Cannot load app image ${this.imgName}`, e);
        this.imgSrc = defaultAppImg;
      });
  }
}
</script>
