<template>
<div :class="[`${cssPrefix}`]">
  <sw-tab-group :value="selectedTabId" :tabs-props="basicTabsProps" @select="onSelectTab">
    <sw-tab-page v-for="(data,index) in basicTabsProps" :tab-id="data.tabId" v-bind:key="index" />
  </sw-tab-group>
  <component :is="selectedComponent"></component>
</div>
</template>

<style lang="scss">
.sw-ftr-hello-sonicwall {
  overflow: visible;
}
</style>

<script lang="tsx">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwFtrHelloSonicwallTable }  from './sw-ftr-hello-sonicwall-table';
import { SwTabGroup } from '@libs-uuif/shared/sw-tab-layout';
import { TabProps } from '@libs-uuif/shared/sw-tab-layout/types';
const cssPrefix = 'sw-ftr-hello-sonicwall';

@Component({
  components: {
    SwFtrHelloSonicwallTable,
    SwTabGroup,
  },
})
export default class SwFtrHelloSonicwall extends SwExtendedVue {
  cssPrefix = cssPrefix;
  selectedTabId: string = 'tab1';
  selectedComponent : string = 'sw-ftr-hello-sonicwall-table';
  basicTabsProps: TabProps[] = [
    { tabId: 'tab1', label: 'Home' },
    { tabId: 'tab2', label: 'About' },
    { tabId: 'tab3', label: 'Contact' },
  ];

  onSelectTab(tabId: string) {
    if (tabId === 'tab1') this.selectedComponent = 'sw-ftr-hello-sonicwall-table';
    else this.selectedComponent = '';
    this.selectedTabId = tabId;
  }
}
</script>
