<style lang="scss">
.sw-content-toolbar-filter-block {
  $cssPrefix: '.sw-content-toolbar-filter-block';

  &:last-child {
    #{$cssPrefix}__title {
      border-right: none;
    }
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: $typo--nunito--font-weight-regular;
    height: 29px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 $padding-primary-small;

    &--first {
      padding-left: $padding-primary;
    }
  }

  &__scroll {
    width: 100%;
    height: 180px;
    border-right: 1px solid transparent;
  }

  &__content {
    overflow: visible;
    padding: $padding-primary-small;
    padding-right: $padding-primary;

    &--first {
      padding-left: $padding-primary;
    }

    &--no-padding {
      padding: 0;
    }
  }

  &--dark {
    #{$cssPrefix}__title {
      border-right-color: rgba($color-background-mat, 0.1);
      border-bottom-color: rgba($color-background-mat, 0.1);
    }
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { VueRenderFunction, CSSStyleOptions } from '../common-types';
import { SwScrollView } from '../sw-scroll-view';

const cssPrefix = 'sw-content-toolbar-filter-block';

@Component({
  components: {
    SwScrollView,
  },
})
export default class SwContentToolbarFilterBlock extends SwExtendedVue {
  @Prop({ type: String, default: 'Filter' })
  title: string;

  @Prop({ type: [String, Function], required: true })
  content: string | VueRenderFunction;

  @Prop(Number)
  width: number;

  @Prop(Number)
  minWidth: number;

  @Prop({ type: Number, required: true })
  index: number;

  @Prop({ type: Boolean, default: false })
  noPadding: boolean;

  @Prop({ type: String, required: true })
  theme: string;

  cssPrefix = cssPrefix;

  get isAutoWidth(): boolean {
    return this.width === undefined;
  }

  get wrapperStyle(): CSSStyleOptions {
    const customStyle: CSSStyleOptions = {};
    if (!this.isAutoWidth) {
      customStyle.width = `${this.width}px`;
    }
    if (this.minWidth !== undefined) {
      customStyle.minWidth = `${this.minWidth}px`;
    }
    return customStyle;
  }

  private render(h: CreateElement): VNode {//tslint:disable-line
    let contentNode: VNode | string | null = null;

    if (typeof this.content === 'string') {
      contentNode = this.content;
    } else if (typeof this.content === 'function') {
      contentNode = this.content.call(this, h);
    }

    const rootNode = (
      <div
        class={[
          `${this.cssPrefix}`,
          `${this.cssPrefix}--${this.theme}`,
          'sw-typo-default',
          {
            'sw-flexbox__flex': this.isAutoWidth,
            'sw-flexbox__flex--auto-min-size': this.isAutoWidth,
            'sw-flexbox__flex-none': !this.isAutoWidth,
          },
        ]}
        style={this.wrapperStyle}
      >
        <div
          class={[`${this.cssPrefix}__title`, 'sw-flexbox', 'sw-flexbox--center-items',
            { [`${this.cssPrefix}__title--first`]: this.index === 0 },
          ]}
        >{this.title}</div>
        <sw-scroll-view scrollbar-theme={this.theme} class={[`${this.cssPrefix}__scroll`]}>
          <div
            class={[`${this.cssPrefix}__content`,
              {
                [`${this.cssPrefix}__content--first`]: this.index === 0,
                [`${this.cssPrefix}__content--no-padding`]: this.noPadding,
              },
            ]}
          >{contentNode}</div>
        </sw-scroll-view>
      </div>
    );

    return rootNode as VNode;
  }
}
</script>
