<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${toolbarParam.theme}`, 'sw-typo-default']">
  <sw-transition-expand direction="vertical">
  <div :class="[`${cssPrefix}__slide`, 'sw-flexbox', 'sw-flexbox--end-items']" v-if="visible">
    <div :class="[`${cssPrefix}__wrapper`, 'sw-flexbox__flex']">
      <div :class="[`${cssPrefix}__inner`, { [`${cssPrefix}__inner--with-border`]: toolbarParam.floatExpand }]">
        <slot>
          <template v-for="(row, rowIndex) in filterBlockGrid">
            <sw-scroll-view
              :key="rowIndex"
              v-if="rowIndex < visibleRowNumber"
              :class="[`${cssPrefix}__row`]"
              :scrollbar-theme="toolbarParam.theme"
            >
              <div :class="['sw-flexbox']">
                <sw-content-toolbar-filter-block
                  v-for="(block, index) in row"
                  :key="index"
                  v-bind="block"
                  :theme="toolbarParam.theme"
                  :index="index"
                />
              </div>
            </sw-scroll-view>
          </template>
        </slot>
      </div>
      <div :class="[`${cssPrefix}__more`, { [`${cssPrefix}__more--under-border`]: toolbarParam.floatExpand }]"
        v-if="showMoreTrigger()"
        @click="onClickMore"
      >
        <div :class="[`${cssPrefix}__more-elem-cont`, 'sw-flexbox', 'sw-flexbox--center-justify']">
          <div :class="[`${cssPrefix}__more-text`, 'sw-flexbox', 'sw-flexbox--center-items']">show more... </div>
        </div>
        <div :class="[`${cssPrefix}__more-elem-cont`, 'sw-flexbox', 'sw-flexbox--center-justify']">
          <div :class="[`${cssPrefix}__more-arrow`]"></div>
        </div>
      </div>
    </div>
  </div>
  </sw-transition-expand>
</div>
</template>

<style lang="scss">
.sw-content-toolbar-expand {
  $cssPrefix: '.sw-content-toolbar-expand';

  &__inner {
    overflow: hidden;
    border-top: 1px solid $color--light--border;
    background-color: $color--light--base;

    &--with-border {
      border-bottom: 6px solid $color--light--border;
    }
  }

  &__row {
    width: 100%;
    & + & {
      border-top: 1px solid $color-status-info-msg;
    }
  }

  &__more {
    cursor: pointer;

    &--under-border {
      #{BEM_getParent()}-text {
        top: -24px;
      }
      #{BEM_getParent()}-arrow {
        top: 0;
      }
    }

    &:hover {
      #{$cssPrefix}__more {
        &-text {
          color: $color-selected;
        }
        &-arrow {
          border-top-color: $color-selected;
        }
      }
    }

    &-elem-cont {
      height: 0;
      overflow: visible;
      position: relative;
      z-index: 1;
    }

    &-text {
      position: relative;
      top: -18px;
      height: 20px;
      font-size: 14px;
      font-weight: $typo--nunito--font-weight-regular;
      color: $color-active;
      padding: 0 $padding-primary-small;
      background-color: $color--light--base;
      border-radius: 6px;
    }

    &-arrow {
      position: relative;
      top: 6px;
      border-top: 10px solid $color-active;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: none;
    }
  }

  &--dark {
    color: $color--dark--text;

    #{$cssPrefix}__inner {
      border-top-color: $color--dark--border-2;
      background-color: $color--dark--background;

      &--with-border {
        border-bottom-color: $color--dark--border;
        border-bottom-width: 1px;
      }
    }

    #{$cssPrefix}__row {
      & + #{getLastSelectorOfParent()} {
        border-top-color: rgba($color-background-mat, 0.1);
      }
    }

    #{$cssPrefix}__more {
      &-text {
        background-color: $color--dark--background;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Watch, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwTransitionExpand } from '../sw-transition';
import SwContentToolbarFilterBlock from './sw-content-toolbar-filter-block.vue';
import { ContentToolbarExpandFilterBlock, ProvidedToolbarParam } from './types';
import { utilService } from '../util-service';
import { SwScrollView } from '../sw-scroll-view';

const cssPrefix = 'sw-content-toolbar-expand';

@Component({
  components: {
    SwContentToolbarFilterBlock,
    SwTransitionExpand,
    SwScrollView,
  },
})
export default class SwContentToolbarExpand extends SwExtendedVue {
  @Prop({ type: Array })
  filterBlockGrid: ContentToolbarExpandFilterBlock[][] | undefined;

  @Prop({ type: Boolean, default: true })
  visible: boolean;

  @Inject()
  toolbarParam: ProvidedToolbarParam;

  cssPrefix = cssPrefix;

  visibleRowNumber: number = 1;

  hasSlot(): boolean {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots);
    return slot.length > 0;
  }

  showMoreTrigger(): boolean {
    return !this.hasSlot() && !!this.filterBlockGrid && this.visibleRowNumber < this.filterBlockGrid.length;
  }

  onClickMore() {
    if (this.filterBlockGrid && this.visibleRowNumber < this.filterBlockGrid.length) {
      this.visibleRowNumber += 1;
    }
  }

  @Watch('visible')
  onVisibleChange(val: boolean) {
    if (val) {
      this.visibleRowNumber = 1;
    }
  }
}
</script>
