<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`, 'sw-typo-default',
    {
      [`${cssPrefix}--no-border-top`]: !topBorder,
      [`${cssPrefix}--no-border-bottom`]: !bottomBorder,
    }
  ]"
>
  <div :class="[`${cssPrefix}__inner`, 'sw-flexbox', 'sw-flexbox--center-items']">
    <slot></slot>
  </div>
  <div :class="[`${cssPrefix}__expand`, { [`${cssPrefix}__expand--float`]: floatExpand }]">
    <div :class="[`${cssPrefix}__expand-cont`]">
      <slot name="expand"></slot>
    </div>
  </div>
  <div :class="[`${cssPrefix}__brief-cont`,
      { [`${cssPrefix}__brief-cont--empty`]: !hasBriefSlot() },
      'sw-flexbox', 'sw-flexbox--center-items',
    ]"
  >
    <slot name="brief"></slot>
  </div>
</div>
</template>

<style lang="scss">
.sw-content-toolbar {
  $cssPrefix: '.sw-content-toolbar';
  overflow: visible;
  border-top: 1px solid $color-selected;
  // border-bottom: 6px solid $color--light--border;

  &--no-border-top {
    border-top: none;
  }

  &__inner {
    overflow: hidden;
    height: 50px;
    padding: 0 $padding-primary-small;
    background-color: $color--light--base;
  }

  &__expand {
    overflow: visible;
    // height: 0;
    width: 100%;

    &--float {
      position: relative;

      #{BEM_getParent()}-cont {
        position: absolute;
        z-index: $zindex-regular-base;
      }
    }

    &-cont {
      height: auto;
      width: 100%;
    }
  }

  &__brief-cont {
    background-color: $color--light--border;
    height: 33px;
    padding: 0 $padding-primary-small;
    overflow: hidden;
    transition: height 150ms ease-out;

    &--empty {
      height: 6px;
    }
  }

  &--dark {
    border-bottom-color: $color--dark--border;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    #{$cssPrefix}__inner {
      background-color: $color--dark--background;
      color: $color--dark--text;
    }

    #{$cssPrefix}__expand {
      color: $color--dark--text;
    }

    #{$cssPrefix}__brief-cont {
      background-color: $color--dark--slider;//$color--dark--border-2;

      &--empty {
        height: 0px;
      }
    }
  }

  &--no-border-bottom {
    border-bottom: none;

    #{$cssPrefix}__brief-cont {
      &--empty {
        height: 0px;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Provide, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { ProvidedToolbarParam } from './types';
import { utilService } from '../util-service';

const cssPrefix = 'sw-content-toolbar';

@Component
export default class SwContentToolbar extends SwExtendedVue {
  @Prop({ type: String, default: 'light' })
  theme: 'light' | 'dark';

  @Prop({ type: Boolean, default: true })
  topBorder: boolean;

  @Prop({ type: Boolean, default: true })
  bottomBorder: boolean;

  @Prop({ type: Boolean, default: false })
  floatExpand: boolean;

  cssPrefix = cssPrefix;

  @Provide()
  toolbarParam: ProvidedToolbarParam = {
    floatExpand: this.floatExpand,
    theme: this.theme,
  };

  @Watch('floatExpand')
  @Watch('theme')
  private syncToolbarParameters() {
    Object.assign<ProvidedToolbarParam, ProvidedToolbarParam>(
      this.toolbarParam,
      {
        floatExpand: this.floatExpand,
        theme: this.theme,
      },
    );
  }

  private hasBriefSlot(): boolean {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots, 'brief');
    return slot.length > 0;
  }
}
</script>
