<template>
  <div :class="[`${cssPrefix}`]">
    <div :class="[`${cssPrefix}__sw-ftr-map`]">
      <component ref="map"
        :class="[`${cssPrefix}__sw-ftr-map__map`]"
        :init-center="location"
        :init-zoom="15" :is="mapDisplay">
      </component>
      <sw-map        
      ></sw-map>
    </div>
  </div>
</template>
<style lang="scss">
.sw-ftr-hello-step2 {
  &__sw-ftr-map {
    &__map-gl,
    &__map {
      width: 100%;
      height: 500px;
    }
  }
}
</style>
<script lang="tsx">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwMap } from '@libs-uuif/shared/sw-map';
const cssPrefix = 'sw-ftr-hello-step2';
@Component({
  components: {
    SwMap,
  },
})
export default class SwFtrMap extends SwExtendedVue {
  cssPrefix = cssPrefix;
  mapDisplay : string = '';
  location : number[] = [];
  created() {
    navigator.geolocation.getCurrentPosition((position) => {
      this.location[0] = position.coords.latitude;
      this.location[1] = position.coords.longitude;
      this.mapDisplay = 'sw-map';
    });
  }
}
</script>
