<template>
<div :class="[`${cssPrefix}`, { [`${cssPrefix}--disabled`]: disabled }]"
  v-popover="pickerPopoverValues"
  :style="rootStyle"
  @click="onClick"
><sw-icon v-if="showEmptyColor" name="close" :size="17" as-block color="red"></sw-icon></div>
</template>

<style lang="scss">
.sw-color-picker {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 19px;
  height: 19px;
  border: 1px solid $color--light--icon;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &__picker-cont {
    background-color: #f2f2f2;
  }

  &__picker-wrapper {
    overflow: hidden;
    width: 250px;
    height: 280px;

    &--no-alpha {
      height: 310px;
    }

    .layout_default {
      &.picker_wrapper {
        width: 250px;
        padding: 5px;

        & > * {
          margin: 5px;
        }
      }
      .picker_editor {
        width: 160px;
        input {
          font-size: 13px;
        }
      }
      .picker_done {
        display: none;
      }
    }
  }

  &__picker-actions {
    padding: 0 $padding-primary-small $padding-primary-small;
  }
  &__picker-done.sw-btn {
    min-width: unset;
  }
  &__picker-cancel {
    font-weight: $typo--nunito--font-weight-regular;
  }
}
</style>

<script lang="tsx">
/// <reference path="./vanilla-picker.d.ts" />

import { VNode } from 'vue';
import { Component, Prop, Model, Watch } from 'vue-property-decorator';
import Color from 'color';
import uuidv4 from 'uuid/v4';
import { SwExtendedVue } from '../sw-extended-vue';
import { CSSStyleOptions } from '../common-types';
import { popover, PopoverDirValues } from '../popover-dir';
import { SwActionBar, SwActionBarItem } from '../sw-action-bar';
import { SwButton } from '../sw-button';
import { SwIcon } from '../sw-icon';
import Picker from 'vanilla-picker';

const cssPrefix = 'sw-color-picker';

/**
 * Events:
 * @event change `(color: string<rgb/rgba> | '')`
 */
@Component({
  components: {
    SwIcon,
  },
  directives: {
    popover,
  },
})
export default class SwColorPicker extends SwExtendedVue {
  @Model('change', { type: String, required: true })
  value: string;

  @Prop({ type: Boolean, default: true })
  enableAlpha: boolean;

  @Prop({ type: Boolean, default: false })
  allowEmpty: boolean;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  cssPrefix = cssPrefix;
  pickerId = uuidv4();
  pickerPopoverVisible: boolean = false;
  pickerInstance: any = null;
  transientColor: string = '';

  get normalizedValue(): string {
    /** convert input value to rgba representation */
    if (!this.value) { return ''; }
    const inputColorObj = Color(this.value);
    return inputColorObj.rgb()
      .string();
  }

  get pickerPopoverValues(): PopoverDirValues {
    return {
      placement: 'right',
      withCloseIcon: false,
      noPadding: true,
      maxWidth: 500,
      maxHeight: 500,
      trigger: 'controlled',
      visible: this.pickerPopoverVisible,
      content: (h): VNode => {// tslint:disable-line
        return (
          <div class={[`${cssPrefix}__picker-cont`]}>
            <div
              class={[
                `${cssPrefix}__picker-wrapper`,
                `${cssPrefix}__picker-wrapper--${this.pickerId}`,
                { [`${cssPrefix}__picker-wrapper--no-alpha`]: !this.enableAlpha },
              ]}
            ></div>
            <div class={[`${cssPrefix}__picker-actions`, 'sw-flexbox', 'sw-flexbox--center-items']}>
              <div class={['sw-flexbox__flex']}>
              {
                this.allowEmpty ? (
                  <a class={[`${cssPrefix}__picker-cancel`]}
                    on-click={this.onClickUnselect}
                  >Unselect</a>
                ) : null
              }
              </div>
              <SwActionBar class={['sw-flexbox__flex-none']}>
                <SwActionBarItem>
                  <a class={[`${cssPrefix}__picker-cancel`]}
                    on-click={this.onClickCancel}
                  >Cancel</a>
                </SwActionBarItem>
                <SwActionBarItem>
                  <SwButton class={[`${cssPrefix}__picker-done`]}
                    as-default
                    nativeOn-click={this.onClickOkay}
                  >OK</SwButton>
                </SwActionBarItem>
              </SwActionBar>
            </div>
          </div>
        ) as VNode;
      },
      // onClickOutsidePopper: () => {
      //   this.onClickCancel();
      // },
    };
  }

  get rootStyle(): CSSStyleOptions {
    return {
      backgroundColor: this.normalizedValue || 'white',
    };
  }

  get showEmptyColor() {
    return this.allowEmpty && !this.normalizedValue;
  }

  @Watch('pickerPopoverVisible')
  private onPickerPopoverVisibleChange() {
    if (this.pickerPopoverVisible) {
      this.$nextTick(() => {
        const wrapperEl = document.querySelector(`.${cssPrefix}__picker-wrapper--${this.pickerId}`);
        if (!wrapperEl) {
          console.error(`Couldn't fine the wrapper element [.${cssPrefix}__picker-wrapper--${this.pickerId}] for picker`);
          return;
        }
        if (!!this.pickerInstance) {
          this.pickerInstance.destroy();
        }
        this.pickerInstance = new Picker({
          parent: wrapperEl,
          popup: false,
          alpha: this.enableAlpha,
          editorFormat: 'rgb',
          onChange: (colorObj: any) => {
            this.transientColor = this.enableAlpha ? colorObj.rgbaString : colorObj.rgbString;
          },
        });
        this.pickerInstance.setColor(this.normalizedValue, false);
      });
    } else {
      if (!!this.pickerInstance) {
        this.pickerInstance.destroy();
        this.pickerInstance = null;
      }
    }
  }

  @Watch('normalizedValue')
  private onValueChange() {
    if (this.pickerInstance) {
      this.pickerInstance.setColor(this.normalizedValue, false);
    }
  }

  @Watch('disabled')
  private onDisabledChange() {
    if (this.disabled) {
      this.pickerPopoverVisible = false;
    }
  }

  private onClick() {
    if (this.disabled) { return; }
    this.pickerPopoverVisible = !this.pickerPopoverVisible;
  }

  private onClickOkay() {
    this.$emit('change', this.transientColor);
    this.pickerPopoverVisible = false;
  }

  private onClickCancel() {
    this.pickerPopoverVisible = false;
  }

  private onClickUnselect() {
    this.$emit('change', '');
    this.pickerPopoverVisible = false;
  }

  private beforeDestroy() {
    if (!!this.pickerInstance) {
      this.pickerInstance.destroy();
      this.pickerInstance = null;
    }
  }
}
</script>
