<style lang="scss">
.sw-confirm-modal {
  position: fixed;
  z-index: $zindex-confirm;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-default, 0.8);
  overflow: hidden;

  &__dialog {
    width: 529px;
    margin: auto;
    box-shadow: 0 0 20px rgba($color-default, .35);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__footer {
    padding: $padding-primary;
    background-color: $color-background-mat;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Prop, Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwStatusInfo } from '../sw-status-info';
import { SwButton } from '../sw-button';
import { SwActionBar, SwActionBarItem } from '../sw-action-bar';
import { StatusName, VueRenderFunction } from '../common-types';
import { ConfirmButton } from './types';

const cssPrefix = 'sw-confirm-modal';

/**
 * @event answer `(buttonKey: string)`
 * @event ready-to-destroy
 */
@Component({
  components: {
    SwStatusInfo,
    SwActionBar,
    SwActionBarItem,
    SwButton,
  },
})
export default class SwConfirmModal extends SwExtendedVue {
  @Prop({ type: Boolean, required: true })
  dialogVisible: boolean;

  @Prop({ type: String, required: true })
  status: StatusName;

  @Prop({ type: [String, Boolean], default: false })
  title: string | boolean;

  @Prop({ type: [String, Array, Function], required: true })
  message: string | string[] | VueRenderFunction;

  @Prop({
    type: Array,
    default(): ConfirmButton[] {
      return [
        { key: 'cancel', name: 'Cancel' },
        { key: 'ok', name: 'OK', isDefault: true },
      ];
    },
  })
  buttons: ConfirmButton[];

  cssPrefix = cssPrefix;

  private onClickButton(button: ConfirmButton) {
    this.$emit('answer', button.key);
  }

  private onAfterLeave() {
    this.$emit('ready-to-destroy');
  }

  private render(h: CreateElement): VNode { // tslint:disable-line
    return (
      <div class={[`${this.cssPrefix}`, 'sw-typo-default']}>
        <transition name="sw-fade" appear on-after-leave={this.onAfterLeave}>
        {
          this.dialogVisible ? (
            <div class={[`${this.cssPrefix}__dialog`]}>
              <sw-status-info
                props-name={this.status}
                props-with-title={!!this.title ? this.title : false}
                props-closable={false}
                props-message={ typeof this.message === 'function' ? undefined : this.message }
              >{typeof this.message === 'function' ? this.message(h) : undefined}</sw-status-info>
              <div class={[`${this.cssPrefix}__footer`, 'sw-flexbox', 'sw-flexbox--end-justify']}>
                <sw-action-bar>
                {
                  this.buttons.map<VNode>(button => (
                    <sw-action-bar-item key={button.key}>
                      <sw-button
                        props-as-default={button.isDefault === true}
                        nativeOn-click={() => { this.onClickButton(button); }}
                      >{ button.name }</sw-button>
                    </sw-action-bar-item>
                  ) as VNode)
                }
                </sw-action-bar>
              </div>
            </div>
          ) : null
        }
        </transition>
      </div>
    ) as VNode;
  }
}
</script>

