<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`, 'sw-flexbox', 'sw-flexbox--column']">
  <div :class="[`${cssPrefix}__header-cont`,
      'sw-flexbox__flex-none',
      {
        [`${cssPrefix}__header-cont--overlay`]: overlayHeader,
      }
    ]"
  >
    <div :class="[`${cssPrefix}__header`,
        'sw-flexbox',
        {
          [`${cssPrefix}__header--gradient`]: gradientHeader,
        }
      ]"
    >
      <div :class="[`${cssPrefix}__title-cont`, 'sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--center-items']">
        <slot name="title">Card Title</slot>
      </div>
      <div :class="[`${cssPrefix}__action-cont`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--center-items']">
        <slot name="action">Actions</slot>
      </div>
    </div>
  </div>
  <div :class="[`${cssPrefix}__content-cont`, 'sw-flexbox__flex',
      {
        [`${cssPrefix}__content-cont--no-padding`]: contentNoPadding,
      }
    ]"
  >
    <slot>No Content?</slot>
  </div>
</div>
</template>

<style lang="scss">
.sw-card-view {
  $cssPrefix: '.sw-card-view';

  border: 1px solid $color--light--border;
  border-radius: 6px;
  overflow: hidden;

  &__header-cont {
    z-index: 1;

    &--overlay {
      height: 0;
    }
  }

  &__header {
    height: 30px;
    background-color: $color--light--highlight;
    padding: 0 0 0 ($padding-primary-small);

    &--gradient {
      background-color: unset;
      background-image: linear-gradient(to right, $color--light--highlight, transparent);
    }
  }

  &__title-cont {
    font-size: 14px;
    font-weight: $typo--nunito--font-weight-bold;
    color: $color-selected;
    text-transform: uppercase;
  }

  &__content-cont {
    padding: $padding-primary-small;

    &--no-padding {
      padding: 0;
    }
  }

  &--dark {
    border: none;
    background-color: $color-default;
    color: $color--dark--text;

    #{$cssPrefix}__header {
      background-color: $color-default;

      &--gradient {
        background-color: unset;
        background-image: linear-gradient(to right, $color-default, transparent);
      }
    }
  }
}
</style>

<script lang="tsx">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

const cssPrefix = 'sw-card-view';

@Component({
  components: {},
})
export default class SwCardView extends SwExtendedVue {
  @Prop({ type: String, default: 'light' })
  theme: 'light' | 'dark';

  @Prop({ type: Boolean, default: false })
  overlayHeader: boolean;

  @Prop({ type: Boolean, default: false })
  gradientHeader: boolean;

  @Prop({ type: Boolean, default: false })
  contentNoPadding: boolean;

  cssPrefix =  cssPrefix;
}
</script>
