<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`, 'sw-flexbox',
    'sw-flexbox--center-items',
    `${cssPrefix}--${mode}`,
    { [`${cssPrefix}--bottom`] : labelsOnBottom },
  ]"
>
  <template v-for="(groupItem, index) in groupItems">
    <div :key="`groupItem-${index}`"
      :class="[`${cssPrefix}__group`, 'sw-flexbox', 'sw-flexbox--center-items']"
    >
      <div :class="[`${cssPrefix}__group__bracket`,
          { [`${cssPrefix}__group__bracket--exists`]: groupItem.label },
        ]"
      >
        <span :class="[`${cssPrefix}__group__bracket__text-container`, 'sw-flexbox', 'sw-flexbox--center-justify']"
          v-if="groupItem.label && groupItem.label !== ''"
        >
          <span :class="[`${cssPrefix}__group__bracket__text-container__text`]">{{groupItem.label}}</span>
        </span>
      </div>
      <template v-for="(iconTabItem, index) in groupItem.items">
        <sw-icon-tab v-if="iconTabItem.icon"
          :theme="theme"
          :key="`iconTabItem-${index}`"
          :tab-color="iconTabItem.tabColor"
          :icon="iconTabItem.icon"
          :disabled="iconTabItem.disabled"
          :text="iconTabItem.text"
          :mode="mode"
          :no-border="iconTabItem.noBorder"
          :selected="value === iconTabItem.tabId"
          @click="onClickTabItem(iconTabItem)"
          v-tooltip="{
            enabled: iconTabItem.tooltip === true,
            placement: 'bottom',
            content: iconTabItem.text,
          }"
        />
        <sw-icon-tab-divider v-else
          :theme="theme"
          :key="`iconTabItem-${index}`"
        />
      </template>
    </div>
  </template>
</div>
</template>

<style lang="scss">
.sw-icon-tab-group {
  margin-top: 5px;
  &__group + &__group {
    margin-left: 3px;
  }
  &__group {
    .sw-icon-tab--border:nth-child(2) {
      margin-left: 10px;
    }
    .sw-icon-tab--border:last-child {
      margin-right: 5px;
    }
    padding-top: 9px;
    position: relative;
    &__bracket {
      &--exists {
        position: absolute;
        width: 100%;
        height: 7px;
        top: 0px;
        border: solid 1px #c9c9c9;
        border-bottom: none;
        #{BEM_getParent()}__text-container {
          position: absolute;
          top: -5px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 10;
          &__text {
            font-size: 10.5px;
            color: #515151;
            background-color: white;
            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }
  }
  &--dark {
    #{BEM_getParent()}__group__bracket__text-container__text {
      color: #ccc;
      background-color: black;
    }
  }
  &--bottom {
    margin-top: unset;
    margin-bottom: 10px;
    #{BEM_getParent()}__group {
      padding-top: unset;
      padding-bottom: 9px;
      &__bracket {
        &--exists {
          height: 7px;
          bottom: 0px;
          top: unset;
          bottom: 0px;
          border: solid 1px #c9c9c9;
          border-top: none;
          #{BEM_getParent()}__text-container {
            top: unset;
          }
        }
      }
    }
  }
  &--page {
    #{BEM_getParent()}__group {
      padding-bottom: unset;
      .sw-icon-tab--border:nth-child(2) {
        margin-left: unset;
      }
      .sw-icon-tab--border:last-child {
        margin-right: unset;
      }
      .sw-icon-tab + .sw-icon-tab {
        margin-left: 5px;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Model } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import SwIconTab from './sw-icon-tab.vue';
import SwIconTabDivider from './sw-icon-tab-divider.vue';
import { IconTabGroupItem, IconTabItem } from './types';
import { tooltip } from '../tooltip-dir';

const cssPrefix = 'sw-icon-tab-group';

/**
 * @event change `(tabId: string)`
 */
@Component({
  components: {
    SwIconTabDivider,
    SwIconTab,
  },
  directives: {
    tooltip,
  },
})
export default class SwIconTabGroup extends SwExtendedVue {

  @Prop({ type: Array, required: true })
  groupItems: IconTabGroupItem[];

  @Prop({ type: String, default: 'light' })
  theme : string;

  @Prop({ type: Boolean, default: false })
  labelsOnBottom : boolean;

  @Prop({ type: String, default: 'header' })
  mode: 'header' | 'page';

  @Model('change', { type: [String], required: true })
  value: string;

  cssPrefix: string = cssPrefix;

  private onClickTabItem(tabItem: IconTabItem) {
    this.$emit('change', tabItem.tabId);
  }
}
</script>
