<template>
<div :class="[`${cssPrefix}`,
    { [`${cssPrefix}--selected`]: selected },
    { [`${cssPrefix}--no-border`]: noBorder },
    { [`${cssPrefix}--border`]: !noBorder },
    { [`${cssPrefix}--disabled`]: disabled },
  ]"
  :style="noBorderIconStyle"
  @click="onClickOuter"
>
  <div :class="['sw-flexbox', 'sw-flexbox--center-items', `${cssPrefix}--${theme}`,
      { 'sw-flexbox--column': mode === 'page' },
    ]"
  >
    <div :class="[
        `${cssPrefix}__icon`, 'sw-flexbox__flex-none',
        'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
        { [`${cssPrefix}__icon--big`]: mode === 'page' }
      ]"
      :style="iconStyle"
      @mouseenter="onMouseEnterIcon"
      @mouseleave="onMouseLeaveIcon"
      @click="onClickIcon"
    >
      <sw-icon v-bind="effectiveIcon" as-block></sw-icon>
    </div>
    <div :class="[`${cssPrefix}__text`, 'sw-flexbox__flex-none',
        { [`${cssPrefix}__text--packed`]: mode === 'page' }
      ]"
    >{{ text }}</div>
  </div>
</div>
</template>

<style lang="scss">
.sw-icon-tab {
  $sw-icon-tab-css: '.sw-icon-tab';
  overflow: visible;
  display: inline-block;

  &--disabled {
    * {
      pointer-events: none;
    }
    cursor: not-allowed;
  }

  &--dark {
    #{BEM_getParent()}__icon {
      color: $color--dark--icon;
    }
    #{BEM_getParent()}__text {
      color: $color--dark--icon;
    }
  }

  &--selected {
    #{BEM_getParent()}__icon {
      border: none;
    }

    #{BEM_getParent()}--dark {
      #{BEM_getParent()}__icon {
        color: #333;
      }
    }
  }

  &--no-border {
    cursor: pointer;

    #{BEM_getParent()}__icon {
      border: none;
      width: 36px;
      height: 36px;
      cursor: inherit;
    }

    #{BEM_getParent()}__text {
      padding-left: 0;
    }
  }

  &__icon {
    width: 49px;
    height: 49px;
    border: 2px dashed $color--light--border;
    border-radius: 50%;
    background-color: transparent;
    color: $color-selected-text;
    cursor: pointer;

    &--big {
      width: 70px;
      height: 70px;
    }
  }

  &__text {
    min-width: 90px;
    text-transform: uppercase;
    padding: 6px $padding-primary-small;
    white-space: nowrap;
    color: $color-selected-text;
    font-weight: $typo--nunito--font-weight-regular;
    font-size: 14px;
    user-select: none;

    &--packed {
      min-width: initial;
      padding: $padding-primary-small/2 0;
    }
  }

  &:last-child {
    #{$sw-icon-tab-css}__text {
      min-width: initial;
    }
  }
}
</style>


<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwIcon, IconConfig } from '../sw-icon';
import { CSSStyleOptions, VueRenderFunction } from '../common-types';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';

const cssPrefix = 'sw-icon-tab';

/**
 * @event click `(event: MouseEvent)`
 */
@Component({
  components: {
    SwIcon,
  },
})
export default class SwIconTab extends SwExtendedVue {
  @Prop({ type: String, default: 'light' }) theme : string;

  @Prop({ type: String, default: 'header' })
  mode: 'header' | 'page';

  @Prop({ type: [String, Object], required: true })
  icon: string | IconConfig;

  @Prop({ type: [String, Function], default: '' })
  text: string | VueRenderFunction;

  @Prop({ type: Boolean, default: false })
  selected: boolean;

  @Prop({ type: String, default: utilService.colorConst.selected })
  tabColor: string;

  @Prop({ type: Boolean, default: false })
  noBorder: boolean;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  cssPrefix: string = cssPrefix;

  isOnIcon: boolean = false;

  get effectiveIcon(): IconConfig {
    return Object.assign(
      {
        size: this.mode === 'page' ? 28 : 20,
      },
      typeof this.icon === 'string' ? { name: this.icon } : this.icon,
    );
  }

  get iconStyle(): CSSStyleOptions {
    if (this.disabled) {
      return {
        color: utilService.colorConst.light_textDisabled,
        backgroundColor: utilService.colorConst.light_highlight,
        borderColor: utilService.colorConst.light_textDisabled,
      };
    }
    return {
      borderColor: this.tabColor,
      backgroundColor: this.selected ? this.tabColor : null,
      color: this.isOnIcon ? (this.selected || this.noBorder ? (this.theme === 'dark' ? '#cccccc' : null) : this.tabColor) : null,
    };
  }

  get noBorderIconStyle(): CSSStyleOptions {
    if (this.noBorder) {
      return {
        backgroundColor: this.iconStyle.backgroundColor,
        color: this.iconStyle.color,
      };
    }
    return {};
  }

  onMouseEnterIcon() {
    this.isOnIcon = true;
  }

  onMouseLeaveIcon() {
    this.isOnIcon = false;
  }

  onClickIcon(event: MouseEvent) {
    if (!this.noBorder) {
      this.$emit('click', event);
    }
  }

  onClickOuter(event: MouseEvent) {
    if (this.noBorder) {
      this.$emit('click', event);
    }
  }
}
</script>
