<style lang="scss">
.sw-chip {
  overflow: hidden;
  max-width: 150px;
  min-width: 32px;
  height: 21px;
  padding: 0 $padding-primary-small;
  border-radius: 3px;
  background-color: $color-status-info-msg;
  font-weight: $typo--nunito--font-weight-regular;

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__close {
    margin-left: $margin-primary-small/2;
    color: $color--light--icon;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $color--light--icon-hover;
    }
  }

  &--dark {
    background-color: $color--dark--highlight;
    color: $color--dark--text;

    #{BEM_getParent()}__close {
      color: $color--dark--icon;

      &:hover {
        color: $color--dark--icon-hover;
      }
    }
  }
}
</style>

<script lang="tsx">
import Vue, { VNode } from 'vue';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { utilService } from '../util-service';

const cssPrefix = 'sw-chip';

/**
 * @event request-remove `(event: MouseEvent)`
 */
export default Vue.extend({
  functional: true,
  props: {
    theme: {
      type: String,
      default: 'light',
    },
    withClose: {
      type: Boolean,
      default: true,
    },
  },
  /* tslint:disable-next-line */
  render(h, context) {
    function onCloseClick(event: MouseEvent) {
      const removeEventHandle = context.listeners['request-remove'];
      if (typeof removeEventHandle !== 'function') { return; }
      removeEventHandle(event);
    }

    const data = utilService.extractFunctionalCompRootNodeData(context.data);

    return (
      <div
        class={[
          `${cssPrefix}`, `${cssPrefix}--${context.props.theme}`,
          'sw-typo-default', 'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items',
        ]}
        {...data}
      >
        <span class={[`${cssPrefix}__label`, 'sw-flexbox__flex']}>{context.children}</span>
        {
          context.props.withClose ? (
            <span class={[`${cssPrefix}__close`, 'sw-flexbox__flex-none']}>
              <SwIcon
                props-name="close"
                props-size={6}
                as-block
                nativeOn-click={onCloseClick}
              />
            </span>
          ) : undefined
        }
      </div>
    ) as VNode;
  },
}) as typeof SwExtendedVue;
</script>
