<template>
  <aside
    :class="[`${cssPrefix}`, 'sw-flexbox',
      `sw-typo-default`,
      `${cssPrefix}--${theme}`,
      {[`${cssPrefix}--collapsed`]: collapsed},
    ]"
    :style="rootStyle"
  >
    <div :class="[`${cssPrefix}__inner`, 'sw-flexbox__flex', 'sw-flexbox']">
      <div :class="[`${cssPrefix}__inner-cont`, 'sw-flexbox__flex']">
        <div :class="[`${cssPrefix}__cont`, 'sw-flexbox']" :style="contStyle">
          <div :class="['sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--column']">
            <div :class="[`${cssPrefix}__logo`, 'sw-flexbox__flex-none']" v-if="withLogo">
              <div :class="[`${cssPrefix}__logo__wrap`]">
                <img src="../../assets/images/logo-dark.svg" :class="[`${cssPrefix}__logo__wrap__img`]" v-show="!collapsed" />
                <img src="../../assets/images/logo-symbol.png" :class="[`${cssPrefix}__logo__wrap__img`]" v-show="collapsed" />
              </div>
            </div>
            <div :class="[`${cssPrefix}__extra`, `${cssPrefix}__extra--above`, 'sw-flexbox__flex-none']">
              <slot name="extra-above"></slot>
            </div>
            <div :class="[`${cssPrefix}__push-menu`, 'sw-flexbox__flex-none', 'sw-flexbox', 'sw-flexbox--center-items']" v-if="withPushMenu">
              <div :class="[`${cssPrefix}__push-menu__button`, 'sw-flexbox', 'sw-flexbox--center-items']">
                <sw-icon name="menu" :size="16" as-block></sw-icon>
              </div>
              <div :class="[`${cssPrefix}__push-menu__arrow`]">
                <sw-icon name="arrow-up" :size="10" as-block></sw-icon>
              </div>
            </div>
            <ul :class="[`${cssPrefix}__list`, 'sw-flexbox__flex-none']">
              <slot></slot>
            </ul>
            <div :class="[`${cssPrefix}__extra`, `${cssPrefix}__extra--below`, 'sw-flexbox__flex-none']">
              <slot name="extra-below"></slot>
            </div>
          </div>
        </div>
      </div>
      <div :class="[`${cssPrefix}__inner-shadow`, 'sw-flexbox__flex-none']">
        <div :class="[`${cssPrefix}__inner-shadow__elem`]"></div>
      </div>
    </div>

    <div :class="[`${cssPrefix}__side`, 'sw-flexbox__flex-none']" v-show="!collapsed">
      <sw-nav-side-indicator
        :color="navColor"
        :referrer-rect="highlightReferrer ? highlightReferrer.boundingRect : null"
      />
    </div>

    <div :class="[`${cssPrefix}__collapse-trigger-cont`, 'sw-flexbox__flex-none',
        'sw-flexbox', 'sw-flexbox--start-items',
        { 'sw-flexbox--end-justify': putCollapseTriggerInside },
      ]"
      v-if="withCollapseTrigger"
    >
      <div :class="[`${cssPrefix}__collapse-trigger`, 'sw-flexbox__flex-none',
          'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
          { [`${cssPrefix}__collapse-trigger--inside`]: putCollapseTriggerInside },
        ]"
        @click="onClickCollapseTrigger"
      >
        <div :class="[`${cssPrefix}__collapse-trigger__arrow`,
            { [`${cssPrefix}__collapse-trigger__arrow--collapsed`]: collapsed},
            'sw-flexbox__flex-none',
          ]"
        >
          <sw-icon name="arrow-up" :size="putCollapseTriggerInside ? 11 : 16" :rotate="-90" as-block></sw-icon>
        </div>
      </div>
    </div>

  </aside>
</template>

<style lang="scss">
.sw-nav {
  min-height: 100%;
  overflow: visible;
  background-color: $color--light--background;
  transition: width 150ms ease-out;

  &__inner {
    overflow: hidden;
  }

  &__inner-cont {
    overflow: hidden;
  }

  &__inner-shadow {
    position: relative;
    z-index: 2;
    &__elem {
      position: absolute;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 10px;
      @include edge-shadow;
    }
  }

  &__cont {
    overflow: hidden;
    height: 100%;
    border-left: 5px solid $color--light--background;
  }

  &__side {
    position: relative;
  }

  &__logo {
    padding: 25px 0 15px 27px;

    &__wrap {
      height: 30px;

      &__img {
        display: block;
        width: 176px;
        border: none;
      }
    }
  }

  &__push-menu {
    height: 29px;
    margin-bottom: 10px;

    &__button {
      border-radius: 0 3px 3px 0;
      width: 24px;
      height: 100%;
      padding-bottom: 2px;
      cursor: pointer;
    }

    &__arrow {
      transform: rotateZ(90deg);
      height: 5px;
    }
  }

  &__collapse-trigger-cont {
    width: 0;
    overflow: visible;
  }
  &__collapse-trigger {
    &--inside {
      border: solid 1px $color--dark--highlight;
      border-right: none;
      border-radius: 3px 0 0 3px;
      width: 16px;
      height: 20px;
      margin-top: 2px;
    }
    position: relative;
    z-index: 1;
    width: 24px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;

    &__arrow {
      transition: transform 400ms ease-out;

      &--collapsed {
        transform: rotateZ(180deg);
        color: $color-active;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $color--light--highlight;
  }

  /* for dark theme */
  &--dark {
    background-color: $color--dark--base-2;
    color: $color--dark--text;

    #{BEM_getParent()}__cont {
      border-left-color: $color--dark--background;
    }

    #{BEM_getParent()}__push-menu {
      &__button {
        background-color: $color--dark--background;
      }

      &__arrow {
        color: $color--dark--background;
      }
    }

    #{BEM_getParent()}__collapse-trigger {
      background-color: $color--dark--base-2;
    }

    #{BEM_getParent()}__list {
      border-bottom-color: $color--dark--highlight;
    }
  }

  /* for collapse */
  &--collapsed {
    #{BEM_getParent()}__logo {
      padding-left: 10px;

      &__wrap {
        margin-top: -10px;
        height: 40px;

        &__img {
          width: 40px;
        }
      }
    }
  }
}
</style>

<script lang="ts">
import { VNode } from 'vue';
import { Component, Prop, Provide, Watch, Model } from 'vue-property-decorator';
import { Subject } from 'rxjs';
import _ from 'lodash';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { LooseObject, CSSStyleOptions } from '../common-types';
import SwNavSideIndicator from './sw-nav-side-indicator.vue';
import { HighlightReferrerInfo, MyClientRect, ProvidedNavParam } from './types';
import { utilService } from '../util-service';
import { domService } from '../dom-service';

const cssPrefix = 'sw-nav';

/**
 * Stateless navigation component.
 *
 * Which nav item is selected should be controlled by the parent,
 * and passed in via `selected` property.
 *
 * Each SwNavGroup and SwNavItem should be using unique `nav-id`
 * across the nav structure.
 *
 * Events:
 * @event select `(itemId: string)`
 * @event request-change-collapsed `(isCollapsing: boolean)`
 */
@Component({
  components: {
    SwIcon,
    SwNavSideIndicator,
  },
})
export default class SwNav extends SwExtendedVue {
  cssPrefix = cssPrefix;

  @Prop({ type: [Number, String], default: '235px' })
  width: number | string;

  @Prop({ type: String, default: 'default' })
  size: ProvidedNavParam['size'];

  /** could be light, dark */
  @Prop({ type: String, default: 'dark' })
  theme: string;

  /** controlled selection value */
  @Prop({ type: String, required: true })
  selected: string;

  @Prop({ type: Boolean, default: false })
  accordion: boolean;

  @Prop({ type: Boolean, default: true })
  withLogo: boolean;

  @Prop({ type: Boolean, default: false })
  withPushMenu: boolean;

  @Prop({ type: Boolean, default: false })
  withCollapseTrigger: boolean;

  @Prop({ type: Boolean, default: false })
  putCollapseTriggerInside: boolean;

  @Prop({ type: String, default: 'black' })
  navColor: string;

  /** the `navData` will not be used to compose the nav components but just for
   * detecting the time when we want to update the selectedHierarchy. */
  @Prop({ default: null })
  navData: any;

  @Model('request-change-collapsed', { type: Boolean, default: false })
  collapsed: boolean;

  /** it has to be in the observable object `navParam` in order to make it reactive in children */
  @Provide()
  navParam: ProvidedNavParam = {
    eventbus: new Subject(),
    accordion: this.effectiveAccordion,
    theme: this.theme,
    collapsed: this.collapsed,
    selectedHierarchy: [],
    expandedGroups: [],
    navColor: this.navColor,
    size: this.size,
  };

  highlightReferrer: HighlightReferrerInfo | null = null;
  showDivider: boolean = true;
  private contentObserver: MutationObserver | null = null;

  get effectiveAccordion() {
    return this.accordion || this.collapsed;
  }

  get navWidth() {
    if (this.collapsed) { return '65px'; }
    if (typeof(this.width) === 'string') {
      return this.width;
    }
    return `${this.width}px`;
  }

  get contStyle(): CSSStyleOptions {
    return {
      width: this.navWidth,
    };
  }

  get rootStyle(): CSSStyleOptions {
    return this.contStyle;
  }

  @Watch('collapsed')
  private syncCollapsed() {
    this.navParam.collapsed = this.collapsed;
  }

  @Watch('effectiveAccordion')
  private syncEffectiveAccordion(val: boolean, oldVal: boolean) {
    this.navParam.accordion = this.effectiveAccordion;
    if (val && !oldVal) {
      /** only keep the last expanded group for each level */
      this.navParam.expandedGroups.forEach((levelReg) => {
        const length = levelReg.length;
        if (length <= 1) { return; }
        levelReg.splice(0, length - 1);
      });
    }
  }

  @Watch('theme')
  private syncTheme() {
    this.navParam.theme = this.theme;
  }

  @Watch('navColor')
  private syncNavColor() {
    this.navParam.navColor = this.navColor;
  }

  @Watch('size')
  private syncSize() {
    this.navParam.size = this.size;
  }

  @Watch('navData', { deep: true })
  @Watch('selected')
  private buildSelectedHierarchy() {
    const self = this;
    const tempHierarchy: string[] = [];

    function recordSelected(nodeArray: VNode[] | undefined): boolean {
      const arr = nodeArray ? nodeArray : [];
      let foundSelected = false;

      arr.forEach((node) => {
        if (!node.componentOptions || !node.componentOptions.propsData) {
          return;
        }
        if (
          node.componentOptions.tag !== 'sw-nav-group' &&
          node.componentOptions.tag !== 'sw-nav-item'
        ) {
          return;
        }

        if (
          (node.componentOptions.propsData as LooseObject).navId === self.selected ||
          recordSelected(node.componentOptions.children)
        ) {
          foundSelected = true;
          tempHierarchy.unshift((node.componentOptions.propsData as LooseObject).navId);
        }
      });

      return foundSelected;
    }

    /** we have to push the recording to next tick as `$scopedSlots` can only
     * get correct set of VNodes after the rendering.
     */
    this.$nextTick(() => {
      this.navParam.selectedHierarchy = tempHierarchy;

      if (!this.selected) {
        return;
      }

      recordSelected(utilService.getVueScopedSlot(this.$scopedSlots));
    });

    // if (this.collapsed) {
    //   if (this.navParam.selectedHierarchy.length === 1) {
    //     this.claimExpandedGroup(0, this.navParam.selectedHierarchy[0], true);
    //   } else {
    //     for (let i = 0; i < this.navParam.selectedHierarchy.length - 1; i = i + 1) {
    //       this.claimExpandedGroup(i, this.navParam.selectedHierarchy[i], true);
    //     }
    //   }
    // }
  }

  @Provide()
  private claimExpandedGroup(offsetLevel: number, groupId: string, expanded: boolean): void {
    const levelReg = this.navParam.expandedGroups[offsetLevel];
    if (levelReg) {
      const index = levelReg.indexOf(groupId);
      if (index >= 0 && !expanded) {
        levelReg.splice(index, 1);
      } else if (index < 0 && expanded) {
        if (this.effectiveAccordion) {
          levelReg.splice(0);
        }
        levelReg.push(groupId);
      }
    } else if (expanded) {
      this.$set(this.navParam.expandedGroups, offsetLevel, []);
      this.navParam.expandedGroups[offsetLevel].push(groupId);
    }
  }

  @Provide()
  private claimSelectNavItem(itemId: string) {
    this.$emit('select', itemId);
  }

  @Provide()
  private claimHighlightReferrer(navId: string, boundingRect: MyClientRect) {
    // const oldIndex = this.highlightReferrer ?
    //   this.navParam.selectedHierarchy.indexOf(this.highlightReferrer.navId) : -1;
    const newIndex = this.navParam.selectedHierarchy.indexOf(navId);

    if (newIndex >= 0) {
      /** we are trying to claim more upper-leveled highlight referrer */
      this.highlightReferrer = {
        navId,
        boundingRect,
      };
    }
  }

  @Provide()
  private claimCheckHighlightReferrerRequest() {
    this.$nextTick(() => {
      this.navParam.eventbus.next('request-check-highlight-referrer');
    });
  }

  private get debouncedClaimCheckHighlightReferrerRequest() {
    return _.debounce(this.claimCheckHighlightReferrerRequest, 150);
  }

  private onClickCollapseTrigger() {
    this.$emit('request-change-collapsed', !this.collapsed);
  }

  private mounted() {
    this.buildSelectedHierarchy();
    this.contentObserver = domService.mutationObserverManager.setup(
      this.$el as HTMLElement,
      { childList: true, subtree: true, attributes: true, characterData: true },
      this.debouncedClaimCheckHighlightReferrerRequest,
    );
    (this.$el as HTMLElement).addEventListener('transitionend', this.debouncedClaimCheckHighlightReferrerRequest);
  }

  private beforeDestroy() {
    (this.$el as HTMLElement).removeEventListener('transitionend', this.debouncedClaimCheckHighlightReferrerRequest);
    if (this.contentObserver) {
      this.contentObserver.disconnect();
    }
  }
}
</script>
