<template>
<li
  :class="[
    `${cssPrefix}`,
    'sw-flexbox',
    'sw-flexbox--center-items',
    `${cssPrefix}--${navParam.theme}`,
  ]"
>{{ title }}</li>
</template>

<style lang="scss">
.sw-nav-section-divider {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  min-height: 23px;
  border-top: 1px solid $color--light--highlight;
  font-size: 12px;
  font-weight: $typo--nunito--font-weight-regular;
  text-transform: uppercase;

  &--dark {
    border-top-color: $color--dark--highlight;
    background-color: #444;
  }
}
</style>

<script lang="ts">
import { Component, Inject, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { ProvidedNavParam } from './types';

const cssPrefix = 'sw-nav-section-divider';

@Component
export default class SwNavSectionDivider extends SwExtendedVue {
  /**
   * I was trying to use functional component and leverage the provided props
   * via sw-nav in the functional component. However, it seems there is an unresolved
   * bug of Vue for this usage, so I have to fallback to use normal component for now:
   * https://github.com/vuejs/vue/issues/5837
   */
  // functional: true,

  cssPrefix = cssPrefix;

  @Prop({ type: String, required: true })
  title: string;

  @Inject()
  navParam: ProvidedNavParam;
}
</script>

