<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`,
    { [`${cssPrefix}--collapsed`]: collapsed },
    'sw-flexbox', 'sw-flexbox--center-items',
  ]"
>
  <sw-icon name="arrow-up" :size="10" :rotate="-90" :class="[`${cssPrefix}__arrow`, 'sw-flexbox__flex-none']"></sw-icon>
  <sw-icon name="menu" :size="16" :class="['sw-flexbox__flex-none']"></sw-icon>
</div>
</template>

<style lang="scss">
.sw-nav-standalone-collapse-trigger {
  color: $color--light--icon;
  cursor: pointer;
  user-select: none;
  transition: transform 400ms ease-out;

  &:hover {
    color: $color--light--icon-hover;
  }

  &--collapsed {
    transform: rotateY(180deg);

    #{BEM_getParent()}__arrow {
      color: $color-active;
    }
  }

  &--dark {
    color: $color--dark--icon;

    &:hover {
      color: $color--dark--icon-hover;
    }
  }
}
</style>

<script lang="tsx">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';

const cssPrefix = 'sw-nav-standalone-collapse-trigger';

@Component({
  components: {
    SwIcon,
  },
})
export default class SwNavStandaloneCollapseTrigger extends SwExtendedVue {
  @Prop({ type: Boolean, required: true })
  collapsed: boolean;

  @Prop({ type: String, default: 'light' })
  theme: 'dark' | 'light';

  cssPrefix =  cssPrefix;
}
</script>
