<template>
<div :class="[`${cssPrefix}`,
    {
      [`${cssPrefix}--selected`]: selected,
      [`${cssPrefix}--disabled`]: disabled,
      [`${cssPrefix}--dim`]: dim,
      [`${cssPrefix}--as-dropdown`]: navParam.mode === 'dropdown',
    },
    'sw-flexbox', 'sw-flexbox--center-items',
  ]"
  @click="onClick"
>
  <sw-icon
    ref="icon"
    :class="[`${cssPrefix}__icon`, 'sw-flexbox__flex-none']"
    v-bind="effectiveIconConfig"
  ></sw-icon>
  <span :class="[`${cssPrefix}__label`, 'sw-flexbox__flex-none']">{{ label }}</span>
</div>
</template>

<style lang="scss">
.sw-top-nav-item {
  $cssPrefix: '.sw-top-nav-item';

  overflow: visible;
  color: #d7d7d7;
  transition: opacity 200ms, color 200ms;
  padding-left: $padding-primary-small;
  cursor: pointer;

  &:hover {
    color: $color--dark--icon-hover;
  }

  &--dim {
    opacity: .58;
  }

  &--selected {
    #{$cssPrefix}__icon {
      color: $color-selected;
    }
  }

  &--as-dropdown {
    #{$cssPrefix}__label {
      padding-right: $padding-primary-small;
    }
  }

  &--disabled {
    opacity: .25;
    cursor: not-allowed;
  }

  &__label {
    padding: 0 20px 0 $padding-primary-small;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $typo--nunito--font-weight-regular;
    user-select: none;
  }
}
</style>

<script lang="tsx">
import { Subscription } from 'rxjs';
import { Component, Prop, Inject, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon, IconConfig } from '../sw-icon';
import SwTopNav from './sw-top-nav.vue';
import { ProvidedTopNavParam } from './types';

const cssPrefix = 'sw-top-nav-item';

@Component({
  components: {
    SwIcon,
  },
})
export default class SwTopNavItem extends SwExtendedVue {
  @Prop({ type: String, required: true })
  itemId: string;

  @Prop({ type: Boolean, default: false })
  selected: boolean;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, default: false })
  dim: boolean;

  @Prop({ type: Object, required: true })
  icon: IconConfig;

  @Prop({ type: String, required: true })
  label: string;

  cssPrefix =  cssPrefix;
  eventSubscription: Subscription | null = null;

  @Inject()
  readonly navParam: ProvidedTopNavParam;

  get effectiveIconConfig(): IconConfig {
    return Object.assign(this.icon, {
      size: 18,
      asBlock: true,
    } as IconConfig);
  }

  @Inject()
  private claimSelectNavItem: SwTopNav['claimSelectNavItem'];

  @Inject()
  private claimHighlightReferrer: SwTopNav['claimHighlightReferrer'];

  @Watch('selected')
  private checkClaimHighlight() {
    if (!this.selected) { return; }
    if (!this.$refs.icon) { return; }
    const iconComp = this.$refs.icon as HTMLElement;
    const rect = iconComp.getBoundingClientRect();
    this.claimHighlightReferrer(this.itemId, {
      top: rect.top,
      left: rect.left,
      right: rect.right,
      bottom: rect.bottom,
      width: rect.width,
      height: rect.height,
    });
  }

  private onClick() {
    if (this.disabled) { return; }
    if (this.navParam.mode === 'expand') {
      this.claimSelectNavItem(this.itemId);
    }
  }

  private created() {
    this.eventSubscription = this.navParam.eventbus.subscribe((event) => {
      if (event !== 'request-check-highlight-referrer') { return; }
      this.checkClaimHighlight();
    });
  }

  private mounted() {
    this.checkClaimHighlight();
  }

  private beforeDestroy() {
    if (this.eventSubscription) {
      this.eventSubscription.unsubscribe();
      this.eventSubscription = null;
    }
  }
}
</script>
