<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${tabParam.theme}`, 'sw-flexbox', { 'sw-flexbox--column': tabParam.vertical }]">
  <div :class="[
      `${cssPrefix}__mover`,
      `${cssPrefix}__mover--backward`,
      `${cssPrefix}__mover--l${tabParam.level}`,
      'sw-flexbox',
    ]"
    v-if="!tabParam.vertical"
  >
    <div :class="[`${cssPrefix}__mover__inner`, 'sw-flexbox', 'sw-flexbox--center-items']"
      @click.stop.prevent="onClickMover('backward')"
      v-show="showMover"
    >
      <sw-icon name="arrow-left" :size="10" as-block></sw-icon>
    </div>
  </div>
  <div :class="['sw-flexbox__flex', 'sw-flexbox', { 'sw-flexbox--column': !tabParam.vertical }]">
    <div :class="[`${cssPrefix}__cont`, 'sw-flexbox',
        {
          'sw-flexbox--center-justify': tabParam.centered,
          [`${cssPrefix}__cont--lifted`]: tabParam.arrowIndicator,
        },
      ]"
      :style="contStyle"
      ref="cont"
    >
      <div :class="[`${cssPrefix}__cont__tabs-cont`,
          'sw-flexbox__flex-none',
          {
            'sw-flexbox': tabParam.vertical,
            [`${cssPrefix}__cont__tabs-cont--vertical`]: tabParam.vertical,
          },
        ]"
        :style="{transform: `translateX(${tabsContLeft}px)`}"
        ref="tabsCont"
      >
        <ul :class="[`${cssPrefix}__cont__tabs-cont__list`,
            'sw-flexbox',
            { 'sw-flexbox--column': tabParam.vertical }
          ]"
        >
          <sw-tab v-for="(tab, index) in tabs"
            :key="tab.tabId"
            ref="allTabs"
            v-bind="normalizeTabProps(tab)"
            :active="tab.tabId === activeTabId"
            :class="[`${cssPrefix}__cont__tabs-cont__list__item`, 'sw-flexbox__flex-none']"
            :style="tabStyle(index)"
            @mouseenter.native="onMouseEnterTab($event, tab)"
            @mouseleave.native="onMouseLeaveTab"
          ></sw-tab>
        </ul>
        <div ref="tabsContSizeSensor" :class="[`${cssPrefix}__cont__tabs-cont__size-sensor`, {[`${cssPrefix}__cont__tabs-cont__size-sensor--vertical`]: tabParam.vertical}]"></div>
      </div>
    </div>
    <div :class="[`${cssPrefix}__lines`, { [`${cssPrefix}__lines--vertical`]: tabParam.vertical }]">
      <div v-if="tabParam.level === 1" :class="[`${cssPrefix}__lines__l1`]">
        <div v-if="tabParam.arrowIndicator" :class="[`${cssPrefix}__lines__l1__arrow-indicator`]"
          :style="arrowIndicatorStyle"
          ref="arrowIndicator"
        ></div>
      </div>
      <div v-if="tabParam.level === 2" :class="[`${cssPrefix}__lines__l2`]">
        <div :class="[`${cssPrefix}__lines__l2__hover-indicator`]" :style="hoverL2IndicatorStyle" ref="hoverL2Indicator"></div>
        <div :class="[`${cssPrefix}__lines__l2__indicator`]" :style="activeL2IndicatorStyle" ref="activeL2Indicator"></div>
      </div>
    </div>
    <div ref="contSizeSensor" :class="[`${cssPrefix}__cont__tabs-cont__size-sensor`, {[`${cssPrefix}__cont__tabs-cont__size-sensor--vertical`]: tabParam.vertical}]"></div>
  </div>
  <div :class="[
      `${cssPrefix}__mover`,
      `${cssPrefix}__mover--forward`,
      `${cssPrefix}__mover--l${tabParam.level}`,
      'sw-flexbox',
    ]"
    v-if="!tabParam.vertical"
  >
    <div :class="[`${cssPrefix}__mover__inner`, 'sw-flexbox', 'sw-flexbox--center-items']"
      @click.stop.prevent="onClickMover('forward')"
      v-show="showMover"
    >
      <sw-icon name="arrow-left" :size="10" as-block></sw-icon>
    </div>
  </div>
</div>
</template>

<style lang="scss">
.sw-tab-nav {
  $cssPrefix: '.sw-tab-nav';
  overflow: visible;

  &__lines {
    overflow: visible;
    height: 0;

    &--vertical {
      height: auto;
      width: 0;

      #{BEM_getParent()}__l1 {
        height: 100%;
        width: 1px;
        top: 0;
        left: -1px;
      }
    }

    &__l1 {
      position: relative;
      top: -1px;
      height: 1px;
      background-color: $color-selected;

      &__arrow-indicator {
        position: absolute;
        z-index: 1;
        top: -15px;
        width: 0;
        height: 0;
        border-bottom: 15px solid $color-selected;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: none;
        transition: left 200ms ease-out;

        &::before {
          content: '';
          width: 0;
          height: 0;
          border-bottom: 15px solid $color--light--background;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: none;
          position: absolute;
          top: 1px;
          left: -15px;
        }
      }
    }

    &__l2 {
      position: relative;
      top: -1px;
      height: 1px;
      background-color: $color--light--border;
      overflow: visible;

      &__indicator, &__hover-indicator {
        position: absolute;
        z-index: 1;
        top: -1px;
        left: 0;
        width: 0;
        height: 3px;
        border-radius: 2px;
      }
      &__indicator {
        background-color: $color-selected;
        transition: left 200ms ease-out, width 200ms ease-out;
      }
      &__hover-indicator {
        background-color: $color--light--border;
      }
    }
  }

  &__cont {
    overflow: hidden;
    z-index: 1;

    &--lifted {
      padding-bottom: $padding-primary;
    }

    &__tabs-cont {
      display: inline-block;
      vertical-align: bottom;
      height: auto;
      transition: transform ease-out 200ms;

      &--vertical {
        display: inline-flex;
      }

      &__list {
        list-style: none;
        overflow: visible;
        margin: 0;
        padding: 0;
        height: 100%;

        &__item {
          z-index: 1;
        }
      }

      &__size-sensor {
        height: 0;
        overflow: hidden;

        &--vertical {
          height: auto;
          width: 0;
        }
      }
    }
  }

  &__mover {
    overflow: hidden;
    border-bottom: 1px solid $color-selected;
    width: 20px;

    &--forward {
      #{BEM_getParent()}__inner {
        transform: rotate(180deg);
      }
    }

    &--l2 {
      border-bottom-color: $color--light--border;
    }

    &__inner {
      padding: 0 $padding-primary-small/2;
      border-radius: 0 6px 6px 0;
      background: $color--light--highlight;
      transition: color 100ms ease, background-color 100ms ease;
      cursor: pointer;

      &:hover {
        background: $color--dark--highlight;
        color: $color--dark--text;
      }
    }
  }

  &--dark {
    color: $color--dark--text;

    #{$cssPrefix}__lines {
      &__l1 {
        &__arrow-indicator {
          &::before {
            border-bottom-color: $color--dark--background;
          }
        }
      }
      &__l2 {
        background-color: #363636;
        &__hover-indicator {
          background-color: $color--dark--icon;
        }
      }
    }

    #{$cssPrefix}__mover {

      &--l2 {
        border-bottom-color: #363636;
      }
      &__inner {
        background-color: $color--dark--highlight;
        &:hover {
          background-color: $color--light--border;
          color: $color--light--text;
        }
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Watch, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { domService } from '../dom-service';
import { SwIcon } from '../sw-icon';
import SwTab from './sw-tab.vue';
import { TabProps, ProvidedTabParam } from './types';
import { CSSStyleOptions } from '../common-types';

const cssPrefix = 'sw-tab-nav';

@Component({
  components: {
    SwIcon,
    SwTab,
  },
})
export default class SwTabNav extends SwExtendedVue {
  @Prop({ type: Array, required: true })
  tabs: TabProps[];

  @Prop({ type: String, required: true })
  activeTabId: string;

  @Inject()
  tabParam: ProvidedTabParam;

  cssPrefix: string = cssPrefix;

  showMover: boolean = false;
  tabsContLeft: number = 0;
  activeL2IndicatorStyle: CSSStyleOptions = {};
  hoverL2IndicatorStyle: CSSStyleOptions = {};
  arrowIndicatorStyle: CSSStyleOptions = {};

  get contStyle(): CSSStyleOptions {
    if (this.tabParam.vertical && !this.showMover) {
      return {
        margin: '20px 0',
      };
    }
    return {};
  }

  private updateIndicatorStyle(): void {
    if (!this.$refs.activeL2Indicator && !this.$refs.arrowIndicator) { return; }

    const activeSwTab = (this.$refs.allTabs as SwTab[]).find(tab => (tab.active));
    if (activeSwTab && activeSwTab.$el) {
      const tabRect = domService.getOriginalBoundingRect(activeSwTab.$el as HTMLElement);
      if (this.$refs.activeL2Indicator) {
        const offsetParent = (this.$refs.activeL2Indicator as HTMLElement).offsetParent;
        if (offsetParent) {
          const parentRect = domService.getOriginalBoundingRect(offsetParent as HTMLElement);
          this.activeL2IndicatorStyle = {
            width: `${tabRect.width}px`,
            left: `${tabRect.left - parentRect.left}px`,
          };
        }
      }
      if (this.$refs.arrowIndicator) {
        const offsetParent = (this.$refs.arrowIndicator as HTMLElement).offsetParent;
        if (offsetParent) {
          const parentRect = domService.getOriginalBoundingRect(offsetParent as HTMLElement);
          const indicatorWidth = (this.$refs.arrowIndicator as HTMLElement).offsetWidth;
          this.arrowIndicatorStyle = {
            left: `${tabRect.left - parentRect.left + (tabRect.width - indicatorWidth) / 2}px`,
          };
        }
      }
    } else {
      this.activeL2IndicatorStyle = {};
      this.arrowIndicatorStyle = {};
    }
  }

  @Watch('activeTabId')
  @Watch('tabsContLeft')
  private delayUpdateIndicatorStyle() {
    this.$nextTick(() => {
      this.updateIndicatorStyle();
    });
  }

  @Watch('showMover')
  private watchShowMover(val: boolean) {
    if (!val) {
      this.tabsContLeft = 0;
    }
  }

  private normalizeTabProps(tabProps: TabProps): TabProps {
    const {
      tabId, label, icon, disabled, closable, innerRender,
    } = tabProps;
    return {
      tabId, label, icon, disabled, closable, innerRender,
    };
  }

  private tabStyle(index: number): CSSStyleOptions {
    if (this.tabParam.tabGutter === undefined) { return {}; }
    return {
      marginLeft: index === 0 ? undefined : `${this.tabParam.tabGutter}px`,
    };
  }

  private shouldShowMover(): boolean {
    return ((this.$el as HTMLElement).offsetWidth < (this.$refs.tabsCont as HTMLElement).offsetWidth);
  }

  private handleTabsContResize() {
    this.showMover = this.shouldShowMover();
    this.updateIndicatorStyle();
  }

  private onClickMover(dir: string) {
    const dist = 120 * (dir === 'backward' ? -1 : 1);
    const smallest = (this.$refs.cont as HTMLElement).offsetWidth - (this.$refs.tabsCont as HTMLElement).offsetWidth;
    this.tabsContLeft -= dist;
    if (this.tabsContLeft > 0) {
      this.tabsContLeft = 0;
    } else if (this.tabsContLeft < smallest) {
      this.tabsContLeft = smallest;
    }
  }

  private onMouseEnterTab(event: MouseEvent, tab: TabProps) {
    if (this.tabParam.level <= 1) { return; }
    if (tab.disabled) { return; }
    if (!this.$refs.hoverL2Indicator) { return; }
    const offsetParent = (this.$refs.hoverL2Indicator as HTMLElement).offsetParent;
    if (!offsetParent) { return; }

    const tabRect = domService.getOriginalBoundingRect(event.currentTarget as HTMLElement);
    const parentRect = domService.getOriginalBoundingRect(offsetParent as HTMLElement);
    this.hoverL2IndicatorStyle = {
      width: `${tabRect.width}px`,
      left: `${tabRect.left - parentRect.left}px`,
    };
  }

  private onMouseLeaveTab() {
    if (this.tabParam.level <= 1) { return; }
    this.hoverL2IndicatorStyle = {
      width: '0px',
    };
  }

  private mounted() {
    this.$nextTick(() => {
      this.showMover = this.shouldShowMover();
      this.updateIndicatorStyle();
      domService.resizeObserver.on(this.$refs.tabsContSizeSensor as HTMLElement, this.handleTabsContResize);
      domService.resizeObserver.on(this.$refs.contSizeSensor as HTMLElement, this.handleTabsContResize);
      domService.visibilityObserver.on(this.$el as HTMLElement, this.updateIndicatorStyle);
    });
  }

  private beforeDestroy() {
    domService.resizeObserver.off(this.$refs.tabsContSizeSensor as HTMLElement, this.handleTabsContResize);
    domService.resizeObserver.off(this.$refs.contSizeSensor as HTMLElement, this.handleTabsContResize);
    domService.visibilityObserver.off(this.$el as HTMLElement);
  }
}
</script>
