<style lang="scss">
.sw-tab {
  $cssPrefix: '.sw-tab';
  list-style: none;
  overflow: hidden;
  height: 40px;
  padding: 0 $padding-primary;
  border: 1px solid transparent;
  font-weight: $typo--nunito--font-weight-regular;
  font-size: 14px;
  color: $color--light--icon;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $color--light--text;
  }

  & + & {
    margin-left: $margin-primary-small;
  }

  &--disabled {
    color: $color--light--text-disabled;
    cursor: not-allowed;

    &:hover {
      color: $color--light--text-disabled;
    }
  }

  &--active {
    background-color: $color--light--background;
    color: $color--light--text;
    border-color: $color-selected;
    border-bottom-color: $color--light--background;
    border-radius: 6px 6px 0 0;
  }

  &--l2 {
    padding: 0;
    border: none;

    & + & {
      margin-left: $margin-primary-large;
    }

    &#{BEM_getParent()}--active {
      background-color: initial;
      border-color: transparent;
    }
  }

  &--vertical {
    min-width: 200px;
    border: 1px solid transparent;

    & + & {
      margin: 0;
    }

    &#{BEM_getParent()}--active {
      border-color: $color-selected;
      border-right-color: $color--light--background;
      border-radius: 6px 0 0 6px;
    }
  }

  &--customized {
    padding: 0;
    border: none;
    background-color: initial;
    height: auto;
  }

  &__inner {
    overflow: hidden;

    &__piece {
      & + & {
        margin-left: $margin-primary-small;
      }

      &__close-mark {
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &--dark {
    color: $color--light--icon;

    &#{$cssPrefix}:hover {
      color: $color-background-mat;
    }

    &#{$cssPrefix}--disabled {
      color: $color--dark--text-disabled;
      &:hover {
        color: $color--dark--text-disabled;
      }
    }

    &#{$cssPrefix}--active {
      background-color: $color--dark--background;
      color: $color-background-mat;
      border-bottom-color: $color--dark--background;
    }

    &#{$cssPrefix}--l2 {
      &#{$cssPrefix}--active {
        background-color: initial;
        border-color: transparent;
      }
    }

    &#{$cssPrefix}--vertical {
      &#{$cssPrefix}--active {
        border-color: $color-selected;
        border-right-color: $color--dark--background;
      }
    }
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwIcon } from '../sw-icon';
import { ProvidedTabParam, TabRenderFunction } from './types';

@Component({
  components: {
    SwIcon,
  },
})
export default class SwTab extends SwExtendedVue {
  @Prop({ type: String, required: true })
  tabId: string;

  @Prop(String)
  label: string;

  @Prop(String)
  icon: string;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, default: false })
  closable: boolean;

  @Prop({ type: Function })
  innerRender: TabRenderFunction;

  @Prop({ type: Boolean, default: false })
  active: boolean;

  @Inject()
  tabParam: ProvidedTabParam;

  @Inject()
  claimTabSelected: any;

  @Inject()
  claimTabClose: any;

  get effectiveIcon() {
    if (!this.icon) { return null; }
    const iconObj = { name: this.icon };
    return iconObj;
  }

  get isCustomizedRendering(): boolean {
    return !!this.innerRender && typeof this.innerRender === 'function';
  }

  onClickTab(event: MouseEvent) {
    event.preventDefault();
    if (this.disabled) { return; }
    this.claimTabSelected(this.tabId);
  }

  onClickClose(event: MouseEvent) {
    event.stopPropagation();
    event.preventDefault();
    if (this.disabled) { return; }
    this.claimTabClose(this.tabId);
  }

  /* tslint:disable-next-line */
  render(h: CreateElement): VNode {
    const tabNodes: VNode[] = [];

    if (this.isCustomizedRendering) {
      tabNodes.push(this.innerRender(h, {
        props: {
          tabId: this.tabId,
          label: this.label,
          icon: this.icon,
          disabled: this.disabled,
          closable: this.closable,
        },
        active: this.active,
      }));
    } else {
      if (!!this.effectiveIcon) {
        tabNodes.push(
          <span class={['sw-tab__inner__piece']}>
            <sw-icon name={this.effectiveIcon.name} size="small" as-block></sw-icon>
          </span> as VNode,
        );
      }
      if (this.label) {
        tabNodes.push(
          <span class={['sw-tab__inner__piece', 'sw-flexbox__flex', 'sw-flexbox', 'sw-flexbox--center-justify']}>
            <span>{ this.label }</span>
          </span> as VNode,
        );
      }
      if (this.closable) {
        tabNodes.push(
          <span class={['sw-tab__inner__piece']}>
            <sw-icon class="sw-tab__inner__piece__close-mark"
              name="close"
              size="xsmall"
              as-block
              nativeOnClick={this.onClickClose}
            ></sw-icon>
          </span> as VNode,
        );
      }
    }

    const rootNode = (
      <li class={['sw-tab', `sw-tab--${this.tabParam.theme}`, `sw-tab--l${this.tabParam.level}`, 'sw-flexbox',
        {
          'sw-tab--disabled': this.disabled,
          'sw-tab--active': this.active,
          'sw-tab--vertical': this.tabParam.vertical,
          'sw-tab--customized': this.isCustomizedRendering,
        }]}
        onClick={this.onClickTab}
      >
        <div class={['sw-tab__inner', 'sw-flexbox', 'sw-flexbox--center-items']}>
          {tabNodes}
        </div>
      </li>
    );

    return rootNode as VNode;
  }
}
</script>
