<template>
<div :class="['sw-tab-page']">
  <div :class="['sw-tab-page__inner', { 'sw-tab-page__inner--no-padding': noPadding }]">
    <slot></slot>
  </div>
</div>
</template>

<style lang="scss">
.sw-tab-page {
  overflow: visible;

  &__inner {
    padding: $padding-primary;

    &--no-padding {
      padding: 0;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

@Component
export default class SwTabPage extends SwExtendedVue {
  @Prop({ type: String, required: true })
  tabId: string;

  @Prop({ type: Boolean, default: false })
  noPadding: boolean;
}
</script>
