<style lang="scss">
.sw-popover {
  $cssPrefix: '.sw-popover';
  $size-regular: 15px;

  overflow: visible;
  color: $color--dark--text;
  z-index: $zindex-popper-popover;

  &__board {
    overflow: hidden;
    background-color: $color--dark--background;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba($color-default, .35);

    &__title {
      padding: 10px 10px 10px 20px;
      height: 45px;
      font-weight: $typo--nunito--font-weight-extra-light;
      font-size: 16px;
      color: $color--dark--text;
      background-color: $color--dark--highlight;

      &--customized {
        height: auto;
        min-height: 45px;
        padding: 0;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: uppercase;
      }

      &__close {
        width: 25px;
        height: 25px;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: $color--dark--icon-hover;
        }
        &:active {
          color: $color-selected-text;
          background-color: $color-selected;
          border-radius: 50%;
        }
      }
    }

    &__content {
      padding: $padding-primary;

      &--no-padding {
        padding: 0;
      }
    }
  }

  &__arrow {
    width: 0;
    height: 0;
    border: $size-regular solid transparent;
    position: absolute;
  }

  &[x-placement^=top] {
    padding-bottom: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-bottom-width: 0;
      border-top-color: $color--dark--background;
      bottom: 0;
      left: calc(50% - #{$size-regular});
    }
  }

  &[x-placement^=right] {
    padding-left: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-left-width: 0;
      border-right-color: $color--dark--background;
      left: 0;
      top: calc(50% - #{$size-regular});
    }
  }

  &[x-placement^=bottom] {
    padding-top: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-top-width: 0;
      border-bottom-color: $color--dark--highlight;
      top: 0;
      left: calc(50% - #{$size-regular});

      &--no-header {
        border-bottom-color: $color--dark--background;
      }
    }
  }

  &[x-placement^=left] {
    padding-right: $size-regular;

    & > #{$cssPrefix}__arrow {
      border-right-width: 0;
      border-left-color: $color--dark--background;
      right: 0;
      top: calc(50% - #{$size-regular});
    }
  }
}
</style>

<script lang="tsx">
import { CreateElement, VNode } from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SwIcon } from '../sw-icon';
import { CSSStyleOptions, VueRenderFunction } from '../common-types';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';

@Component({
  components: {
    SwIcon,
  },
})
export default class SwPopover extends SwExtendedVue {
  @Prop({ type: Number, default: 200 })
  maxWidth: number;

  @Prop({ type: Number, default: 180 })
  maxHeight: number;

  @Prop({ type: Boolean, default: true })
  withCloseIcon: boolean;

  @Prop({ type: [String, Function] })
  title: string | VueRenderFunction;

  @Prop({ type: Function })
  onRequestClose: () => void;

  @Prop({ type: Boolean, default: false })
  noPadding: boolean;

  cssPrefix: string = 'sw-popover';

  get boardStyle(): CSSStyleOptions {
    return {
      maxHeight: `${this.maxHeight}px`,
      maxWidth: `${this.maxWidth}px`,
    };
  }

  get showHeader(): boolean {
    return !!this.title || this.withCloseIcon;
  }

  onClickClose() {
    if (this.onRequestClose) {
      this.onRequestClose();
    }
  }

  render(h: CreateElement): VNode {// tslint:disable-line
    let headerNode: JSX.Element | null = null;

    if (this.showHeader) {
      const useCustomizedTitle = typeof this.title === 'function';
      headerNode = (
        <div
          class={[
            `${this.cssPrefix}__board__title`,
            {
              [`${this.cssPrefix}__board__title--customized`]: useCustomizedTitle,
              'sw-flexbox': !useCustomizedTitle,
              'sw-flexbox--center-items': !useCustomizedTitle,
            },
          ]}
        >
        {
          useCustomizedTitle ? (
            (this.title as VueRenderFunction)(h)
          ) : [
            <span class={[`${this.cssPrefix}__board__title__text`, 'sw-flexbox__flex']}>{ this.title }</span>,
            this.withCloseIcon ? (
              <div class={[`${this.cssPrefix}__board__title__close`, 'sw-flexbox__flex-none',
                'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']}
                onClick={this.onClickClose}
              >
                <sw-icon name="close-thin" size={13} />
              </div>
            ) : undefined,
          ]
        }
        </div>
      );
    }
    const rootNode = (
      <div class={[`${this.cssPrefix}`, 'sw-typo-default']}>
        <div class={[`${this.cssPrefix}__board`]} style={this.boardStyle}>
          {headerNode}
          <div class={[`${this.cssPrefix}__board__content`, { [`${this.cssPrefix}__board__content--no-padding`]: this.noPadding }]}>
            <div class={[`${this.cssPrefix}__board__content__inner`]}>{utilService.getVueScopedSlot(this.$scopedSlots)}</div>
          </div>
        </div>
        <div class={[`${this.cssPrefix}__arrow`, { [`${this.cssPrefix}__arrow--no-header`]: !this.showHeader }]} x-arrow></div>
      </div>
    );

    return rootNode as VNode;
  }
}
</script>
