<template>
  <div :class="['sw-action-bar', 'sw-flexbox']">
    <slot>No Actions</slot>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

@Component
export default class SwActionBar extends SwExtendedVue {
}
</script>
