<template>
  <div :class="['sw-action-bar-item', 'sw-flexbox__flex-none',
    'sw-flexbox', 'sw-flexbox--center-items']"
  >
    <slot>No Item</slot>
  </div>
</template>

<style lang="scss">
.sw-action-bar-item {
  overflow: visible;

  & + & {
    margin-left: $margin-primary-small;
  }
}
</style>


<script lang="ts">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

@Component
export default class SwActionBarItem extends SwExtendedVue {
}
</script>
