<template>
<div :class="['sw-checkbox',
    {'sw-checkbox--block': asBlock},
    {'sw-checkbox--disabled': disabled},
    {'sw-checkbox--margin': withMargin === true},
  ]"
  :style="{ margin: typeof(withMargin) === 'number' ? `${withMargin}px` : undefined }"
>
  <div
    :class="[
      'sw-flexbox',
      'sw-flexbox--center-items',
    ]"
  >
    <input
      type="checkbox"
      :class="['sw-checkbox__checkbox']"
      :name="name"
      :disabled="disabled"
      :checked="effectiveChecked"
      :value="value"
    />
    <div :class="['sw-checkbox__box', 'sw-flexbox__flex-none',
        'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify'
      ]"
      :tabindex="disabled ? undefined : 0"
      @click="onClickBox"
    >
      <div :class="['sw-checkbox__box__mark', {'sw-checkbox__box__mark--no': !showMarkIcon}]">
        <sw-icon :name="markIcon" :size="12" as-block></sw-icon>
      </div>
    </div>
    <div :class="['sw-checkbox__label', 'sw-flexbox__flex',
        { 'sw-checkbox__label--no-wrap': labelNoWrap }
      ]"
      v-if="hasLabel()"
      @click="onClickLabel"
    ><slot></slot></div>
  </div>
</div>
</template>

<style lang="scss">
.sw-checkbox {
  display: inline-block;
  vertical-align: text-bottom;

  &--block {
    display: block;
  }

  &--margin {
    margin: $margin-primary-small;
  }

  &--disabled {
    #{BEM_getParent()}__box {
      border-color: $color--light--text-disabled;
      background-color: $color--light--highlight;
      color: $color--light--text-disabled;
      cursor: not-allowed;

      &:hover {
        border-color: $color--light--text-disabled;
      }
    }

    #{BEM_getParent()}__label {
      color: $color--light--text-disabled;
    }
  }

  &__checkbox {
    display: none;
    vertical-align: bottom;
  }

  &__box {
    width: 19px;
    height: 19px;
    border: 1px solid $color--light--icon;
    border-radius: 3px;
    background-color: $color-background-mat;
    color: $color-selected;
    cursor: pointer;
    user-select: none;

    &:hover {
      border-color: $color--light--icon-hover;
    }

    &:focus {
      outline: none;
      @include focus-shadow;
    }

    &__mark {
      &--no {
        opacity: 0;
      }
    }
  }

  &__label {
    font-size: 13px;
    font-weight: $typo--nunito--font-weight-regular;
    margin-left: $margin-primary-small;

    &--no-wrap {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Model } from 'vue-property-decorator';
import { SwIcon } from '../sw-icon';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';

/**
 * Controlled checkbox whose checked state fully depends on the input `checked`
 */
@Component({
  components: {
    SwIcon,
  },
})
export default class SwCheckbox extends SwExtendedVue {
  @Prop({ type: String, required: true })
  name: string;

  @Prop({ default: false, type: [Boolean, String, Array] })
  @Model('change')
  checked: boolean | 'semi' | any[];

  @Prop({ default: 'on', type: [String, Number, Boolean] })
  value: string | number | boolean;

  @Prop({ type: Boolean, default: false })
  alwaysSubmit: boolean;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, default: true })
  clickableLabel: boolean;

  @Prop({ type: Boolean, default: false })
  asBlock: boolean;

  @Prop({ default: false, type: [Boolean, Number] })
  withMargin: boolean | number;

  @Prop({ default: false, type: Boolean })
  labelNoWrap: boolean;

  get effectiveChecked(): boolean {
    if (typeof this.checked === 'boolean') { return this.checked; }
    if (this.checked === 'semi') { return false; }
    if (Array.isArray(this.checked)) {
      return this.checked.includes(this.value);
    }
    return false;
  }

  get markIcon(): string {
    if (this.checked === 'semi') { return 'partially-selected'; }
    return 'checkmark';
  }

  get showMarkIcon(): boolean {
    return this.effectiveChecked || (this.checked === 'semi');
  }

  hasLabel(): boolean {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots);
    return slot.length > 0;
  }

  onClickBox() {
    if (this.disabled) { return; }
    let valueToEmit: boolean | any[] = false;
    if (Array.isArray(this.checked)) {
      valueToEmit = this.checked.slice();
      if (this.effectiveChecked) {
        const index = valueToEmit.indexOf(this.value);
        if (index >= 0) {
          valueToEmit.splice(index, 1);
        }
      } else {
        valueToEmit.push(this.value);
      }
    } else {
      valueToEmit = !this.effectiveChecked;
    }
    this.$emit('change', valueToEmit);
  }

  onClickLabel() {
    if (this.clickableLabel) {
      this.onClickBox();
    }
  }
}
</script>
