<template>
<div :class="[`${cssPrefix}`, `${cssPrefix}--${theme}`,
    'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items', 'sw-typo-default',
    {
      [`${cssPrefix}--explicit-width`]: !!barWidth,
      [`${cssPrefix}--no-border`]: effectiveNoBorder,
    },
  ]"
>
  <div :class="[`${cssPrefix}__base`, !barWidth ? 'sw-flexbox__flex' : 'sw-flexbox__flex-none']" :style="baseStyle">
    <div :class="[`${cssPrefix}__progress`]" :style="progressStyle"></div>
  </div>
  <div v-if="withLabel" :class="[`${cssPrefix}__label`, 'sw-flexbox__flex-none']">{{ progressPercentage }}%</div>
</div>
</template>

<style lang="scss">
.sw-bar-progress {
  $cssPrefix: '.sw-bar-progress';
  min-width: 110px;

  &--explicit-width {
    min-width: initial;
  }

  &--no-border {
    #{BEM_getParent()}__base {
      height: 6px;
      border: none;
      background-color: $color--light--highlight;
    }
  }

  &--dark {
    &#{BEM_getParent()}--no-border {
      #{$cssPrefix}__base {
        background-color: $color--dark--background;
      }
    }
    #{BEM_getParent()}__base {
      background-color: #282828;
      border-color: $color--dark--base-2;
    }
    #{BEM_getParent()}__label {
      color: $color--dark--text;
    }
  }

  &__base {
    height: 7px;
    border: 1px solid $color--dark--border-2;
    border-radius: 4px;
    background-color: $color-background-mat;
    overflow: hidden;
  }

  &__progress {
    height: 100%;
    transition: width 150ms ease;
  }

  &__label {
    font-size: 12px;
    color: $color--dark--slider;
    font-weight: $typo--nunito--font-weight-semi-bold;
    margin-left: $margin-primary-small;
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';
import { SwExtendedVue } from '../sw-extended-vue';

const cssPrefix = 'sw-bar-progress';

@Component({
  components: {},
})
export default class SwBarProgress extends SwExtendedVue {
  @Prop({ type: Number, default: 0 })
  value: number;

  @Prop({ type: Number, default: 100 })
  max: number;

  @Prop({ type: Boolean, default: true })
  withLabel: boolean;

  @Prop({ type: Number, default: undefined })
  barWidth: number | undefined;

  @Prop({ type: Boolean, default: undefined })
  noBorder: boolean;

  @Prop({ type: String, default: utilService.colorConst.statusSuccess })
  color: string;

  @Prop({ type: String })
  baseColor: string;

  @Prop({ type: String, default: 'light' })
  theme: 'light' | 'dark';

  cssPrefix = cssPrefix;

  /** two digits after point if exist */
  get progressPercentage(): number {
    return Math.floor(this.value * 100 * 100 / this.max) / 100;
  }

  get progressStyle(): CSSStyleOptions {
    return {
      width: `${this.progressPercentage}%`,
      backgroundColor: this.color,
    };
  }

  get baseStyle(): CSSStyleOptions {
    return {
      width: !!this.barWidth ? `${this.barWidth}px` : undefined,
      backgroundColor: this.baseColor || undefined,
    };
  }

  get effectiveNoBorder(): boolean {
    if (typeof this.noBorder === 'boolean') { return this.noBorder; }
    return this.theme === 'dark';
  }
}
</script>
