<template>
<div :class="[`${cssPrefix}`, 'sw-typo-default']">
  <div :class="[`${cssPrefix}__base`]" :style="baseStyle">
    <span v-for="(discreetValue, index) in discreetValues" :key="index"
      :class="[
        `${cssPrefix}__base__value`,
        {
          [`${cssPrefix}__base__value--active`]: discreetValue.value === value && index !== discreetValues.length - 1,
          [`${cssPrefix}__base__value--final`]: index === discreetValues.length - 1 && discreetValue.value === value,
        },
      ]"
    >{{discreetValue.value}}</span>
  </div>
</div>
</template>

<style lang="scss">
.sw-discreet-progress {
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;

  &__base {
    overflow: hidden;
    padding: 2px 4px 2px 4px;

    &__value + &__value {
      margin-left: 6px;
    }

    &__value {
      font-size: 18px;
      color: rgba($color-default, 0.1);

      &--active {
        color: $color-default;
      }

      &--final {
        color: $color-background-mat;
        font-weight: $typo--nunito--font-weight-bold;
      }
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';
import { DiscreetProgressValue } from './types';

const cssPrefix = 'sw-discreet-progress';

@Component({
  components: {},
})
export default class SwDiscreetProgress extends SwExtendedVue {
  @Prop({ type: Number, required: true })
  value: number;

  @Prop({ type: Array, default(): DiscreetProgressValue[] {
    return [
      { value: 5, color: utilService.colorConst.statusNormal },
      { value: 4, color: utilService.colorConst.statusLow },
      { value: 3, color: utilService.colorConst.statusMinor },
      { value: 2, color: utilService.colorConst.statusMajor },
      { value: 1, color: utilService.colorConst.statusHigh },
    ];
  } })
  discreetValues: DiscreetProgressValue[];

  cssPrefix = cssPrefix;

  get discreetBacgroundColor() {
    const discreetValue = this.discreetValues.find(x => x.value === this.value);
    if (discreetValue) {
      return discreetValue.color;
    }
    return 'black';
  }

  get baseStyle(): CSSStyleOptions {
    return {
      backgroundColor: this.discreetBacgroundColor,
    };
  }
}
</script>
