<template>
<div :class="[`${cssPrefix}`, 'sw-flexbox', 'sw-flexbox--inline', 'sw-flexbox--center-items', 'sw-typo-default']">
  <div :class="[`${cssPrefix}__base`, 'sw-flexbox__flex-none', 'sw-flexbox']">
    <span :class="[`${cssPrefix}__stick`, 'sw-flexbox__flex-none']"
      v-for="i in (1, max)"
      :key="i"
      :style="unitStyle(i)"
    ></span>
  </div>
  <div v-if="withLabel" :class="[`${cssPrefix}__label`, 'sw-flexbox__flex-none']">{{ progressPercentage }}%</div>
</div>
</template>

<style lang="scss">
.sw-stick-progress {
  &__base {
    overflow: hidden;
  }

  &__stick {
    width: 6px;
    height: 28px;
    background-color: #191919;
    border-radius: 3px;
  }

  &__stick + &__stick {
    margin-left: 7px;
  }

  &__label {
    font-size: 12px;
    color: $color--dark--slider;
    font-weight: $typo--nunito--font-weight-semi-bold;
    margin-left: $margin-primary-small;
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { CSSStyleOptions } from '../common-types';
import { utilService } from '../util-service';

const cssPrefix = 'sw-stick-progress';

@Component({
  components: {},
})
export default class SwStickProgress extends SwExtendedVue {
  @Prop({ type: Number, default: 0 })
  value: number;

  @Prop({ type: Number, default: 10 })
  max: number;

  @Prop({ type: Boolean, default: false })
  withLabel: boolean;

  @Prop({ type: String, default: utilService.colorConst.selected })
  color: string;

  cssPrefix = cssPrefix;

  /** two digits after point if exist */
  get progressPercentage(): number {
    return Math.floor(this.value * 100 * 100 / this.max) / 100;
  }

  private unitStyle(index: number): CSSStyleOptions {
    return {
      backgroundColor: index <= this.value ? this.color : undefined,
    };
  }
}
</script>
