<template>
<div class="sw-spinning-progress" :style=" { width: size, height: size } ">
  <div
    v-for="index in pieces"
    :key="index"
    class="sw-spinning-progress__circle"
    :style="{ 'transform': rotate(index), 'animation-delay': animationDelay( index ) }"
  >
    <svg style="width:100%; height: 100%;" viewBox="0 0 128 128" >
      <ellipse cx="64" cy="18.75" rx="6.25" ry="18.75" :fill="color" />
    </svg>
  </div>
</div>
</template>

<style lang="scss">

.sw-spinning-progress {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &__circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sw-spinning-progress__animation .9s infinite ease-in-out both;
  }
}

@keyframes sw-spinning-progress__animation {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
</style>

<script lang="ts">
import { Prop, Component } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';

@Component({})
export default class SwSpinningProgress extends SwExtendedVue {
  @Prop({ type: String, default: '16px' })
  size: string;

  @Prop({ type: String, default: '#A9A9A9' })
  color: string;

  pieces: number = 12;

  get timeInterval(): number {
    return 0.9 / this.pieces;
  }

  private rotate(index: number) {
    return `rotate(${(index - 1) * 30}deg)`;
  }

  private animationDelay(index: number) {
    return `${-(this.pieces - (index - 1)) * 0.075}s`;
  }

}
</script>
