<template>
  <sw-nav :class="[`${cssPrefix}`]"
    :accordion="false"
    :selected="selectedNavItemId"
    :with-logo="true"
    :with-push-menu="false"
    :with-collapse-trigger="false"
    :collapsed="navCollapsed"
    :nav-color="navColor"
    :size="navSize"
    :nav-data="navData"
    @select="onSelectNavItem"
    @request-change-collapsed="onToggleNavCollapseTrigger"
  >
    <template v-if="navData">
      <template v-for="menu in navData.children">
        <sw-nav-section-divider v-if="menu.type === 'section-divider'" :key="menu.navId" :title="$t(menu.textI18nPath)">
        </sw-nav-section-divider>

        <sw-nav-item v-else-if="!menu.children" :key="menu.navId" :navId="menu.navId" :offset-level="0">
          <template #icon><sw-icon :name="menu.icon" :size="navSize === 'compact' ? 18 : 24" :style="{color: navColor}"></sw-icon></template>
          <span>{{ $t(menu.textI18nPath) }}</span>
        </sw-nav-item>

        <sw-nav-group v-else :key="menu.navId" :nav-id="menu.navId" :offset-level="0">
          <template #title-icon><sw-icon :name="menu.icon" :size="navSize === 'compact' ? 18 : 24" :style="{color: navColor}"></sw-icon></template>
          <template #title-content><span>{{ $t(menu.textI18nPath) }}</span></template>
          <template v-for="firstSubMenu in menu.children">
            <sw-nav-item v-if="!firstSubMenu.children" :key="firstSubMenu.navId" :navId="firstSubMenu.navId" :offset-level="1">
              <template #icon><sw-icon :name="firstSubMenu.icon" :size="navSize === 'compact' ? 12 : 16"></sw-icon></template>
              <span>{{ $t(firstSubMenu.textI18nPath) }}</span>
            </sw-nav-item>
          </template>
        </sw-nav-group>
      </template>
    </template>
  </sw-nav>
</template>

<style lang="scss">
.sw-app-nav {
  &__app-name {
    padding: 0 0 $padding-primary/2 0;
    font-size: 16px;
    font-weight: $typo--nunito--font-weight-regular;
    text-transform: uppercase;
  }
}
</style>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { State, Mutation } from 'vuex-class';
import { SwExtendedVue } from '@/shared/sw-extended-vue';
import { VuexMappedMutation } from '@/shared/common-types';
import { SwNav, SwNavGroup, SwNavItem, SwNavSectionDivider } from '@/shared/sw-nav';
import { SwIcon } from '@/shared/sw-icon';
import { CoreStoreState, SetNavCollapsedPayload } from '@/core';
import { RootStoreState } from '@/store';
import { navService } from '@/shared/nav-service';

const cssPrefix = 'sw-app-nav';

@Component({
  components: {
    SwNavGroup,
    SwNavItem,
    SwNavSectionDivider,
    SwNav,
    SwIcon,
  },
})
export default class SwAppNav extends SwExtendedVue {
  cssPrefix = cssPrefix;
  @State((state: RootStoreState) => state.CoreStoreModule.navCollapsed)
  navCollapsed: CoreStoreState['navCollapsed'];

  @State((state: RootStoreState) => state.CoreStoreModule.selectedTopTabItemId)
  selectedTopTabItemId: CoreStoreState['selectedTopTabItemId'];

  @State((state: RootStoreState) => state.CoreStoreModule.selectedNavItemId)
  selectedNavItemId: CoreStoreState['selectedNavItemId'];

  @Mutation
  selectNavItem: VuexMappedMutation<any>;

  @Mutation
  setNavCollapsed: VuexMappedMutation<SetNavCollapsedPayload>;

  navSize: string = 'default';

  get navData() {
    const data = navService.tabNavItems.find(item => (item.navId === this.selectedTopTabItemId));
    return data ? data.navTree : null;
  }

  get navColor() {
    const data = navService.tabNavItems.find(item => (item.navId === this.selectedTopTabItemId));
    return data ? data.color : 'black';
  }

  onSelectNavItem(navId: string) {
    const result = navService.getNavNode(navId);
    if (result && result.resNode && result.resNode.route) {
      this.$router.push(result.resNode.route);
    }
  }

  onToggleNavCollapseTrigger() {
    this.setNavCollapsed({ collapse: !this.navCollapsed });
  }
}
</script>
