.sw-country-icon {
  &--country-0, &--country-0 {
    background-image: url('./assets/images/flags/Unknown.png');
  }
  &--country-\$A1 {
    background-image: url('./assets/images/flags/Anonymous-Proxy.png');
  }
  &--country-\$A2 {
    background-image: url('./assets/images/flags/Satellite-Provider.png');
  }
  &--country-3, &--country-AD {
    background-image: url('./assets/images/flags/Andorra.png');
  }
  &--country-4, &--country-AE {
    background-image: url('./assets/images/flags/United-Arab-Emirates.png');
  }
  &--country-5, &--country-AF {
    background-image: url('./assets/images/flags/Afghanistan.png');
  }
  &--country-6, &--country-AG {
    background-image: url('./assets/images/flags/Antigua-and-Barbuda.png');
  }
  &--country-7, &--country-AI {
    background-image: url('./assets/images/flags/Anguilla.png');
  }
  &--country-8, &--country-AL {
    background-image: url('./assets/images/flags/Albania.png');
  }
  &--country-9, &--country-AM {
    background-image: url('./assets/images/flags/Armenia.png');
  }
  &--country-10, &--country-AN {
    background-image: url('./assets/images/flags/Netherlands-Antilles.png');
  }
  &--country-11, &--country-AO {
    background-image: url('./assets/images/flags/Angola.png');
  }
  &--country-\$AP {
    background-image: url('./assets/images/flags/Unknown.png');
  }
  &--country-13, &--country-AQ {
    background-image: url('./assets/images/flags/Antarctica.png');
  }
  &--country-14, &--country-AR {
    background-image: url('./assets/images/flags/Argentina.png');
  }
  &--country-15, &--country-AS {
    background-image: url('./assets/images/flags/American-Samoa.png');
  }
  &--country-16, &--country-AT {
    background-image: url('./assets/images/flags/Austria.png');
  }
  &--country-17, &--country-AU {
    background-image: url('./assets/images/flags/Australia.png');
  }
  &--country-18, &--country-AW {
    background-image: url('./assets/images/flags/Aruba.png');
  }
  &--country-19, &--country-AX {
    background-image: url('./assets/images/flags/Aland.png');
  }
  &--country-20, &--country-AZ {
    background-image: url('./assets/images/flags/Azerbaijan.png');
  }
  &--country-21, &--country-BA {
    background-image: url('./assets/images/flags/Bosnia-and-Herzegovina.png');
  }
  &--country-22, &--country-BB {
    background-image: url('./assets/images/flags/Barbados.png');
  }
  &--country-23, &--country-BD {
    background-image: url('./assets/images/flags/Bangladesh.png');
  }
  &--country-24, &--country-BE {
    background-image: url('./assets/images/flags/Belgium.png');
  }
  &--country-25, &--country-BF {
    background-image: url('./assets/images/flags/Burkina-Faso.png');
  }
  &--country-26, &--country-BG {
    background-image: url('./assets/images/flags/Bulgaria.png');
  }
  &--country-27, &--country-BH {
    background-image: url('./assets/images/flags/Bahrain.png');
  }
  &--country-28, &--country-BI {
    background-image: url('./assets/images/flags/Burundi.png');
  }
  &--country-29, &--country-BJ {
    background-image: url('./assets/images/flags/Benin.png');
  }
  &--country-BL {
    background-image: url('./assets/images/flags/Saint-Barthelemy.png');
  }
  &--country-30, &--country-BM {
    background-image: url('./assets/images/flags/Bermuda.png');
  }
  &--country-31, &--country-BN {
    background-image: url('./assets/images/flags/Brunei.png');
  }
  &--country-32, &--country-BO {
    background-image: url('./assets/images/flags/Bolivia.png');
  }
  &--country-BQ {
    background-image: url('./assets/images/flags/Bonaire-Saint-Eustatius-and-Saba.png');
  }
  &--country-33, &--country-BR {
    background-image: url('./assets/images/flags/Brazil.png');
  }
  &--country-34, &--country-BS {
    background-image: url('./assets/images/flags/Bahamas.png');
  }
  &--country-35, &--country-BT {
    background-image: url('./assets/images/flags/Bhutan.png');
  }
  &--country-BV {
    background-image: url('./assets/images/flags/Bouvet-Island.png');
  }
  &--country-37, &--country-BW {
    background-image: url('./assets/images/flags/Botswana.png');
  }
  &--country-38, &--country-BY {
    background-image: url('./assets/images/flags/Belarus.png');
  }
  &--country-39, &--country-BZ {
    background-image: url('./assets/images/flags/Belize.png');
  }
  &--country-40, &--country-CA {
    background-image: url('./assets/images/flags/Canada.png');
  }
  &--country-41, &--country-CC {
    background-image: url('./assets/images/flags/Cocos-Keeling-Islands.png');
  }
  &--country-42, &--country-CD {
    background-image: url('./assets/images/flags/Democratic-Republic-of-the-Congo.png');
  }
  &--country-43, &--country-CF {
    background-image: url('./assets/images/flags/Central-African-Republic.png');
  }
  &--country-44, &--country-CG {
    background-image: url('./assets/images/flags/Republic-of-the-Congo.png');
  }
  &--country-45, &--country-CH {
    background-image: url('./assets/images/flags/Switzerland.png');
  }
  &--country-46, &--country-CI {
    background-image: url('./assets/images/flags/Cote-dIvoire.png');
  }
  &--country-47, &--country-CK {
    background-image: url('./assets/images/flags/Cook-Islands.png');
  }
  &--country-48, &--country-CL {
    background-image: url('./assets/images/flags/Chile.png');
  }
  &--country-49, &--country-CM {
    background-image: url('./assets/images/flags/Cameroon.png');
  }
  &--country-50, &--country-CN {
    background-image: url('./assets/images/flags/China.png');
  }
  &--country-51, &--country-CO {
    background-image: url('./assets/images/flags/Colombia.png');
  }
  &--country-52, &--country-CR {
    background-image: url('./assets/images/flags/Costa-Rica.png');
  }
  &--country-53, &--country-CU {
    background-image: url('./assets/images/flags/Cuba.png');
  }
  &--country-54, &--country-CV {
    background-image: url('./assets/images/flags/Cape-Verde.png');
  }
  &--country-55, &--country-CX {
    background-image: url('./assets/images/flags/Christmas-Island.png');
  }
  &--country-56, &--country-CY {
    background-image: url('./assets/images/flags/Cyprus.png');
  }
  &--country-57, &--country-CZ {
    background-image: url('./assets/images/flags/Czech-Republic.png');
  }
  &--country-58, &--country-DE {
    background-image: url('./assets/images/flags/Germany.png');
  }
  &--country-59, &--country-DJ {
    background-image: url('./assets/images/flags/Djibouti.png');
  }
  &--country-60, &--country-DK {
    background-image: url('./assets/images/flags/Denmark.png');
  }
  &--country-61, &--country-DM {
    background-image: url('./assets/images/flags/Dominica.png');
  }
  &--country-62, &--country-DO {
    background-image: url('./assets/images/flags/Dominican-Republic.png');
  }
  &--country-63, &--country-DZ {
    background-image: url('./assets/images/flags/Algeria.png');
  }
  &--country-64, &--country-EC {
    background-image: url('./assets/images/flags/Ecuador.png');
  }
  &--country-65, &--country-EE {
    background-image: url('./assets/images/flags/Estonia.png');
  }
  &--country-66, &--country-EG {
    background-image: url('./assets/images/flags/Egypt.png');
  }
  &--country-67, &--country-EH {
    background-image: url('./assets/images/flags/Western-Sahara.png');
  }
  &--country-68, &--country-ER {
    background-image: url('./assets/images/flags/Eritrea.png');
  }
  &--country-69, &--country-ES {
    background-image: url('./assets/images/flags/Spain.png');
  }
  &--country-70, &--country-ET {
    background-image: url('./assets/images/flags/Ethiopia.png');
  }
  &--country-71, &--country-EU {
    background-image: url('./assets/images/flags/European-Union.png');
  }
  &--country-72, &--country-FI {
    background-image: url('./assets/images/flags/Finland.png');
  }
  &--country-73, &--country-FJ {
    background-image: url('./assets/images/flags/Fiji.png');
  }
  &--country-74, &--country-FK {
    background-image: url('./assets/images/flags/Falkland-Islands.png');
  }
  &--country-75, &--country-FM {
    background-image: url('./assets/images/flags/Micronesia.png');
  }
  &--country-76, &--country-FO {
    background-image: url('./assets/images/flags/Faroes.png');
  }
  &--country-77, &--country-FR {
    background-image: url('./assets/images/flags/France.png');
  }
  &--country-78, &--country-GA {
    background-image: url('./assets/images/flags/Gabon.png');
  }
  &--country-79, &--country-GB {
    background-image: url('./assets/images/flags/United-Kingdom.png');
  }
  &--country-80, &--country-GD {
    background-image: url('./assets/images/flags/Grenada.png');
  }
  &--country-81, &--country-GE {
    background-image: url('./assets/images/flags/Georgia.png');
  }
  &--country-GF {
    background-image: url('./assets/images/flags/French-Guiana.png');
  }
  &--country-83, &--country-GG {
    background-image: url('./assets/images/flags/Guernsey.png');
  }
  &--country-84, &--country-GH {
    background-image: url('./assets/images/flags/Ghana.png');
  }
  &--country-85, &--country-GI {
    background-image: url('./assets/images/flags/Gibraltar.png');
  }
  &--country-86, &--country-GL {
    background-image: url('./assets/images/flags/Greenland.png');
  }
  &--country-87, &--country-GM {
    background-image: url('./assets/images/flags/Gambia.png');
  }
  &--country-88, &--country-GN {
    background-image: url('./assets/images/flags/Guinea.png');
  }
  &--country-GP {
    background-image: url('./assets/images/flags/Guadeloupe.png');
  }
  &--country-90, &--country-GQ {
    background-image: url('./assets/images/flags/Equatorial-Guinea.png');
  }
  &--country-91, &--country-GR {
    background-image: url('./assets/images/flags/Greece.png');
  }
  &--country-92, &--country-GS {
    background-image: url('./assets/images/flags/South-Georgia-and-the-South-Sandwich-Islands.png');
  }
  &--country-93, &--country-GT {
    background-image: url('./assets/images/flags/Guatemala.png');
  }
  &--country-94, &--country-GU {
    background-image: url('./assets/images/flags/Guam.png');
  }
  &--country-95, &--country-GW {
    background-image: url('./assets/images/flags/Guinea-Bissau.png');
  }
  &--country-96, &--country-GY {
    background-image: url('./assets/images/flags/Guyana.png');
  }
  &--country-97, &--country-HK {
    background-image: url('./assets/images/flags/Hong-Kong.png');
  }
  &--country-HM {
    background-image: url('./assets/images/flags/Heard-Island-and-McDonald-Island.png');
  }
  &--country-99, &--country-HN {
    background-image: url('./assets/images/flags/Honduras.png');
  }
  &--country-100, &--country-HR {
    background-image: url('./assets/images/flags/Croatia.png');
  }
  &--country-101, &--country-HT {
    background-image: url('./assets/images/flags/Haiti.png');
  }
  &--country-102, &--country-HU {
    background-image: url('./assets/images/flags/Hungary.png');
  }
  &--country-103, &--country-ID {
    background-image: url('./assets/images/flags/Indonesia.png');
  }
  &--country-104, &--country-IE {
    background-image: url('./assets/images/flags/Ireland.png');
  }
  &--country-105, &--country-IL {
    background-image: url('./assets/images/flags/Israel.png');
  }
  &--country-106, &--country-IM {
    background-image: url('./assets/images/flags/Isle-of-Man.png');
  }
  &--country-107, &--country-IN {
    background-image: url('./assets/images/flags/India.png');
  }
  &--country-IO {
    background-image: url('./assets/images/flags/British-Indian-Ocean-Territory.png');
  }
  &--country-109, &--country-IQ {
    background-image: url('./assets/images/flags/Iraq.png');
  }
  &--country-110, &--country-IR {
    background-image: url('./assets/images/flags/Iran.png');
  }
  &--country-111, &--country-IS {
    background-image: url('./assets/images/flags/Iceland.png');
  }
  &--country-112, &--country-IT {
    background-image: url('./assets/images/flags/Italy.png');
  }
  &--country-113, &--country-JE {
    background-image: url('./assets/images/flags/Jersey.png');
  }
  &--country-114, &--country-JM {
    background-image: url('./assets/images/flags/Jamaica.png');
  }
  &--country-115, &--country-JO {
    background-image: url('./assets/images/flags/Jordan.png');
  }
  &--country-116, &--country-JP {
    background-image: url('./assets/images/flags/Japan.png');
  }
  &--country-117, &--country-KE {
    background-image: url('./assets/images/flags/Kenya.png');
  }
  &--country-118, &--country-KG {
    background-image: url('./assets/images/flags/Kyrgyzstan.png');
  }
  &--country-119, &--country-KH {
    background-image: url('./assets/images/flags/Cambodia.png');
  }
  &--country-120, &--country-KI {
    background-image: url('./assets/images/flags/Kiribati.png');
  }
  &--country-121, &--country-KM {
    background-image: url('./assets/images/flags/Comoros.png');
  }
  &--country-122, &--country-KN {
    background-image: url('./assets/images/flags/Saint-Kitts-and-Nevis.png');
  }
  &--country-123, &--country-KP {
    background-image: url('./assets/images/flags/North-Korea.png');
  }
  &--country-124, &--country-KR {
    background-image: url('./assets/images/flags/South-Korea.png');
  }
  &--country-125, &--country-KW {
    background-image: url('./assets/images/flags/Kuwait.png');
  }
  &--country-126, &--country-KY {
    background-image: url('./assets/images/flags/Cayman-Islands.png');
  }
  &--country-127, &--country-KZ {
    background-image: url('./assets/images/flags/Kazakhstan.png');
  }
  &--country-128, &--country-LA {
    background-image: url('./assets/images/flags/Laos.png');
  }
  &--country-129, &--country-LB {
    background-image: url('./assets/images/flags/Lebanon.png');
  }
  &--country-130, &--country-LC {
    background-image: url('./assets/images/flags/Saint-Lucia.png');
  }
  &--country-131, &--country-LI {
    background-image: url('./assets/images/flags/Liechtenstein.png');
  }
  &--country-132, &--country-LK {
    background-image: url('./assets/images/flags/Sri-Lanka.png');
  }
  &--country-133, &--country-LR {
    background-image: url('./assets/images/flags/Liberia.png');
  }
  &--country-134, &--country-LS {
    background-image: url('./assets/images/flags/Lesotho.png');
  }
  &--country-135, &--country-LT {
    background-image: url('./assets/images/flags/Lithuania.png');
  }
  &--country-136, &--country-LU {
    background-image: url('./assets/images/flags/Luxembourg.png');
  }
  &--country-137, &--country-LV {
    background-image: url('./assets/images/flags/Latvia.png');
  }
  &--country-138, &--country-LY {
    background-image: url('./assets/images/flags/Libya.png');
  }
  &--country-139, &--country-MA {
    background-image: url('./assets/images/flags/Morocco.png');
  }
  &--country-140, &--country-MC {
    background-image: url('./assets/images/flags/Monaco.png');
  }
  &--country-141, &--country-MD {
    background-image: url('./assets/images/flags/Moldova.png');
  }
  &--country-142, &--country-ME {
    background-image: url('./assets/images/flags/Montenegro.png');
  }
  &--country-MF {
    background-image: url('./assets/images/flags/Saint-Martin.png');
  }
  &--country-143, &--country-MG {
    background-image: url('./assets/images/flags/Madagascar.png');
  }
  &--country-144, &--country-MH {
    background-image: url('./assets/images/flags/Marshall-Islands.png');
  }
  &--country-145, &--country-MK {
    background-image: url('./assets/images/flags/Macedonia.png');
  }
  &--country-146, &--country-ML {
    background-image: url('./assets/images/flags/Mali.png');
  }
  &--country-147, &--country-MM {
    background-image: url('./assets/images/flags/Myanmar.png');
  }
  &--country-148, &--country-MN {
    background-image: url('./assets/images/flags/Mongolia.png');
  }
  &--country-149, &--country-MO {
    background-image: url('./assets/images/flags/Macau.png');
  }
  &--country-150, &--country-MP {
    background-image: url('./assets/images/flags/Northern-Mariana-Islands.png');
  }
  &--country-151, &--country-MQ {
    background-image: url('./assets/images/flags/Martinique.png');
  }
  &--country-152, &--country-MR {
    background-image: url('./assets/images/flags/Mauritania.png');
  }
  &--country-153, &--country-MS {
    background-image: url('./assets/images/flags/Montserrat.png');
  }
  &--country-154, &--country-MT {
    background-image: url('./assets/images/flags/Malta.png');
  }
  &--country-155, &--country-MU {
    background-image: url('./assets/images/flags/Mauritius.png');
  }
  &--country-156, &--country-MV {
    background-image: url('./assets/images/flags/Maldives.png');
  }
  &--country-157, &--country-MW {
    background-image: url('./assets/images/flags/Malawi.png');
  }
  &--country-158, &--country-MX {
    background-image: url('./assets/images/flags/Mexico.png');
  }
  &--country-159, &--country-MY {
    background-image: url('./assets/images/flags/Malaysia.png');
  }
  &--country-160, &--country-MZ {
    background-image: url('./assets/images/flags/Mozambique.png');
  }
  &--country-161, &--country-NA {
    background-image: url('./assets/images/flags/Namibia.png');
  }
  &--country-162, &--country-NC {
    background-image: url('./assets/images/flags/New-Caledonia.png');
  }
  &--country-163, &--country-NE {
    background-image: url('./assets/images/flags/Niger.png');
  }
  &--country-164, &--country-NF {
    background-image: url('./assets/images/flags/Norfolk-Island.png');
  }
  &--country-165, &--country-NG {
    background-image: url('./assets/images/flags/Nigeria.png');
  }
  &--country-166, &--country-NI {
    background-image: url('./assets/images/flags/Nicaragua.png');
  }
  &--country-167, &--country-NL {
    background-image: url('./assets/images/flags/Netherlands.png');
  }
  &--country-168, &--country-NO {
    background-image: url('./assets/images/flags/Norway.png');
  }
  &--country-169, &--country-NP {
    background-image: url('./assets/images/flags/Nepal.png');
  }
  &--country-170, &--country-NR {
    background-image: url('./assets/images/flags/Nauru.png');
  }
  &--country-171, &--country-NU {
    background-image: url('./assets/images/flags/Niue.png');
  }
  &--country-172, &--country-NZ {
    background-image: url('./assets/images/flags/New-Zealand.png');
  }
  &--country-174, &--country-OM {
    background-image: url('./assets/images/flags/Oman.png');
  }
  &--country-\$O1 {
    background-image: url('./assets/images/flags/Unknown.png');
  }
  &--country-175, &--country-PA {
    background-image: url('./assets/images/flags/Panama.png');
  }
  &--country-176, &--country-PE {
    background-image: url('./assets/images/flags/Peru.png');
  }
  &--country-177, &--country-PF {
    background-image: url('./assets/images/flags/French-Polynesia.png');
  }
  &--country-178, &--country-PG {
    background-image: url('./assets/images/flags/Papua-New-Guinea.png');
  }
  &--country-179, &--country-PH {
    background-image: url('./assets/images/flags/Philippines.png');
  }
  &--country-180, &--country-PK {
    background-image: url('./assets/images/flags/Pakistan.png');
  }
  &--country-181, &--country-PL {
    background-image: url('./assets/images/flags/Poland.png');
  }
  &--country-PM {
    background-image: url('./assets/images/flags/Saint-Pierre-and-Miquelon.png');
  }
  &--country-184, &--country-PR {
    background-image: url('./assets/images/flags/Puerto-Rico.png');
  }
  &--country-185, &--country-PS {
    background-image: url('./assets/images/flags/Palestine.png');
  }
  &--country-186, &--country-PT {
    background-image: url('./assets/images/flags/Portugal.png');
  }
  &--country-187, &--country-PW {
    background-image: url('./assets/images/flags/Palau.png');
  }
  &--country-188, &--country-PY {
    background-image: url('./assets/images/flags/Paraguay.png');
  }
  &--country-189, &--country-QA {
    background-image: url('./assets/images/flags/Qatar.png');
  }
  &--country-190, &--country-RE {
    background-image: url('./assets/images/flags/Reunion.png');
  }
  &--country-191, &--country-RO {
    background-image: url('./assets/images/flags/Romania.png');
  }
  &--country-192, &--country-RS {
    background-image: url('./assets/images/flags/Serbia.png');
  }
  &--country-193, &--country-RU {
    background-image: url('./assets/images/flags/Russia.png');
  }
  &--country-194, &--country-RW {
    background-image: url('./assets/images/flags/Rwanda.png');
  }
  &--country-195, &--country-SA {
    background-image: url('./assets/images/flags/Saudi-Arabia.png');
  }
  &--country-196, &--country-SB {
    background-image: url('./assets/images/flags/Solomon-Islands.png');
  }
  &--country-197, &--country-SC {
    background-image: url('./assets/images/flags/Seychelles.png');
  }
  &--country-198, &--country-SD {
    background-image: url('./assets/images/flags/Sudan.png');
  }
  &--country-199, &--country-SE {
    background-image: url('./assets/images/flags/Sweden.png');
  }
  &--country-200, &--country-SG {
    background-image: url('./assets/images/flags/Singapore.png');
  }
  &--country-201, &--country-SH {
    background-image: url('./assets/images/flags/Saint-Helena.png');
  }
  &--country-202, &--country-SI {
    background-image: url('./assets/images/flags/Slovenia.png');
  }
  &--country-SJ {
    background-image: url('./assets/images/flags/Svalbard-and-Jan-Mayen.png');
  }
  &--country-204, &--country-SK {
    background-image: url('./assets/images/flags/Slovakia.png');
  }
  &--country-205, &--country-SL {
    background-image: url('./assets/images/flags/Sierra-Leone.png');
  }
  &--country-206, &--country-SM {
    background-image: url('./assets/images/flags/San-Marino.png');
  }
  &--country-207, &--country-SN {
    background-image: url('./assets/images/flags/Senegal.png');
  }
  &--country-208, &--country-SO {
    background-image: url('./assets/images/flags/Somalia.png');
  }
  &--country-209, &--country-SR {
    background-image: url('./assets/images/flags/Suriname.png');
  }
  &--country-SS {
    background-image: url('./assets/images/flags/South-Sudan.png');
  }
  &--country-210, &--country-ST {
    background-image: url('./assets/images/flags/Sao-Tome-and-Principe.png');
  }
  &--country-211, &--country-SV {
    background-image: url('./assets/images/flags/El-Salvador.png');
  }
  &--country-212, &--country-SY {
    background-image: url('./assets/images/flags/Syria.png');
  }
  &--country-213, &--country-SZ {
    background-image: url('./assets/images/flags/Swaziland.png');
  }
  &--country-214, &--country-TC {
    background-image: url('./assets/images/flags/Turks-and-Caicos-Islands.png');
  }
  &--country-215, &--country-TD {
    background-image: url('./assets/images/flags/Chad.png');
  }
  &--country-216, &--country-TF {
    background-image: url('./assets/images/flags/French-Southern-Territories.png');
  }
  &--country-217, &--country-TG {
    background-image: url('./assets/images/flags/Togo.png');
  }
  &--country-218, &--country-TH {
    background-image: url('./assets/images/flags/Thailand.png');
  }
  &--country-219, &--country-TJ {
    background-image: url('./assets/images/flags/Tajikistan.png');
  }
  &--country-220, &--country-TK {
    background-image: url('./assets/images/flags/Tokelau.png');
  }
  &--country-TL {
    background-image: url('./assets/images/flags/Timor-Leste.png');
  }
  &--country-222, &--country-TM {
    background-image: url('./assets/images/flags/Turkmenistan.png');
  }
  &--country-223, &--country-TN {
    background-image: url('./assets/images/flags/Tunisia.png');
  }
  &--country-224, &--country-TO {
    background-image: url('./assets/images/flags/Tonga.png');
  }
  &--country-225, &--country-TR {
    background-image: url('./assets/images/flags/Turkey.png');
  }
  &--country-226, &--country-TT {
    background-image: url('./assets/images/flags/Trinidad-and-Tobago.png');
  }
  &--country-227, &--country-TV {
    background-image: url('./assets/images/flags/Tuvalu.png');
  }
  &--country-228, &--country-TW {
    background-image: url('./assets/images/flags/Taiwan.png');
  }
  &--country-229, &--country-TZ {
    background-image: url('./assets/images/flags/Tanzania.png');
  }
  &--country-230, &--country-UA {
    background-image: url('./assets/images/flags/Ukraine.png');
  }
  &--country-231, &--country-UG {
    background-image: url('./assets/images/flags/Uganda.png');
  }
  &--country-UM {
    background-image: url('./assets/images/flags/United-States-Minor-Outlying-Island.png');
  }
  &--country-233, &--country-US {
    background-image: url('./assets/images/flags/United-States.png');
  }
  &--country-234, &--country-UY {
    background-image: url('./assets/images/flags/Uruguay.png');
  }
  &--country-235, &--country-UZ {
    background-image: url('./assets/images/flags/Uzbekistan.png');
  }
  &--country-236, &--country-VA {
    background-image: url('./assets/images/flags/Vatican-City.png');
  }
  &--country-237, &--country-VC {
    background-image: url('./assets/images/flags/Saint-Vincent-and-the-Grenadines.png');
  }
  &--country-238, &--country-VE {
    background-image: url('./assets/images/flags/Venezuela.png');
  }
  &--country-239, &--country-VG {
    background-image: url('./assets/images/flags/British-Virgin-Islands.png');
  }
  &--country-240, &--country-VI {
    background-image: url('./assets/images/flags/US-Virgin-Islands.png');
  }
  &--country-241, &--country-VN {
    background-image: url('./assets/images/flags/Vietnam.png');
  }
  &--country-242, &--country-VU {
    background-image: url('./assets/images/flags/Vanuatu.png');
  }
  &--country-243, &--country-WF {
    background-image: url('./assets/images/flags/Wallis-And-Futuna.png');
  }
  &--country-244, &--country-WS {
    background-image: url('./assets/images/flags/Samoa.png');
  }
  &--country-245, &--country-YE {
    background-image: url('./assets/images/flags/Yemen.png');
  }
  &--country-246, &--country-YT {
    background-image: url('./assets/images/flags/Mayotte.png');
  }
  &--country-247, &--country-ZA {
    background-image: url('./assets/images/flags/South-Africa.png');
  }
  &--country-248, &--country-ZM {
    background-image: url('./assets/images/flags/Zambia.png');
  }
  &--country-249, &--country-ZW {
    background-image: url('./assets/images/flags/Zimbabwe.png');
  }
  &--country-250, &--country-SX {
    background-image: url('./assets/images/flags/Saint-Martin.png');
  }
  &--country-251, &--country-PN {
    background-image: url('./assets/images/flags/Pitcairn-Islands.png');
  }
  &--country-253, &--country-CW {
    background-image: url('./assets/images/flags/Curacao.png');
  }
}
