<template>
  <router-view />
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { SwExtendedVue } from '@/shared/sw-extended-vue';

@Component
export default class Bootstrap extends SwExtendedVue {
}
</script>
