/* theme color are named as `$color--<theme>--*` */
$color-selected: #ff791a;
$color-selected-text: #333333;
$color-active: #47afe8;
$color-background-mat: #ffffff;
$color-default: #000000;

$color--dark--base: #68696b;
$color--dark--base-2: #65656a;
$color--dark--background: #333333;
$color--dark--mat: #000000;
$color--dark--mat-lighter: #1b1b1b;
$color--dark--border: $color-selected;
$color--dark--border-2: #7a7979;
$color--dark--highlight: #515151;
$color--dark--highlight-2: #434343;
$color--dark--text: #c9c9c9;
$color--dark--text-2: #999999;
$color--dark--text-disabled: #65656a;
$color--dark--slider: #666666;
$color--dark--icon: #cccccc;
$color--dark--icon-hover: #ffffff;
$color--dark--icon-selected: $color-selected;
$color--dark--step-default: #363636;
$color--light--base: #fafafa;
$color--light--background: $color--light--base;
$color--light--border: #cccccc;
$color--light--highlight: #f2f2f2;
$color--light--text: #333333;
$color--light--text-disabled: #cccccc;
$color--light--slider: #999999;
$color--light--icon: #868686;
$color--light--icon-hover: $color--light--text;
$color--light--icon-selected: $color-selected;

$color-status-critical: #cc0000;
$color-status-high: #ff0000;
$color-status-major: #ff9900;
$color-status-minor: #ffcc00;
$color-status-low: #efe47e;
$color-status-normal: #99cc00;
$color-status-unknown: #cccccc;
$color-status-informational: #47afe8;
$color-status-success: #99cc00;
$color-status-failed: #cc0000;
$color-status-inqueue: #ffcc00;
$color-status-inprogress: #cccccc;
$color-status-info-msg: #E4E4E4;

$color-filter-item-light: #029CDC;

$color-chart-palette-primary-1: #0DB6A3;
$color-chart-palette-primary-2: #CE8ABE;
$color-chart-palette-primary-3: #FDA348;
$color-chart-palette-primary-4: #E90076;
$color-chart-palette-primary-5: #787DB6;
$color-chart-palette-primary-6: #47AFE8;
$color-chart-palette-primary-7: #BBDB70;
$color-chart-palette-primary-8: #FF4229;
$color-chart-palette-primary-9: #FCCEC6;
$color-chart-palette-primary-10: #7DD7E0;

$color-chart-palette-secondary-1: #532456;
$color-chart-palette-secondary-2: #EFDDC0;
$color-chart-palette-secondary-3: #00778C;
$color-chart-palette-secondary-4: #006CB6;
$color-chart-palette-secondary-5: #EE5B62;
$color-chart-palette-secondary-6: #00778C;
$color-chart-palette-secondary-7: #E0B63B;
$color-chart-palette-secondary-8: #D7BEDC;
$color-chart-palette-secondary-9: #00A38A;
$color-chart-palette-secondary-10: #BEE2CA;
$color-chart-palette-secondary-11: #BBD3EB;
$color-chart-palette-secondary-12: #815283;
$color-chart-palette-secondary-13: #D23A95;
$color-chart-palette-secondary-14: #CEBEA4;
$color-chart-palette-secondary-15: #EDEBE4;
$color-chart-palette-secondary-16: #3788B0;
$color-chart-palette-secondary-17: #F9B19A;
$color-chart-palette-secondary-18: #FFE982;
$color-chart-palette-secondary-19: #80CFCC;
$color-chart-palette-secondary-20: #EDADBB;
