/* get the last part of parent selector. if the selectors are `.a .b, .c .d`, only `.d` will be returned */
@function getLastSelectorOfParent() {
  $lastCommaSep: nth(&, length(&));
  @return nth($lastCommaSep, length($lastCommaSep));
}

/* Use this function only when you nest element in modifier parent */
@function BEM_getParent() {
  $selector: inspect(getLastSelectorOfParent());
  $index: str-index($selector, '--') - 1;
  @return str-slice($selector, 1, $index);
}

/* $size could be 1, 2, 3, 4, 6, 8, 9, 12, 16, 24, which are according to Material Design */
@mixin normalized-shadow($size) {
  $shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 2px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.2);
  @if $size == 2 {
    $shadow: 0 0 4px rgba(0,0,0,.14), 0 3px 4px rgba(0,0,0,.12), 0 1px 5px rgba(0,0,0,.2);
  } @else if $size == 3 {
    $shadow: 0 3px 3px rgba(0,0,0,.14), 0 3px 4px rgba(0,0,0,.12), 0 1px 8px rgba(0,0,0,.2);
  } @else if $size == 4 {
    $shadow: 0 2px 4px rgba(0,0,0,.14), 0 4px 5px rgba(0,0,0,.12), 0 1px 10px rgba(0,0,0,.2);
  } @else if $size == 6 {
    $shadow: 0 6px 10px rgba(0,0,0,.14), 0 1px 18px rgba(0,0,0,.12), 0 3px 5px rgba(0,0,0,.2);
  } @else if $size == 8 {
    $shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 3px rgba(0,0,0,.12), 0 4px 15px rgba(0,0,0,.2);
  } @else if $size == 9 {
    $shadow: 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12), 0 5px 6px rgba(0,0,0,.2);
  } @else if $size == 12 {
    $shadow: 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12), 0 7px 8px rgba(0,0,0,.2);
  } @else if $size == 16 {
    $shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px rgba(0,0,0,.2);
  } @else if $size == 24 {
    $shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px rgba(0,0,0,.2);
  }

  box-shadow: $shadow;
}

@mixin focus-shadow {
  box-shadow: 0 0 0px 1px rgba($color--light--icon-selected,1);
}

@mixin edge-shadow($side: 'left', $strength: 5px, $opacity: 0.35, $color: #000000) {
  $xOffset: 0px;
  $yOffset: 0px;
  @if $side == 'left' { $xOffset: -$strength; }
  @else if $side == 'right' { $xOffset: $strength; }
  @else if $side == 'top' { $yOffset: -$strength; }
  @else if $side == 'bottom' { $yOffset: $strength; }

  box-shadow: $xOffset $yOffset 10px rgba($color, $opacity);
}
