$typo--roboto--font-family: 'Roboto', sans-serif;
$typo--roboto--font-weight-thin: 200;
$typo--roboto--font-weight-light: 300;
$typo--roboto--font-weight-regular: 400;
$typo--roboto--font-weight-medium: 500;
$typo--roboto--font-weight-bold: 700;
$typo--roboto--font-weight-black: 900;

$typo--nunito--font-family: 'Nunito Sans', sans-serif;
$typo--nunito--font-weight-extra-light: 200;
$typo--nunito--font-weight-light: 300;
$typo--nunito--font-weight-regular: 400;
$typo--nunito--font-weight-semi-bold: 600;
$typo--nunito--font-weight-bold: 700;
$typo--nunito--font-weight-extra-bold: 800;
$typo--nunito--font-weight-black: 900;

$typo-mobile-heading-1-font-family: $typo--nunito--font-family;
$typo-mobile-heading-1-font-weight:  $typo--nunito--font-weight-regular;
$typo-mobile-heading-1-font-size: 23px;

$typo-mobile-heading-2-font-family: $typo--nunito--font-family;
$typo-mobile-heading-2-font-weight:  $typo--nunito--font-weight-regular;
$typo-mobile-heading-2-font-size: 20px;

$typo-heading-1-font-family: $typo--nunito--font-family;
$typo-heading-1-font-weight: $typo--nunito--font-weight-regular;
$typo-heading-1-font-size: 43px;
$typo-heading-2-font-family: $typo--nunito--font-family;
$typo-heading-2-font-weight: $typo--nunito--font-weight-extra-light;
$typo-heading-2-font-size: 36px;
$typo-heading-3-font-family: $typo--nunito--font-family;
$typo-heading-3-font-weight: $typo--nunito--font-weight-semi-bold;
$typo-heading-3-font-size: 16px;
$typo-heading-4-font-family: $typo--nunito--font-family;
$typo-heading-4-font-weight: $typo--nunito--font-weight-bold;
$typo-heading-4-font-size: 14px;
$typo-heading-5-font-family: $typo--nunito--font-family;
$typo-heading-5-font-weight: $typo--nunito--font-weight-regular;
$typo-heading-5-font-size: 14px;
$typo-default-font-family: $typo--nunito--font-family;
$typo-default-font-weight: $typo--nunito--font-weight-light;
$typo-default-font-size: 13px;
$typo-field-label-font-family: $typo--nunito--font-family;
$typo-field-label-font-weight: $typo--nunito--font-weight-bold;
$typo-field-label-font-size: 13px;
$typo-field-value-font-family: $typo--nunito--font-family;
$typo-field-value-font-weight: $typo--nunito--font-weight-regular;
$typo-field-value-font-size: 13px;

$typo-line-height: 1.4;
