/** UUIF will use z-index ranging `1000-2000` for top-level positioning, sub-level positioning
 * could pick z-index less than 100.
 * We put all top-level z-index here so that we could organize them easily, and for your
 * convenience of reference.
 */

$zindex-regular-base: 1000;

$zindex-blocking: $zindex-regular-base + 990;
$zindex-confirm: $zindex-regular-base + 900;

$zindex-popper-base: $zindex-regular-base + 700;
$zindex-popper-dropdown: $zindex-popper-base + 1;
$zindex-popper-popover: $zindex-popper-dropdown + 1;
$zindex-popper-tooltip: $zindex-popper-popover + 1;

$zindex-modal-base: $zindex-regular-base + 500;

$zindex-overlay-base: $zindex-regular-base;
