<template>
  <div :class="[`${cssPrefix}`, 'sw-flexbox', 'sw-flexbox--column']" :style="{width: blockWidth}">
    <div class="sw-flexbox">
      <div :class="[`${cssPrefix}__divider`, `${pane>1?'':'sw-timepicker__divider--single'}`]"></div>
      <div class="sw-flexbox__flex"></div>
      <div v-if="pane > 1" :class="[`${cssPrefix}__divider`]"></div>
    </div>
    <div v-if="pane > 1" :class="[`${cssPrefix}__header`, 'sw-flexbox']">
      <span>{{ $t(`${i18nPathPrefix}.startTime`) }}</span>
      <span class="sw-flexbox__flex"></span>
      <span>{{ $t(`${i18nPathPrefix}.endTime`) }}</span>
    </div>
    <div class="sw-flexbox">
      <div :class="[`${cssPrefix}__pane`, `${pane>1?'':'sw-timepicker__pane--single'}`, 'sw-flexbox', 'sw-flexbox--column', 'sw-flexbox--between-justify']"
        :style="paneHeight"
        >
        <sw-slider v-model="hour" size="medium" :min="0" :max="23" as-block :theme="'dark'"></sw-slider>
        <sw-slider v-show="!disableMin" v-model="min" size="medium" :min="0" :max="59" as-block :theme="'dark'"></sw-slider>
        <sw-slider v-show="!effectiveDisableSec" v-model="sec" size="medium" :min="0" :max="59" as-block :theme="'dark'"></sw-slider>
      </div>
      <div v-if="pane > 1" :class="[`${cssPrefix}__labelview`, 'sw-flexbox', 'sw-flexbox--column', 'sw-flexbox--between-justify']" :style="paneHeight">
        <template><p :class="[`${cssPrefix}__label`, 'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']"><span>{{ $t(`${i18nPathPrefix}.hour`) }}</span></p></template>
        <template><p v-show="!disableMin" :class="[`${cssPrefix}__label`, 'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']"><span>{{ $t(`${i18nPathPrefix}.minute`) }}</span></p></template>
        <template><p v-show="!effectiveDisableSec" :class="[`${cssPrefix}__label`, 'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify']"><span>{{ $t(`${i18nPathPrefix}.second`) }}</span></p></template>
      </div>
      <div v-if="pane > 1" :class="[`${cssPrefix}__pane`, 'sw-flexbox', 'sw-flexbox--column', 'sw-flexbox--between-justify']" :style="paneHeight">
        <sw-slider v-model="hourEnd" size="medium" :min="0" :max="23" as-block theme="dark"></sw-slider>
        <sw-slider v-show="!disableMin" v-model="minEnd" size="medium" :min="0" :max="59" as-block theme="dark"></sw-slider>
        <sw-slider v-show="!effectiveDisableSec" v-model="secEnd" size="medium" :min="0" :max="59" as-block theme="dark"></sw-slider>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .sw-timepicker {
    // border-top: 1px solid $color--dark--base;
    padding: 0 10px 20px 10px;
    border-radius: 2px;
    background: $color--dark--background;

    &__divider {
      margin: 0 2.5%;
      width: 42.5%;
      border-top: 1px solid;
      border-top-color: $color--dark--base;

      &--single {
        margin-bottom: 10px;
        width: 95%;
      }
    }

    &__header {
      margin: 10px 2.5%;
    }

    &__pane {
      margin: 0 2.5%;
      width: 40%;

      &--single {
        width: 95%;
      }
    }

    &__labelview {
      width: 15%;
    }

    &__label {
      margin: 0;
      height: 24px;
      background: $color--dark--highlight;
      border-radius: 3px;
    }
  }
</style>
<script lang="ts">
import { Component, Prop, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '../sw-extended-vue';
import { SwSlider } from '../sw-slider';
import { TimeObj } from './types';
import { CSSStyleOptions } from '../common-types';
import moment from 'moment';

const i18nPathPrefix = 'libShared.SwDatetimePicker';

@Component({
  components: {
    SwSlider,
  },
})
export default class SwTimePicker extends SwExtendedVue {
  @Prop({ type: String, default: '00:00:00' })
  value: string;

  @Prop({ type: Boolean, default: false })
  enableRange: boolean;

  @Prop({ type: Boolean, default: false })
  disableMin: boolean;

  @Prop({ type: Boolean, default: false })
  disableSec: boolean;

  cssPrefix = 'sw-timepicker';
  i18nPathPrefix = i18nPathPrefix;

  hour: number = 0;
  min: number = 0;
  sec: number = 0;

  hourEnd: number = 0;
  minEnd: number = 0;
  secEnd: number = 0;

  mounted() {
    this.updateTimeObj();
  }

  @Watch('value')
  updateTimeObj() {
    const timeRange = this.value.split('->');
    if (timeRange.length > 1) {
      const timeEnd = this.parseTime(timeRange[1].split(':'));
      this.hourEnd = timeEnd.hour;
      this.minEnd = timeEnd.min;
      this.secEnd = timeEnd.sec;
    }
    const timeStart = this.parseTime(timeRange[0].split(':'));
    this.hour = timeStart.hour;
    this.min = timeStart.min;
    this.sec = timeStart.sec;
  }

  parseTime(timeStr: string[]): TimeObj {
    const timeArr: number[] = timeStr.map((time) => { return Number(time); });
    return {
      hour: timeArr[0] !== undefined ? timeArr[0] : 0,
      min: timeArr[1] !== undefined ? timeArr[1] : 0,
      sec: timeArr[2] !== undefined ? timeArr[2] : 0,
    };
  }

  @Watch('hour')
  @Watch('min')
  @Watch('sec')
  @Watch('hourEnd')
  @Watch('minEnd')
  @Watch('secEnd')
  updateTimeValue() {
    this.$emit('input', this.timeStr);
  }

  // if disabledMin, then disableSec also.
  get effectiveDisableSec(): boolean {
    return this.disableMin || this.disableSec;
  }

  get timeStr() {
    const timeFormat = `HH:mm${!this.effectiveDisableSec ? ':ss' : ''}`;
    // 2000-1-1 is just a placeholder..
    const startTime: moment.Moment = moment(`2000-1-1 ${this.hour}:${this.min}:${this.sec}`);
    const endTime: moment.Moment = moment(`2000-1-1 ${this.hourEnd}:${this.minEnd}:${this.secEnd}`);
    return `${startTime.format(timeFormat)}->${endTime.format(timeFormat)}`;
  }

  get pane() {
    return this.enableRange ? 2 : 1;
  }

  get blockWidth() {
    return `${this.pane * 228}px`;
  }

  get paneHeight(): CSSStyleOptions {
    const labelNum = 1 + +!this.disableMin + +!this.effectiveDisableSec;
    return {
      height: `${labelNum * 33}px`,
    };
  }

}
</script>
