<template>
  <div class="sw-map-zoom sw-flexbox sw-flexbox--column sw-flexbox--center-items sw-flexbox--center-justify"
    @click.stop="handler"
    @dblclick.stop="handler"
    @mousedown.stop="handler"
    @pointerdown.stop="handler"
    @mouseover.stop="handler"
  >
    <sw-icon-button :icon="{name:'topo-home'}" @click.native="handleResetBtn"></sw-icon-button>
    <!-- <sw-icon-button :icon="{name:'topo-compass'}"></sw-icon-button> -->
    <!-- <sw-icon-button :icon="{name:'topo'}"></sw-icon-button> -->
    <sw-icon-button :icon="{name:'topo-zoom-in'}" @click.native="handleZoomBtn('in')"></sw-icon-button>
    <sw-slider
      :class="['sw-map-zoom__slider']"
      ref="zoomSlider"
      :max="maxZoom"
      :value="value"
      size="small"
      vertical
      @change="handleChange"
    ></sw-slider>
    <sw-icon-button :icon="{name:'topo-zoom-out'}" @click.native="handleZoomBtn('out')"></sw-icon-button>
  </div>
</template>
<style lang="scss">
.sw-map-zoom {
  padding: $padding-primary-small;
  background: rgba($color-background-mat, .4);
  border-radius: 3px;

  &__slider {
    height: 87px;
  }
}
</style>
<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../../sw-extended-vue';
import { SwSlider } from '../../sw-slider';
import { SwIconButton } from '../../sw-icon-button';

/**
 * @event zoom-change `(value: number)`
 * @event reset-map `()`
 */
@Component({
  components: {
    SwSlider,
    SwIconButton,
  },
})
export default class SwMapZoom extends SwExtendedVue {
  @Prop({ type: Number, default: 1 })
  value: number;

  @Prop({ type: Number, required: true })
  maxZoom: number;

  handler(evt: Event) {
    evt.stopPropagation();
  }

  // receive slider evt.
  handleChange(value: number) {
    this.$emit('zoom-change', value);
  }

  handleZoomBtn(dir: 'in' | 'out') {
    if (dir === 'in') {
      (this.$refs.zoomSlider as SwSlider).increaseValue();
    } else {
      (this.$refs.zoomSlider as SwSlider).decreaseValue();
    }
  }
  handleResetBtn() {
    this.$emit('reset-map');
  }
}
</script>
