<template>
<div :class="[`${cssPrefix}`, 'sw-flexbox', 'sw-flexbox--column', 'sw-flexbox--center-items']">
  <template v-for="layer in reverseLayers">
    <div :key="layer.id" :class="[`${cssPrefix}__layer`,
        'sw-flexbox', 'sw-flexbox--center-items', 'sw-flexbox--center-justify',
        {
          [`${cssPrefix}__layer--selected`]: layer.id === value,
        },
      ]"
    >
      <div :class="[`${cssPrefix}__layer-actions`, 'sw-flexbox__flex-none',
          'sw-flexbox', 'sw-flexbox--end-justify', 'sw-flexbox--center-items',
        ]"
      >
        <sw-icon-button v-for="action in layer.actions"
          :key="action.key"
          :class="['sw-flexbox__flex-none']"
          :icon="action.icon"
          @click.native="onClickAction(layer, action)"
        />
      </div>
      <div :class="[`${cssPrefix}__layer-name`, 'sw-flexbox__flex-none', 'sw-typo-default']" @click="onSelectLayer(layer)">{{ layer.name }}</div>
      <div :class="[`${cssPrefix}__layer-piece`]" @click="onSelectLayer(layer)"></div>
    </div>
  </template>
</div>
</template>
<style lang="scss">
  .sw-map-layer {
    $cssPrefix: '.sw-map-layer';

    width: 40px;
    overflow: visible;

    &__layer {
      width: 100%;
      height: 24px;
      overflow: visible;
      perspective: 400px;
      perspective-origin: 160px -160px;
      transform-style: flat;
      position: relative;

      &--selected {
        #{$cssPrefix}__layer-piece {
          background: $color-selected;
          border: none;
        }
      }

      &:hover > #{$cssPrefix}__layer-actions {
        display: flex;
      }
    }

    &__layer-piece {
      position: absolute;
      top: -8px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 40px;
      transform: rotateX(90deg);
      background: $color--light--background;
      border: 2px solid $color--light--icon;
      box-shadow: 5px 5px 10px rgba($color-default, .35);
      cursor: pointer;

      &:hover {
        border-color: $color-selected;
      }
    }

    &__layer-name {
      font-weight: $typo--nunito--font-weight-regular;
      white-space: nowrap;
      z-index: 2;
      cursor: pointer;
      text-shadow: 1px 1px rgba(white, .5);

      &:hover + #{$cssPrefix}__layer-piece {
        border-color: $color-selected;
      }
    }

    &__layer-actions {
      display: none;
      width: 0;
      overflow: visible;
    }
  }
</style>
<script lang="ts">
import { Component, Prop, Model, Inject } from 'vue-property-decorator';
import { SwExtendedVue } from '../../sw-extended-vue';
import { SwIconButton } from '../../sw-icon-button';
import { MapControlledLayer } from './types';
import { DetailViewLayerAction } from '../types';
import SwMap from '../sw-map.vue';

/**
 * @event change `(layerId: string)`
 */
@Component({
  components: {
    SwIconButton,
  },
})
export default class SwMapLayer extends SwExtendedVue {
  @Model('change', { type: String, required: true })
  value: string;

  @Prop({ type: Array, required: true })
  layers: MapControlledLayer[];

  cssPrefix: string = 'sw-map-layer';

  get reverseLayers(): MapControlledLayer[] {
    return this.layers.reverse();
  }

  @Inject()
  claimLayerAction: SwMap['claimLayerAction'];

  onSelectLayer(layer: MapControlledLayer) {
    if (layer.id !== this.value) {
      this.$emit('change', layer.id);
    }
  }

  onClickAction(layer: MapControlledLayer, action: DetailViewLayerAction) {
    this.claimLayerAction(layer.id, action.key);
  }
}
</script>
