<template>
<div
  :class="[`${cssPrefix}`, 'sw-typo-default',
    `sw-flexbox`, `sw-flexbox--center-items`, `sw-flexbox--center-justify`,
    `sw-flexbox--${effectiveTextPosition}`,
  ]"
>
  <div
    :class="[`${cssPrefix}__button`, 'sw-flexbox__flex-none',
      'sw-flexbox', 'sw-flexbox--center-items', `sw-flexbox--center-justify`,
      {
        [`${cssPrefix}__button--no-border`]: noBorder,
        [`${cssPrefix}__button--disabled`]: disabled,
      },
    ]"
    @mouseenter="onMouseEnter"
    @mouseleave="onMouseLeave"
    @mousedown="onMouseDown"
    @mouseup="onMouseUp"
    @mousewheel="onMouseWheel"
    @click="onClick"
    @mouseout="onMouseOut"
    @mouseover="onMouseOver"
  >
    <span>
      <sw-icon v-bind="effectiveButtonIcon" as-block></sw-icon>
    </span>
  </div>
  <div
    :class="[`${cssPrefix}__text`, 'sw-flexbox__flex', { [`${cssPrefix}__text--wrap`]: breakWord }]"
    v-if="hasText()"
  ><slot></slot></div>
</div>
</template>

<style lang="scss">
.sw-circular-button {
  overflow: visible;
  &__button {
    width: 52px;
    height: 52px;
    color: $color--light--icon;
    border: 1px solid $color--light--icon;
    border-radius: 50%;
    cursor: pointer;

    &--no-border {
      border: none;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $color--light--text;
      border: 1px solid $color-selected;
    }

    &:active {
      color: $color--light--text;
      background-color: $color-selected;
    }

    &--disabled {
      color: $color--light--text-disabled;
      background-color: $color--light--highlight;
      border-color: $color--light--text-disabled;
      cursor: not-allowed;

      &:hover {
        color: $color--light--text-disabled;
        border-color: $color--light--text-disabled;
        pointer-events: none;
      }

      &:focus {
        pointer-events: none;
      }

      &:active {
        color: $color--light--text-disabled;
        background-color: $color--light--highlight;
        pointer-events: none;
      }
    }
  }

  &__text {
    text-transform: uppercase;
    padding: 6px $padding-primary-small;
    color: $color-selected-text;
    font-weight: $typo--nunito--font-weight-regular;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    user-select: none;

    &--wrap {
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwIcon, IconConfig } from '../sw-icon';
import { SwExtendedVue } from '../sw-extended-vue';
import { utilService } from '../util-service';

const cssPrefix: string = 'sw-circular-button';

/**
 * @event mouseenter
 * @event mouseleave
 * @event mousedown
 * @event mouseup
 * @event click
 * @event mouseout
 * @event mouseover
 */
@Component({
  components: {
    SwIcon,
  },
})
export default class SwCircularButton extends SwExtendedVue {
  cssPrefix: string = cssPrefix;

  @Prop({ type: String, default: 'default' })
  textPosition: 'default' | 'right';

  @Prop({ type: [String, Object], required: true })
  icon: string | IconConfig;

  @Prop({ type: String, default: utilService.colorConst.selected })
  buttonColor: string;

  @Prop({ type: Boolean, default: false })
  noBorder: boolean;

  @Prop({ type: Boolean, default: false })
  disabled: boolean;

  @Prop({ type: Boolean, default: false })
  breakWord: boolean;

  get effectiveButtonIcon(): IconConfig {
    return Object.assign(
      { size: 20 },
      typeof this.icon === 'string' ? { name: this.icon } : this.icon,
    );
  }

  get effectiveTextPosition(): string {
    return this.textPosition === 'right' ? 'row' : 'column';
  }

  private hasText() {
    const slot = utilService.getVueScopedSlot(this.$scopedSlots);
    return slot.length > 0;
  }

  private onMouseEnter(event: MouseEvent) {
    this.$emit('mouseenter', event);
  }

  private onMouseLeave(event: MouseEvent) {
    this.$emit('mouseleave', event);
  }

  private onMouseDown(event: MouseEvent) {
    this.$emit('mousedown', event);
  }

  private onMouseUp(event: MouseEvent) {
    this.$emit('mouseup', event);
  }

  private onMouseWheel(event: MouseEvent) {
    this.$emit('mousewheel', event);
  }

  private onClick(event: MouseEvent) {
    this.$emit('click', event);
  }

  private onMouseOut(event: MouseEvent) {
    this.$emit('mouseout', event);
  }

  private onMouseOver(event: MouseEvent) {
    this.$emit('mouseover', event);
  }
}
</script>
