
<template>
  <div :class="['sw-tree-dropdown-unit',
                { [`${cssPrefix}--disabled`]: disabled },]">
    <slot></slot>
  </div>
</template>

<style lang="scss">
  .sw-tree-dropdown-unit {
    // border-bottom: solid 1px #666666;
    min-height: 20px;
    vertical-align: middle;
    padding: 1px 10px;
    min-width: 450px;
    background-color: #3d3d3d;

    &:hover {
      background-color: #515151;
      cursor: pointer;
    }

    &--disabled {
      &#{BEM_getParent()}:hover {
        background-color: #3d3d3d;
        cursor:  not-allowed;
      }
    }
  }
</style>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { SwExtendedVue } from '../../sw-extended-vue';

@Component
export default class SwTreeDropdownUnit extends SwExtendedVue {

  cssPrefix = 'sw-tree-dropdown-unit';

  @Prop({ type: Boolean, required: false, default: false })
  disabled: boolean;
}
</script>
